<template>
  <transition name="slide-fade">
    <div>
      <h3 class="title-main text-center">
        <span class="mar-left-10">mis actividades</span>
      </h3>
      <q-layout class="layout-padding padding-list">
        <q-list separator no-border v-if="data.length > 0">
          <!-- <q-item v-for="(item, i) in data" :key="i">
                      
                        <q-item-main>
                            <q-item-tile label lines="1">{{item.description}}</q-item-tile>
                            <q-item-tile sublabel lines="1">Cantidad : Q {{item.amount.toFixed(2)}} </q-item-tile>
                            <q-item-tile sublabel lines="1">Fecha : {{item.date}}</q-item-tile>
                        </q-item-main>
          </q-item>-->

          <q-item v-for="(item, i) in data" :key="i" class="money-item item-list">
            <q-item-main>
              <q-item-tile label lines="1" class="title-list">{{item.description}}</q-item-tile>
              <q-item-tile sublabel class="sublabel-list">Fecha : {{item.date}}</q-item-tile>
              <q-item-tile sublabel lines="1" class="sublabel-list">Monto : Q{{item.amount}}</q-item-tile>
            </q-item-main>
            <q-item-side right>
              <div class="negative" v-if="item.type == 'MINUS'">
                <div class="money">
                  <img src="statics/img/arrowDonw.jpg" alt>
                  <!-- Q
                                    <div class="money-amount">
                                        {{ item.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </div>-->
                </div>
              </div>
              <div class="positive" v-else>
                <div class="money">
                  <!-- <q-btn size="sm" icon="fas fa-plus" flat round color="positive" no-ripple>
                  </q-btn>-->
                  <!-- Q
                                    <div class="money-amount">
                                        {{ item.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </div>-->
                  <img src="statics/img/arrowTop.jpg" alt>
                </div>
              </div>
            </q-item-side>
          </q-item>
        </q-list>
        <div v-else class="center">
          <div v-if="statusData.text == 'DATA_EMPTY'">
            <!-- <span class="text">   {{statusData.text}}</span>
                        <span class="blob1 blob" v-if="statusData.isLoading"></span>
                        <span class="blob2 blob"  v-if="statusData.isLoading"> </span>
            <span class="blob3 blob"  v-if="statusData.isLoading"></span>-->

            <img src="statics/img/activityUser.jpg" alt class="img-not-found max-img">
            <div class>No ha realizado ninguna actividad.</div>
          </div>
        </div>
      </q-layout>
    </div>
  </transition>
</template>

<script>
import * as notifyMessage from "../../script/notify";
import MixinMonth from "../MenuCalendar/Mixin/MixinMonth";
export default {
  components: {},
  created() {
    this.getData();
  },
  data() {
    return {
      data: [],

      columns: [
        {
          name: "description",
          required: true,
          label: "Descripcion",
          align: "left",
          field: "description",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "amount",
          required: true,
          label: "Monto",
          align: "left",
          field: "amount",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        },
        {
          name: "date",
          required: true,
          label: "Fecha",
          align: "left",
          field: "date",
          sortable: true,
          classes: "my-class",
          style: "width: 500px"
        }
      ],

      filter: "",
      loading: true,
      statusData: {
        text: "",
        isLoading: true
      }
    };
  },
  mixins: [MixinMonth],
  methods: {
    getData() {
      let model = {
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_getActivity",
        model: model
      };
      this.$q.loading.show();
      // this.loading = true

      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          // this.loading = false
          this.data = this.formaterData(result.data.data);
          if (this.data.length == 0) {
            this.statusData.text = "DATA_EMPTY";
          }
        })
        .catch(error => {
          this.$root.$emit("ERROR_LOAD");

          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
    
          // this.loading = false
        });
    },
    formaterData(data) {
      let newData = [];
      data.forEach(item => {
        let model = item;
        model.date = this.formaterDate(item.date);
        // model.date = this.getCurretnNameDay(new Date(item.date))
        newData.push(model);
      });
      return newData;
    },
    formaterDate(dateFormat) {
      var date = new Date(dateFormat);
      var dd = date.getDate();
      var mm = date.getMonth() + 1; //January is 0!

      var yyyy = date.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      var newDate = dd + "/" + mm + "/" + yyyy;
      return newDate;
    }
  },
  mounted() {},
  computed: {}
};
</script>

<style scope="local">
</style>
