<template>
  <q-layout>
    <h3 class="title-main text-center">
      <span class="mar-left-10">Historial de recargas</span>
    </h3>
    <current-money></current-money>
    <amount-list></amount-list>
  </q-layout>
</template>

<script>
import CurrentMoney from "./CurrentMoney";
import AmountList from "../RequestAmount/AmountList";
export default {
  components: {
    CurrentMoney,
    AmountList
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

