<template>
  <q-layout class="layout-padding">
    <div class="row">
      <div class="col-md-12 col-xs-12 rowChild">
        <p class="title-money text-center">tu saldo es :</p>
        <p v-if="data != null" class="available-money center" color="primary">Q{{data}}</p>
        <p v-else class="center available-money">Q 0.00</p>
      </div>
    </div>
  </q-layout>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import * as notifyMessage from "../../script/notify";
export default {
  data() {
    return {
      data: null,
      statusData: {
        text: ""
      }
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      let model = {
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_getAvailableMoney",
        model: model
      };
      this.$q.loading.show();
      // this.loading = true
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();

          this.data = result.data.data[0].available_money;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
          // this.loading = false
          this.$root.$emit("ERROR_LOAD");
        });
    }
  },
  mounted() {
    this.$root.$on("getMoney", () => {
      this.getData();
    });
  }
};
</script>

<style>
.textDisp {
  padding: 20px;
}
.available-money {
  /* font-family: 'Major Mono Display', monospace; */
  font-size: 4em;
  color: #444;
  /* margin-top: -10px */
}
.title-money {
  font-size: 2.5em;
  margin-bottom: 0px;
}
</style>
