<template>
  <q-layout>
    <transition
      appear
      enter-active-class="animated bounceInRight"
      leave-active-class="animated bounceOutRight"
    >
      <div class="container" animate-fade>
        <div class="scroll">
          <q-tabs animated class="calendar-tabs">
            <q-tab default slot="title" name="tab-week" label="SEMANA" class="tab-calendar"/>
            <q-tab
              slot="title"
              name="tab-month"
              label="MES"
              class="tab-calendar"
              @click="tabMonth"
            />
            <q-tab-pane name="tab-week">
              <q-tabs class="tab-card" v-model="selectedSon">
                <q-tab
                  :class="{'tab-week-son' : dataMenu.length > 1}"
                  slot="title"
                  :name="item.id_son + '-tab'"
                  :label="getNameSon(item.name)"
                  :style="{ 'background': item.color  }"
                  v-for="(item, index) in dataMenu"
                  :key="index"
                  @click.native="changeSon(item, index)"
                >
                  <!-- <q-checkbox
                    v-if="dataMenu.length > 1"
                    color="white"
                    @click.native="selectSon(item)"
                    keep-color
                    class="check-son"
                    v-model="checkedSon[index].state"
                  /> -->
                </q-tab>
                <q-tab-pane
                  v-for="(item, index) in dataMenu"
                  :key="index"
                  :name="item.id_son + '-tab'"
                >
                  <week
                    :data-menu="item.menus"
                    @next="next"
                    @back="back"
                    ref="weekRef"
                    @back-days="backDays"
                    @next-days="nextDays"
                    :cheked-son="checkedSon"
                    @reset="reset"
                    :id-son="currentIdSon"
                    :num-selected-son="numSelectedSon"
                  ></week>
                </q-tab-pane>
              </q-tabs>
            </q-tab-pane>
            <q-tab-pane name="tab-month">
              <q-tabs class="tab-card" v-model="selectedSon">
                <q-tab
                  slot="title"
                  :name="item.id_son + '-tab'"
                  :label="getNameSon(item.name)"
                  :style="{ 'background': item.color  }"
                  v-for="(item, index) in dataMenu"
                  :key="index"
                  @click.native="changeSon(item, index)"
                ></q-tab>
                <q-tab-pane
                  v-for="(item, index) in dataMenu"
                  :key="index"
                  :name="item.id_son + '-tab'"
                  animated
                >
                  <month
                    :data-menu="item.menus"
                    @back="next"
                    @next="back"
                    @reset="reset"
                    :cheked-son="checkedSon"
                    :id-son="currentIdSon"
                  ></month>
                </q-tab-pane>
              </q-tabs>
            </q-tab-pane>
          </q-tabs>
        </div>
        <div class="line-calendar"></div>
        <div class="container-menu-calendar">
          <div
            class="item-menu-calendar position-relative"
            v-ripple
            @click="openedAvailableMoney = true"
          >
            <img src="statics/img/money.png" alt="Money" class="img-menu-calendar">
          </div>
          <div class="item-menu-calendar position-relative" v-ripple @click="goAccount()">
            <img src="statics/img/user2.png" alt="User" class="img-menu-calendar">
          </div>
          <div class="item-menu-calendar position-relative" v-ripple @click="goActivity()">
            <img src="statics/img/activity.png" alt class="img-menu-calendar">
          </div>
          <q-btn 
            color="yellow-10" 
            round 
            icon="add" 
            v-if="showMultiple" 
            @click="setMultiple"
            >
          </q-btn>
        </div>
    
        <template>
          <q-modal
            v-model="openedAvailableMoney"
            minimized
            @hide="hideModalMoney"
            content-css="padding : 20px 0px"
          >
            <current-money ref="money"></current-money>
          </q-modal>
        </template>
      </div>
    </transition>
  </q-layout>
</template>

<script>
import MixinWeek from "./Mixin/MixinWeek";
import Month from "./Month";
import Week from "./Week";
import * as notifyMessage from "../../script/notify";
import * as mixinDate from "./Mixin/MixinDate";
import CurrentMoney from "../Money/CurrentMoney";
import { colorMen, colorWonan, colorCalendar } from "../../script/color";
export default {
  components: {
    Month,
    Week,
    CurrentMoney
  },
  mixins: [MixinWeek],
  data() {
    return {
      currentDate: new Date(),
      dataMenu: [],
      colorSon: [],
      hola: false,
      selectedSon: null,
      checkedSon: [],
      currentIdSon: null,
      currentMenus: [],

      multiMenu: [],
      isSelectingSon: false,
      numSelectedSon: 1,
      openedAvailableMoney: false,
      showMultiple:false
    };
  },
  created() {
 
    this.currentDate = this.setDate(this.currentDate);
    window.localStorage.setItem("CURRENT_DATE", this.currentDate);
    this.$q.loading.show();
    this.getData(true);

    this.$root.$on("show-multiple", (value) => {
      if(value[0] || value[1] || value[2] || value[3] || value[4])
        this.showMultiple = true
      else
        this.showMultiple = false
    });
  },
  methods: {
    setDate(date) {
      if (date.getDay() == 0) {
        date.setDate(date.getDate() + 1);
      } else if (date.getDay() == 6) {
        date.setDate(date.getDate() - 1);
      }

      return date;
    },
    setMultiple(){
      this.$refs.weekRef[0].chooseMenuMulti()
    },
    getData(isPostBack) {
      this.$root.$emit("getMoney");
      this.currentDate = new Date(window.localStorage.getItem("CURRENT_DATE"));
      let date =
        this.currentDate.getFullYear() +
        "-" +
        (this.currentDate.getMonth() + 1) +
        "-" +
        this.currentDate.getDate();
      let model = {
        id_user: window.localStorage.getItem("USER_ID"),
        current_date: date
      };

      var requestBody = {
        sp: "sp_getDetailMenu",
        model: model,
        isMenu: "true"
      };

      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();

          try {
            if (result.data.data.length > 0) {
              this.dataMenu = result.data.data;
              console.log(this.dataMenu);

              this.dataWithColor(this.dataMenu);

              this.initUtilCalendar(isPostBack);
              if (this.isSelectingSon) {
                this.selectSon();
              }
              // this.getMultiMenu()
            }
          } catch (error) {
            notifyMessage.showNotify(this.$q, 0, "Error al obtener datos");
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
          this.$root.$emit("ERROR_LOAD");
        });
    },
    initUtilCalendar(isPostBack) {
      this.numSelectedSon = 1;
      this.checkedSon = [];
      this.dataMenu.forEach(item => {
        let modelCheck = {
          state: false,
          id_son: item.id_son,
          color: item.color
        };
        this.checkedSon.push(modelCheck);
      });

      if (isPostBack) {
        this.currentIdSon = this.dataMenu[0].id_son;
        this.selectedSon = this.currentIdSon + "-tab";
        this.currentMenus = this.dataMenu[0].menus;
        window.localStorage.setItem("CURRENT_ID_SON", this.currentIdSon);
      }
      if (!isPostBack) {
        this.dataMenu.forEach((item, index) => {
          if (item.id_son == this.currentIdSon) {
            this.currentMenus = this.dataMenu[index].menus;
          }
        });
      }

      this.checkCurrentSon();
    },
    selectSon() {
      this.multiMenu = [];
      this.checkCurrentSon();

      this.numSelectedSon = 0;
       
      this.dataMenu.forEach((item, index) => {
        if (item.id_son == this.currentIdSon) {
          this.dataMenu[index].menus = this.currentMenus;
        }
      });
      this.checkedSon.forEach(item => {
        if (item.state) {
          this.numSelectedSon++;
          this.addMenus(item.id_son);
        }
      });

      this.dataMenu.forEach((item, index) => {
        if (item.id_son == this.currentIdSon) {
          this.dataMenu[index].menus = this.multiMenu;
        }
      });

      this.isSelectingSon = true;
      this.$forceUpdate();
      if (this.numSelectedSon == 1) {
        this.isSelectingSon = false;
        this.setCurrentMenu();
      }

      // this.$root.$emit("NUM_SELECT_SON", numSelectSon)
    },
    addMenus(id_son) {
      let conterMenu = 0;
      let arrayWeek = this.buildArrayWeek();
      let dataSon = [];
      this.dataMenu.forEach((item, index) => {
        if (item.id_son == id_son) {
          dataSon = item;
        }
      });

      arrayWeek.forEach(date => {
        if (this.hasMenuFromDate(date, dataSon.menus)) {
          this.getMenuFromDate(date, dataSon.menus);
        } else {
          conterMenu++;
          let model = {
            id_detail_menu: this.generateID(),
            color: "#FFF",
            start: {
              date: date
            }
          };
          this.multiMenu.push(model);
        }
      });

      if (conterMenu == 5) {
        this.multiMenu.splice(this.multiMenu.length, 5);
      }
    },

    getMenuFromDate(date, dataMenu) {
      if (date) {
        dataMenu.forEach(item => {
          if (item) {
            // let date2 = new Date(item.start.date);
            // let strDate2 =
            //   date2.getFullYear() +
            //   "-" +
            //   (date2.getMonth() + 1) +
            //   "-" +
            //   date2.getDate();
            // let strDate =
            //   date.getFullYear() +
            //   "-" +
            //   (date.getMonth() + 1) +
            //   "-" +
            //   date.getDate();
            // if (strDate == strDate2) {
            //   this.multiMenu.push(item);
            // }///

            if (item.start.date instanceof Date == true) {
              var tempDate = item.start.date
              tempDate = tempDate.setHours(0,0,0,0)
              item.start.date = new Date (tempDate).toISOString()
            }
            var tempDate2 = new Date(date)
            tempDate2.setHours(0,0,0,0)
            date = new Date(tempDate2).toISOString()

            if (item.start.date instanceof Date == false) {
              //cuando la fecha viene en formato Iso, no se puede hacer el substring
              if (
                item.start.date.substring(0, 10) ==
                date.substring(0, 10)
              ) {
                this.multiMenu.push(item);
              }
            } else console.log("no es instancia getMenuFromDate");
          }
        });
      }
    },
    hasMenuFromDate(date, dataMenu) {
      let flag = false;
      if (date) {
        dataMenu.forEach(item => {
          if (item) {
            // let date2 = new Date(item.start.date);
            // let strDate2 =
            //   date2.getFullYear() +
            //   "-" +
            //   (date2.getMonth() + 1) +
            //   "-" +
            //   date2.getDate();
            // let strDate =
            //   date.getFullYear() +
            //   "-" +
            //   (date.getMonth() + 1) +
            //   "-" +
            //   date.getDate();
            // if (strDate == strDate2) {
            //   flag = true;
            // }
            if (item.start.date instanceof Date == true) {
              var tempDate = item.start.date
              tempDate = tempDate.setHours(0,0,0,0)
              item.start.date = new Date (tempDate).toISOString()
            }
            var tempDate2 = new Date(date)
            tempDate2.setHours(0,0,0,0)
            date = new Date(tempDate2).toISOString()

            if (item.start.date instanceof Date == false) {
              //cuando la fecha viene en formato Iso, no se puede hacer el substring
              if (
                item.start.date.substring(0, 10) ==
                date.substring(0, 10)
              ) {
                flag = true;
              }
            } else console.log("no es instancia hasMenuFromDate");
          }
        });
      }
      return flag;
    },

    next() {
      this.$q.loading.show();
      this.getData(false);
    },
    back() {
      this.$q.loading.show();
      this.getData(false);
    },
    nextDays() {
      if (this.isSelectingSon) {
        this.selectSon();
      }
    },
    backDays() {
      if (this.isSelectingSon) {
        this.selectSon();
      }
    },

    dataWithColor(data) {
      if (this.colorSon.length == 0) {
        this.dataColorSon();
      }

      data.forEach((item, index) => {
        let isAssignedColor = false;
        do {
          isAssignedColor = false;
          let color = this.getDataColor();
          this.dataMenu.forEach((element, index) => {
            if (element.color == color) {
              isAssignedColor = true;
            }
          });
          if (!isAssignedColor) {
            this.dataMenu[index].color = color;
            this.dataMenu[index].menus.forEach((menu, i) => {
              this.dataMenu[index].menus[i].color = color;

              this.dataMenu[index].menus[i].id_son = item.id_son;
            });
          }
        } while (isAssignedColor);
      });
    },
    getDataColor() {
      let random = Math.floor(Math.random() * this.colorSon.length + 0);
      return this.colorSon[random];
    },
    dataColorSon() {
      this.colorSon.push(colorMen.blue);
      this.colorSon.push(colorMen.indigo);
      this.colorSon.push(colorMen.green);
      this.colorSon.push(colorMen.orange);
      this.colorSon.push(colorMen.deep_orange);
      this.colorSon.push(colorMen.amber);
      this.colorSon.push(colorMen.cyan);
      this.colorSon.push(colorMen.purple);
      this.colorSon.push(colorMen.deep_purple);
      this.colorSon.push(colorMen.ligth_green);
      this.colorSon.push(colorMen.ligth_blue);
    },
    changeSon(item, index) {
      if (this.isSelectingSon) {
        this.dataMenu.forEach((item, index) => {
          if (item.id_son == this.currentIdSon) {
            this.dataMenu[index].menus = this.currentMenus;
          }
        });
      }
      this.multiMenu = [];
      this.currentIdSon = item.id_son;
      this.selectedSon = item.id_son + "-tab";
      this.resetCheckSon();
      window.localStorage.setItem("CURRENT_ID_SON", this.currentIdSon);
      this.checkedSon[index].state = !this.checkedSon[index].state;
      this.currentMenus = item.menus;

      this.isSelectingSon = false;
      this.numSelectedSon = 1;
    },
    checkCurrentSon() {
      this.checkedSon.forEach((item, index) => {
        if (item.id_son == this.currentIdSon)
          this.checkedSon[index].state = true;
      });
    },
    setCurrentMenu() {
      this.dataMenu.forEach((item, index) => {
        if (item.id_son == this.currentIdSon) {
          this.currentMenus.forEach((element, i) => {
            if (element.color == "#FFF") {
              this.currentMenus.split(i, 1);
            } else {
              //  this.currentMenus[i].color = item.color
            }
          });
          this.dataMenu[index].menus = this.currentMenus;
        }
      });
    },
    tabMonth() {
      if (this.isSelectingSon) {
        this.numSelectedSon = 1;
        this.resetCheckSon();
        this.checkCurrentSon();

        this.dataMenu.forEach((item, index) => {
          if (item.id_son == this.currentIdSon) {
            this.dataMenu[index].menus = this.currentMenus;
          }
        });
      }
    },
    getNameSon(name) {
      var newName = name.split(" ");
      return newName[0];
    },
    generateID() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function(
        c
      ) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
    resetCheckSon() {
      this.checkedSon.forEach((item, index) => {
        this.checkedSon[index].state = false;
      });
    },
    reset() {
      this.$q.loading.show();
      this.resetCheckSon();
      this.getData(false);
    },
    hideModalMoney() {
      this.openedAvailableMoney = false;
    },
    goAccount() {
      this.$router.push("MyAccount");
    },
    goActivity() {
      this.$router.push("Activity");
    }
  }
};
</script>

<style>
.scroll {
}

/* .container {
    top: 60px;
    width: 102%;
    left: -8px;
    overflow-y: auto;
    position: fixed;
    max-height: 88%;
} */
.container {
  padding-bottom: 40px;
}
.q-tabs {
  border-radius: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.tab-card {
  margin-top: 0px;
  /* border : 2.4px solid rgba(255,255,255,.5); */
}

.container .scroll .q-tabs-position-top .q-tabs-head .q-tabs-bar {
  border-bottom-width: 4px;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.container .scroll .q-tab {
  min-height: 50px;
}

.tab-week-son .q-checkbox-icon {
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 1.7em;
}

.check-son {
  top: 25px;
  width: 60%;
  height: 50%;
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
}

.check-son .q-radial-ripple {
  height: 120%;
  top: 0px;
}

.tab-week-son {
  height: 70px;
}

.tab-week-son .q-tab-label-parent {
  position: absolute;
  /* top: 10px; */
}

.calendar-tabs .q-tabs-head {
  background: #37474f !important;
}

.tab-calendar .q-tabs-bar {
  border-bottom-color: rgba(255, 255, 255, 0.8) !important;
}

@media (min-width: 1105px) {
  .container {
    position: relative;
    top: 0px;
    width: 100%;
    left: 0px;
  }

  .tab-week-son {
    min-width: 200px;
    width: 25%;
  }

  .tab-head {
    min-width: 200px;
  }
}

.container-name-day {
  padding: 15px 0px;
  font-size: 0.8em;
  background: #c8f20c;
}

.calendar-header {
  font-weight: bold;
}

.container-menu-calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
  position: relative;
  top: 40px;

  z-index: 10;
}

.item-menu-calendar {
  width: 25%;
  height: 20%;
  border-radius: 50%;
  background: #c8f20c;
  max-width: 110px;
  max-height: 110px;
  min-width: 70px;
  min-height: 70px;
}

.img-menu-calendar {
  width: 100%;
  height: 10%;
}

.line-calendar {
  top: 30px;
  position: relative;
  /* padding-top: 30px; */
  width: 95%;
  height: 3px;
  background: #202055;
  margin: auto;
}
</style>
