<template>
  <q-modal v-model="openedDialog" content-css="padding-bottom: 50px" @hide="hideDialog">
    <q-toolbar color="primary">
      <q-btn flat round dense size="lg" @click="hideDialog" icon="keyboard_arrow_left"/>

      <q-toolbar-title v-if="isMulti">Categorías De Menú</q-toolbar-title>
      <q-toolbar-title v-else>Menús {{nameDay}}</q-toolbar-title>
    </q-toolbar>
    <div class="layout-padding">
      <q-list separator class="no-border-list container-list" no-border v-if="!isMulti">
        <q-item tag="label" link v-for="(item, index) in data" :key="index">
          <q-item-side>
            <q-radio
              v-model="optionSelected"
              :val="item.id_menu"
              checked-icon="fas fa-check"
              unchecked-icon="far fa-circle"
            />
          </q-item-side>

          <vue-load-image class="img-amount" v-if="item.path_picture">
            <img v-img:name slot="image" class="img-amount" :src="urlMedia +  item.path_picture">
            <img v-img:name slot="preloader" class="img-amount" src="statics/img/loading1.gif">
            <div v-img:name slot="error" class="img-amount" sublabel>Error</div>
          </vue-load-image>

          <!-- <img v-if="item.path_picture" :src="urlMedia + item.path_picture" class="img-amount"/> -->
          <img v-else src="statics/svg/fast-food.svg" class="img-amount">

          <q-item-main class="item-content">
            <q-item-tile sublabel class="name-menu">{{item.name}}</q-item-tile>
            <!-- <q-item-tile sublabel lines="2">{{item.description}}</q-item-tile> -->
            <q-item-tile sublabel class>
              Precio :
              <span class>Q {{item.price_sale.toFixed(2)}}</span>
            </q-item-tile>
          </q-item-main>
        </q-item>
        <div v-if="data.length == 0">
          <div v-if="statusData.isLoading" class="loading">
            <!-- <span class="text" >   {{statusData.text}}</span>
                    <span class="blob1 blob" ></span>
                    <span class="blob2 blob" > </span>
            <span class="blob3 blob"  ></span>-->
          </div>

          <div v-if="statusData.text == 'NOT_FOUND'" class="container-not-menu">
            <div>
              <img src="statics/img/menu_not_found.jpg" alt="NOT FOUND MENU" class="img-not-fond">
            </div>

            <div class="oops">Oops!</div>
            <div class="not-menu">No se han encontrado menús para esta fecha.</div>
          </div>
        </div>
      </q-list>
      <q-list separator v-else no-border class="container-list">
        <q-item tag="label" link v-for="(item, index) in data" :key="index" class="money-item">
          <q-item-side>
            <q-radio
              v-model="optionSelected"
              :val="item.id"
              checked-icon="fas fa-check"
              unchecked-icon="far fa-circle"
            />
          </q-item-side>

          <!-- <img  src="statics/svg/fast-food.svg" class="img-amount"/> -->

          <q-item-main>
            <q-item-tile label>{{item.description}}</q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
      <div v-if="data.length != 0">
        <q-btn
          icon="fas fa-utensils"
          color="primary end-items mar-top-15 mar-rigth-10"
          size="md"
          label="Guardar"
          @click="insertUpadateMenuDays"
          v-if="(!isUpdate || idDetail != null ) &&canChange==true"
        ></q-btn>
        <span v-if="(isUpdate && canChange==true)">
          <q-btn
            v-if="idDetail != null"
            color="deep-orange end-items mar-top-15 mar-rigth-10"
            label="Quitar"
            icon-right
            @click="dropMenu"
            icon="fas fa-minus-circle"
          ></q-btn>
        </span>
      </div>
    </div>
  </q-modal>
</template>

<script>
import { URL_MEDIA_APP } from "../../script/Constant";
import * as notifyMessage from "../../script/notify";
import VueLoadImage from "vue-load-image";
export default {
  components: {
    "vue-load-image": VueLoadImage
  },
  props: {
    datesSelected: Array,
    opened: Boolean,
    idDetail: Number,
    isUpdate: Boolean,
    chekedSon: Array,
    isMulti: Boolean,
    nameDay: String,
    idSon: Number,
    isAllMonth: Boolean
  },
  data() {
    return {
      search: true,
      data: [],
      optionSelected: null,
      canChange: null, //si se puede actualizar o eliminar el menu en base a la fecha configurada
      urlMedia: URL_MEDIA_APP,
      openedDialog: false,
      statusData: {
        text: "Cargando",
        isLoading: true
      }
    };
  },

  methods: {
    getData() {
      let date = new Date(this.datesSelected[0]);
      let model = {
        id_school: window.localStorage.getItem("ID_SCHOOL"),
        date_menu:
          date.getFullYear() +
          "-" +
          (date.getMonth() + 1) +
          "-" +
          date.getDate()
      };
      var requestBody = {
        sp: "sp_getMenu",
        model: model
      };
      console.log(model);
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.data = result.data.data;
          if (this.data.length == 0) {
            this.statusData.text = "NOT_FOUND";
            this.statusData.isLoading = false;
            this.canChange = false;
          } else {
            this.canChange = this.data[0].can_buy;
          }
          console.log("sp_getMenu", this.canChange);
        })
        .catch(error => {
          this.statusData.text = "Error al cargar";
          this.statusData.isLoading = false;
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    getDetailMenu(date) {
      let idSon = this.idSon;
      if (idSon == null) {
        idSon = window.localStorage.getItem("CURRENT_ID_SON");
      }
      let modelDetail = {
        id_card: idSon,
        date_menu: date
      };
      var requestBody = {
        sp: "sp_getDetailMenuSingle",
        model: modelDetail
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          try {
            this.optionSelected = result.data.data[0].id_menu;
            this.canChange = result.data.data[0].can_change;
            console.log("sp_getDetailMenuSingle");
          } catch (error) {
            this.statusData.text = "Error al cargar";
            this.statusData.isLoading = false;
            notifyMessage.showNotify(this.$q, 0, "Error al obtener datos");
          }
        })
        .catch(error => {
          this.statusData.text = "Error al cargar";
          this.statusData.isLoading = false;
          this.$q.loading.hide();
          notifyMessage.showNotifyErrorSrv(this.$q);
        });
    },
    getCategory() {
      var requestBody = {
        sp: "sp_getCategory",
        model: "[]"
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.data = result.data.data;
        })
        .catch(error => {
          this.$q.loading.hide();
          notifyMessage.showNotifyErrorSrv(this.$q);
          return;
        });
    },
    addEditMenu() {
      let price = 0;

      this.data.forEach(item => {
        if (item.id_menu == this.optionSelected) price = item.price_sale;
      });

      let menuSelected = {
        id_menu: this.optionSelected,
        price: price
      };
      if (this.isMulti) {
        menuSelected.is_multi = 1; //Representa verdadero
        menuSelected.id_school = window.localStorage.getItem("ID_SCHOOL");
      }

      if (!this.isUpdate) {
        if (this.optionSelected != null) {
          this.insertMenu(this.datesSelected, menuSelected);
        } else {
          notifyMessage.showNotify(this.$q, 0, "Seleccione algun menu");
        }
      } else {
        this.updateMenu(this.datesSelected, menuSelected);
      }
    },
    insertMenu(datesMenu, menuSelected) {
      //   this.$root.$emit("ADD_MENU", datesMenu, menuSelected) //Evento en Main component
      let lastIndexSon = 0;

      this.chekedSon.forEach((item, index) => {
        if (item.id_son == window.localStorage.getItem("CURRENT_ID_SON"))
          this.chekedSon[index].state = true;

        if (this.chekedSon[index].state) lastIndexSon = index;
      });

      this.chekedSon.forEach((element, i) => {
        if (element.state) {
          datesMenu.forEach((date, index) => {
            let tempDate =
              date.getFullYear() +
              "-" +
              (date.getMonth() + 1) +
              "-" +
              date.getDate();
            let object = {
              id_menu: menuSelected.id_menu,
              id_card: element.id_son,
              price: menuSelected.price,
              discount: 0,
              cuantity: 1,
              id_user_create: window.localStorage.getItem("USER_ID"),
              date_menu: tempDate,
              id_school: window.localStorage.getItem("ID_SCHOOL"),
              is_multi: menuSelected.is_multi
            };

            if (i == lastIndexSon && index == datesMenu.length - 1) {
              this.insUpdDetailMenu(object, true);
            } else {
              this.insUpdDetailMenu(object, false);
            }
          });
        }
      });
    },
    updateMenu(datesMenu, menuSelected) {
      let idSon = this.idSon;
      if (idSon == null) {
        idSon = window.localStorage.getItem("CURRENT_ID_SON");
      }
      let currentDate = new Date(datesMenu[0]);
      let date =
        currentDate.getFullYear() +
        "-" +
        (currentDate.getMonth() + 1) +
        "-" +
        currentDate.getDate();
      let object = {
        id_detail_menu: this.idDetail,
        id_menu: menuSelected.id_menu,
        id_card: idSon,
        price: menuSelected.price,
        discount: 0,
        cuantity: 1,
        id_user_update: window.localStorage.getItem("USER_ID"),
        date_menu: date
      };

      this.insUpdDetailMenu(object, true);
    },
    insUpdDetailMenu(object, isLastDetail) {
      var requestBody = {
        sp: "sp_insUpdDetailMenu",
        model: object
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let code = result.data.code;
          let message = result.data.data[0].Message;
          let res = result.data.data[0].Result;
          this.$q.loading.hide();

          if (res == "Success") {
            if (isLastDetail) {
              if (this.isUpdate) {
                notifyMessage.showNotify(this.$q, 200, message);
              } else {
                notifyMessage.showNotify(this.$q, 200, message);
              }

              this.$emit("reset");
              this.hideDialog();
            }
          } else {
            notifyMessage.showNotify(this.$q, 500, message);
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          console.log(error);
          this.$q.loading.hide();
          this.$emit("reset");
          this.hideDialog();
        });
    },
    insertUpadateMenuDays() {
      if (this.isAllMonth) {
        this.insAllMonth();
      } else {
        if (this.optionSelected == null) {
          if (this.isMulti)
            notifyMessage.showNotify(this.$q, 0, "Seleccione alguna categoria");
          else notifyMessage.showNotify(this.$q, 0, "Seleccione algun menu");

          return;
        }

        if (this.isMulti) {
          let model = {
            dates: this.stringDates(),
            id: this.optionSelected,
            id_school: window.localStorage.getItem("ID_SCHOOL"),
            id_cards: this.stringIdCrads(),
            id_user: window.localStorage.getItem("USER_ID")
          };

          var requestBody = {
            sp: "sp_validDatesMenu",
            model: model
          };
          this.$q.loading.show();

          this.$root
            .sendData(requestBody)
            .then(result => {
              this.$q.loading.hide();
              if (result.data.data[0].Result == "Success") {
                this.addEditMenu();
              } else {
                notifyMessage.showNotify(
                  this.$q,
                  0,
                  result.data.data[0].Message
                );

                this.$emit("close");
                return;
              }
            })
            .catch(error => {
              notifyMessage.showNotifyErrorSrv(this.$q);
              this.$q.loading.hide();
            });
        } else {
          this.addEditMenu();
        }
      }
    },
    insAllMonth() {
      let id_card = this.idSon;
      let currentDate = new Date(window.localStorage.getItem("CURRENT_DATE"));
      let date =
        currentDate.getFullYear() +
        "-" +
        (currentDate.getMonth() + 1) +
        "-" +
        currentDate.getDate();
      if (id_card == null) {
        id_card = window.localStorage.getItem("CURRENT_ID_SON");
      }
      let object = {
        date_start: date,
        id_category: this.optionSelected,
        id_card: id_card,
        id_school: window.localStorage.getItem("ID_SCHOOL"),
        id_user_create: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_insMenuMonth",
        model: object
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();

          if (result.data.data[0].Result == "Error") {
            notifyMessage.showNotify(this.$q, 0, result.data.data[0].Message);
            this.$emit("close");
          } else {
            notifyMessage.showNotifySuccess(
              this.$q,
              result.data.data[0].Message
            );
          }
          this.$emit("reset");
          this.$emit("close");
        })
        .catch(error => {
          this.$q.loading.hide();
          notifyMessage.showNotifyErrorSrv(this.$q);
        });
    },
    dropMenu() {
      this.$q
        .dialog({
          title: "Quitar menú",
          message: "¿Desea quitar el menú asignado del día " +this.nameDay +"?",
          ok: "Aceptar",
          preventClose: true,
          cancel: "Calcelar"
        })
        .then(() => {
          this.deleteMenu();
        })
        .catch(() => {});
    },
    deleteMenu() {
      let idSon = this.idSon;
      if (idSon == null) {
        idSon = window.localStorage.getItem("CURRENT_ID_SON");
      }
      let model = {
        id_card: idSon,
        date_menu: this.datesSelected[0],
        id_detail: this.idDetail,
        id_user_delete: window.localStorage.getItem("USER_ID"),
        id_school: window.localStorage.getItem("ID_SCHOOL")
      };
      var requestBody = {
        sp: "sp_delDetailMenu",
        model: model
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          if (result.data.data.length > 0) {
            let message = result.data.data[0].Message;
            if (result.data.data[0].Result == "Success") {
              notifyMessage.showNotify(this.$q, result.data.code, message);
              this.$emit("reset");
            } else {
              notifyMessage.showNotify(this.$q, 0, message);
            }

            this.$q.loading.hide();
            this.hideDialog();
          } else {
            notifyMessage.showNotify(
              this.$q,
              201,
              "Error al obtener información"
            );
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },

    showDialog() {
      this.getData();
    },
    hideDialog() {
      this.data = [];
      this.$emit("close");
    },
    stringDates() {
      var dates = "";

      this.datesSelected.forEach((item, index) => {
        dates += item.getFullYear() + "-";
        dates += item.getMonth() + 1 + "-";
        dates += item.getDate();
        if (index != this.datesSelected.length - 1) {
          dates += ",";
        }
      });
      return dates;
    },
    stringIdCrads() {
      var strId = "";
      this.chekedSon.forEach((item, index) => {
        if (item.state) {
          strId += item.id_son;
        }
        if (index != this.chekedSon.length - 1) {
          strId += ",";
        }
      });
      return strId;
    }
  },
  watch: {
    opened(newValue, oldValue) {
      this.openedDialog = this.opened;
      this.optionSelected = null;

      if (newValue) {
        this.statusData.text = "Cargando";
        this.statusData.isLoading = true;
        if (this.isMulti) {
          this.getCategory();
          this.canChange = true;
        } else {
          this.getData();
        }
        if (this.isUpdate) {
          this.getDetailMenu(this.datesSelected[0]);
        }
      }
    }
  }
};
</script>

<style>
.name-menu {
  font-size: 1.0em;
  /* text-transform: capitalize */
}

.price-menu {
  float: right;
}

.color-red {
  color: orangered;
}

.item-content {
  text-transform: capitalize !important;
}

.img-not-fond {
  width: 100%;
  position: relative;
  left: 0px;
  /* top: 50px; */
}

.oops {
  padding-left: 20px;
  font-size: 2.5em;
  color: #673ab7;
  font-weight: 700;
}

.not-menu {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  color: #3f51b5;
}
</style>
