<template>
  <q-layout>
    <div class="nav-calendar row">
      <q-btn
        color="primary"
        icon="fas fa-caret-left arrow-calendar"
        flat
        size="lg"
        class="pull-left"
        round
        @click="backMonthCalendar"
      ></q-btn>
      <div class="name-month text-center capitalize-text">{{getNameMonth()}}</div>
      <q-btn
        color="primary"
        icon="fas fa-caret-right arrow-calendar"
        flat
        size="lg"
        class="pull-right"
        round
        @click="nextMonthCalendar"
      ></q-btn>
    </div>
    <div class="container-check center" v-if="showAllMonth">
      <q-checkbox v-model="selectAll" size="lg" keep-color @click.native="selectMonth">
        <span class="mar-left-5">Asignar todo el mes</span>
      </q-checkbox>
    </div>
    <div class="container-name-day row font-sans calendar-header">
      <div class="name-day text-center" v-for="(item, index) in arrayDayNames" :key="index">{{item}}</div>
    </div>
    <div class="container-calendar row font-sans">
      <div class="container-day" v-for="(item, index) in arrayMonth" :key="index">
        <!-- <div class="day" v-if="item != null">
                {{getDay(item)}}
        </div>-->
        <div>
          <div v-if="getMenuFromDate(item) != null">
            <div
              v-for="(menu) in getMenuFromDate(item)"
              :key="menu.id_detail_menu"
              @click="chooseMenu(menu.start.date, menu.id_detail_menu)"
            >
              <div class="day" v-if="item != null" v-bind:class="{today : isToday(item)}">
                <div class="center text-center margin-auto">
                  {{getDay(item)}}
                  <div>
                    <q-btn
                      size="sm"
                      flat
                      class="mar-top-5 btn-menu-month"
                      round
                      :style="{'background' : menu.color, 'color': 'white' }"
                    ></q-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="day">
            <div v-if="item" class="center text-center margin-auto">{{getDay(item)}}</div>
          </div>
        </div>
      </div>
    </div>

    <menu-modal
      @close="closeModal"
      :opened="opened"
      :dates-selected="datesSelected"
      :id-detail="idDetail"
      :is-update="isUpdate"
      :cheked-son="chekedSon"
      :is-multi="isMulti"
      @reset="reset"
      :name-day="currentNameDay"
      :is-all-month="isAllMonth"
      :id-son="idSon"
    ></menu-modal>
  </q-layout>
</template>

<script>
import MixinMonth from "./Mixin/MixinMonth";
import MenuModal from "./MenuModal";
import * as mixinDate from "./Mixin/MixinDate";
export default {
  components: {
    MenuModal
  },
  props: {
    dataMenu: Array,
    chekedSon: Array,
    idSon: Number
  },

  data() {
    return {
      arrayMonth: null,
      arrayDayNames: null,
      selectAll: false,
      opened: false,
      datesSelected: [],
      idDetail: null,
      isUpdate: true,
      isMulti: false,
      currentNameDay: null,
      showAllMonth: true,
      conterDayMonth: 0,
      isAllMonth: false
    };
  },
  created() {
    this.arrayMonth = this.buildArrayMonth();
    this.arrayDayNames = this.getNamesDays();
  },

  mixins: [MixinMonth],
  methods: {
    chooseMenu(date, idDetail) {
      this.datesSelected = [];
      this.datesSelected.push(date);
      this.idDetail = idDetail;
      this.currentNameDay = this.getCurretnNameDay(new Date(date));
      this.opened = true;
      this.isMulti = false;
      this.isAllMonth = false;
      this.isUpdate = true;
    },
    closeModal() {
      this.opened = false;
      this.selectAll = false;
    },
    getDay(date) {
      return this.getDayFormat(date);
    },
    getNameMonth() {
      return this.getCurrentNameMonth(mixinDate.getCurrentDate());
    },
    backMonthCalendar() {
      this.backMonth();
      this.arrayMonth = this.buildArrayMonth();
      this.$emit("back");
    },
    nextMonthCalendar() {
      this.nextMonth();
      this.arrayMonth = this.buildArrayMonth();
      this.$emit("next");
    },
    getMenuFromDate(date) {
      let menus = [];
      if (date != null) {
        this.dataMenu.forEach(item => {
          // let date2 = new Date(item.start.date);
          // let strDate2 =
          //   date2.getFullYear() +
          //   "-" +
          //   (date2.getMonth() + 1) +
          //   "-" +
          //   date2.getDate();
          // let strDate =
          //   date.getFullYear() +
          //   "-" +
          //   (date.getMonth() + 1) +
          //   "-" +
          //   date.getDate();

          // if (strDate == strDate2) {
          //   menus.push(item);
          // }
          if (item.start.date instanceof Date == true) {
            var tempDate = item.start.date;
            tempDate = tempDate.setHours(0, 0, 0, 0);
            item.start.date = new Date(tempDate).toISOString();
          }
          var tempDate2 = new Date(date);
          tempDate2.setHours(0, 0, 0, 0);
          date = new Date(tempDate2).toISOString();

          if (item.start.date instanceof Date == false) {
            //cuando la fecha viene en formato Iso, no se puede hacer el substring
            if (item.start.date.substring(0, 10) == date.substring(0, 10)) {
              menus.push(item);
            }
          } else console.log("no es instancia");
        });
        if (menus.length == 0) return null;
        else return menus;
      } else {
        return null;
      }
    },
    selectMonth() {
      this.datesSelected = [];
      this.datesSelected.push(mixinDate.getCurrentDate());

      this.isMulti = true;
      this.isUpdate = false;
      this.isAllMonth = true;
      this.opened = true;
    },

    validDaysMenu() {
      this.conterDayMonth = 0;
      this.arrayMonth.forEach(item => {
        if (this.getMenuFromDate(item)) {
          this.conterDayMonth++;
        }
      });
      if (this.conterDayMonth == this.getNumDaysMonth()) {
        this.showAllMonth = false;
      } else {
        this.showAllMonth = true;
      }
    },
    reset() {
      this.$emit("reset");
    },
    isToday(date) {
      let flag = false;
      let date2 = new Date();
      let strDate2 =
        date2.getFullYear() +
        "-" +
        (date2.getMonth() + 1) +
        "-" +
        date2.getDate();
      let strDate =
        date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
      if (strDate == strDate2) {
        flag = true;
      }
      return flag;
    }
  },
  updated() {
    this.validDaysMenu();
  },
  mounted() {
    this.validDaysMenu();
  }
};
</script>

<style>
.name-day {
  width: 20%;
  font-size: 1.2em;
}

.today {
  background: #c8f20c;
  text-align: center;
}

.day {
  border-radius: 50%;
  font-size: 1.4em;
  color: #939598;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  /* margin-left: 5px; */
}

.name-month {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.container-check {
  margin-top: -25px;

  padding: 5px;
}

.nav-calendar {
  display: flex;
}

.container-calendar {
  padding-top: 20px;
}

.container-calendar .container-day {
  width: 20%;
  height: 40px;
  /* border-bottom: 1px solid #e2e2e2; */

  text-align: center;
  font-size: 0.9em;
  position: relative;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.arrow-calendar {
  color: #c8f20c;
}

.pull-left {
  float: left;
}

.capitalize-text {
  text-transform: capitalize;
}

.btn-menu-month {
  padding: 0px;
  position: absolute;
  /* background: #c8f20c !important; */
  border: 2px solid #fff;
  height: 11px;
  width: 11px;
  z-index: 10;
  bottom: 0px;
  right: 13px;
}
@media (min-width: 767px) {
  .container-calendar .container-day {
    height: 50px;
  }
  .q-tab {
    min-width: 300px;
  }
}
</style>