<template>
  <q-layout>
    <div class="nav-calendar row">
      <q-btn
        color="primary"
        icon="fas fa-caret-left arrow-calendar"
        flat
        size="xl"
        class="pull-left"
        round
        @click="backWeekCalendar"
      ></q-btn>
      <div class="name-month text-center capitalize-text">{{getNameMonthWeek()}}</div>
      <q-btn
        color="primary"
        icon="fas fa-caret-right arrow-calendar"
        flat
        size="xl"
        class="pull-right"
        round
        @click="nextWeekCalendar"
      ></q-btn>
    </div>
    <div class="container-week row">
      <div class="container-day" v-for="(item, index) in arrayWeek" :key="index">
        <div class="mar-bottom-10">
          <div>
            <q-checkbox
              v-model="weekCheckMenu[index]"
              v-if="getMenuFromDate(item).count < numSelectedSon  &&  validCurrentDate(item)"
              keep-color
              class="check-day"
              @click.native="selectDayMenu(weekCheckMenu[index], item)"
            ></q-checkbox>
            <div class="check-day" v-else></div>
          </div>
          <div class="mar-top-10 font-sans calendar-header">{{getNameDay(item)}}</div>
        </div>

        <div class="day font-sans">{{getDay(item)}}</div>

        <div class="menu-container mar-top-15 mar-bottom-10">
          <div v-if="getMenuFromDate(item).length  > 0">
            <div
              v-for="(menu) in getMenuFromDate(item)"
              :key="menu.id_detail_menu"
              class="menu"
              :style="{'background' : menu.color}"
              @click="chooseMenu(menu.start.date, menu.id_detail_menu, menu.id_son, menu.color)"
            >{{ menu.summary }}</div>
          </div>
          <div v-else>
            <div v-if="validCurrentDate(item)">
              <q-btn
                color="yellow-10"
                icon="add"
                class="btn-add"
                round
                @click="chooseMenu(item, null, null,null)"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class="add-multi"
      v-if="weekCheckMenu[0] || weekCheckMenu[1] || weekCheckMenu[2] || weekCheckMenu[3] || weekCheckMenu[4]"
    >
      <q-btn class="btn-add-multi" color="yellow-10" round icon="add" @click="chooseMenuMulti"></q-btn>
    </div> -->
    <div>
   
  </div>

    <menu-modal
      @close="closeModal"
      ref="menuModal"
      :opened="opened"
      :dates-selected="datesSelected"
      :id-detail="idDetail"
      :is-update="isUpdate"
      :cheked-son="chekedSon"
      :is-multi="isMulti"
      @reset="reset"
      :name-day="currentNameDay"
      :id-son="currentIdSon"
    ></menu-modal>
  </q-layout>
</template>

<script>
import MenuModal from "./MenuModal";
import MixinWeek from "./Mixin/MixinWeek";
import * as MixinDate from "./Mixin/MixinDate";
import MixinMonth from "./Mixin/MixinMonth";

export default {
  components: {
    MenuModal
  },
  props: {
    dataMenu: Array,
    chekedSon: Array,
    idSon: Number,
    numSelectedSon: Number
  },
  data() {
    return {
      arrayWeek: null,
      selectDay: false,
      weekCheckMenu: [false, false, false, false, false],
      datesSelected: [],
      opened: false,
      idDetail: null,
      isUpdate: false,
      isMulti: false,
      currentNameDay: null,
      currentIdSon: this.idSon,
      dateActual: new Date()
    };
  },
  mixins: [MixinWeek, MixinMonth],
  created() {
    var time = window.localStorage.getItem("MAX_TIME_MENU").split(":");

    this.dateActual.setHours(time[0], time[1], time[2], 0);
    this.arrayWeek = this.buildArrayWeek();

  },
  methods: {
    chooseMenu(date, idDetail, idSon, color) {
      if (date instanceof Date == false)
        //cuando la fecha viene en formato Iso, evitar que le reste un dia, cuando viene como fecha, no resta el dia
        date = this.parseIosDate(date);

      if (color == "#FFF") {
        return;
      }
      this.datesSelected = [];
      this.datesSelected.push(date);

      this.currentNameDay = this.getCurretnNameDay(new Date(date));

      if (!idDetail) {
        this.idDetail = null;
        this.isUpdate = false;
      } else {
        this.idDetail = idDetail;
        this.isUpdate = true;
      }
      this.currentIdSon = idSon;
      this.isMulti = false;
      this.opened = true;
    },
    chooseMenuMulti() {
      this.isMulti = true;
      this.isUpdate = false;
      this.opened = true;
    },
    getDay(date) {
      return this.getDayFormat(date);
    },
    getNameDay(date) {
      return this.getNameDayWeek(date);
    },
    getNameMonthWeek() {
      return this.getNameMonth(MixinDate.getCurrentDate(), this.arrayWeek);
    },
    backWeekCalendar() {
      let currentDate = new Date(MixinDate.getCurrentDate());
      let newDate = new Date(this.backWeek());
      this.arrayWeek = this.buildArrayWeek();
      if (currentDate.getMonth() != newDate.getMonth()) {
        this.$emit("back");
      }
      this.$emit("back-days");
      this.checkDays(this.datesSelected);
    },
    nextWeekCalendar() {
      let currentDate = new Date(MixinDate.getCurrentDate());
      let newDate = new Date(this.nextWeek());
      this.arrayWeek = this.buildArrayWeek();
      if (currentDate.getMonth() != newDate.getMonth()) {
        this.$emit("next");
      }
      this.$emit("next-days");
      this.checkDays(this.datesSelected);
    },
    getMenuFromDate(date) {
      let menus = [];
      let countMenu = 0;

      this.dataMenu.forEach(item => {
        // let date2 = new Date(item.start.date);

        // let strDate2 =
        //   date2.getFullYear() +
        //   "-" +
        //   (date2.getMonth() + 1) +
        //   "-" +
        //   date2.getDate();
        // let strDate =
        //   date.getFullYear() +
        //   "-" +
        //   (date.getMonth() + 1) +
        //   "-" +
        //   date.getDate();

        if (item.start.date instanceof Date == true) {
          var tempDate = item.start.date
          tempDate = tempDate.setHours(0,0,0,0)
          item.start.date = new Date (tempDate).toISOString()
        }
        var tempDate2 = new Date(date)
        tempDate2.setHours(0,0,0,0)
        date = new Date(tempDate2).toISOString()

        if (item.start.date instanceof Date == false) {
          //cuando la fecha viene en formato Iso, no se puede hacer el substring
          if (
            item.start.date.substring(0, 10) ==
            date.substring(0, 10)
          ) {
            menus.push(item);
            if (item.color != "#FFF") {
      
              countMenu++;
            }
          }
        } else console.log("no es instancia");

      
      });
 
      menus.count = countMenu;
      return menus;
    },
    selectDayMenu(state, date) {
      if (state) {
        this.datesSelected.push(date);
      } else {
        for (let i = 0; i < this.datesSelected.length; i++) {
          let date1 = new Date(this.datesSelected[i]);
          let date2 = new Date(date);
          date1.setHours(0, 0, 0, 0);
          date2.setHours(0, 0, 0, 0);
          if (date1.getTime() === date2.getTime()) {
            this.datesSelected.splice(i, 1);
          }
        }
      }
    },
    checkDays(dates) {
      this.resetCheck();
      dates.forEach((item, index) => {
        let date1 = new Date(item);

        if (date1 >= this.arrayWeek[0] && date1 <= this.arrayWeek[4]) {
          this.arrayWeek.forEach((element, i) => {
            let date2 = new Date(element);
            date1.setHours(0, 0, 0, 0);
            date2.setHours(0, 0, 0, 0);
            if (date1.getTime() === date2.getTime()) {
              this.weekCheckMenu[i] = true;
            }
          });
        }
      });
    },
    validCurrentDate(date) {
      var flag = false;
      var time = window.localStorage.getItem("MAX_TIME_MENU").split(":");
      var dateCalendar = new Date(date).setHours(time[0], time[1], time[2], 0);
      this.dateActual.setHours(time[0], time[1], time[2], 0);

      if (this.dateActual.getTime() == dateCalendar) {
        //si es el dia de hoy
        if (dateCalendar >= Date.now()) flag = true;
        else flag = false;
      } else if (this.dateActual.getTime() >= dateCalendar) flag = false;
      else flag = true;

      return flag;
    },
    closeModal() {
      this.opened = false;
    },
    reset() {
      this.resetCheck();
      this.$emit("reset");
    },
    resetCheck() {
      this.weekCheckMenu = [false, false, false, false, false];
    },
    parseIosDate(date) {
      //evita que la fecha en formato iso pierda un dia
      return new Date(date.replace(/-/g, "/").replace(/T.+/, ""));
    }
  },
  watch: {
    idSon(newValue, oldValue) {
      this.currentIdSon = newValue;
    },
    weekCheckMenu(newValue,oldValue){
      this.$root.$emit("show-multiple",newValue);
    }
  }
};
</script>

<style>
.container-day {
  width: 20%;
  text-align: center;
  /* font-size: 1.2em */
}

.container-day .q-checkbox-icon {
  font-size: 1.7em;
}

.menu {
  height: 42px;
  border-radius: 4px;
  margin: 1px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  overflow-y: auto;
  font-size: 0.7em;
  padding: 2px;
}

.btn-add {
  height: 32px;
  width: 32px;
}

.add-multi {
  position: fixed;
  bottom: -100px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.name-days {
  font-weight: bold;
}

.btn-add-multi {
  height: 48px;
  width: 47px;
  font-size: 1.4em;
  bottom: 150px;
  z-index: 1000;
  position: absolute;
}

.check {
  position: relative;
  height: 50px;
}

.check-day {
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 28px;
}

.check-day .q-radial-ripple {
  /* height: 150%;
    top : 0px */
}
</style>
