<template>
  <q-modal v-model="openedDialogMenu" @hide="hide" class="container-modal">
    <q-toolbar color="primary">
      <q-btn flat round size="lg" dense v-close-overlay icon="keyboard_arrow_left" />
      <q-toolbar-title>Ingreso saldo</q-toolbar-title>
      <q-btn flat dense label="SOLICITAR" @click="submit" />
    </q-toolbar>
    <div class="layout-padding">
      <q-layout class>
        <h4 class="text-center mar-bottom-10"></h4>

        <div class="left">
          <div class>
            <form id="form-signup">
              <div class="row padding-20">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <q-field>
                    <q-input
                      v-model="object.amount"
                      prefix="Q "
                      type="number"
                      float-label="Monto"
                      @blur="$v.object.amount.$touch"
                      @keyup.enter="submit"
                      :error="$v.object.amount.$error"
                    />
                  </q-field>
                  <q-field>
                    <q-input v-model="object.description" float-label="Descripción" />
                  </q-field>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
              </div>
              <!-- <div class="center mar-bottom-10 container-label-upload">

                            <label for="file"  class="shadow-2 label-upload  ">Seleccione Imagen</label>

              </div>-->

              <div class="center mar-top-15">
                <div v-if="platform=='browser'">
                  <input
                    type="file"
                    @change="onFileChange"
                    id="btn-upload-image"
                    class="btn-file-image"
                  />
                  <label for="btn-upload-image" class="label-file-image shadow-2" >
                    Seleccionar imagen
                    <i class="fas fa-camera"></i>
                  </label>
                </div>
                <div v-else>
                  <q-btn
                    color="primary"
                    icon="fas fa-camera"
                    label="Seleccione imagen"
                    @click="actionSheet"
                  ></q-btn>
                </div>

                <!-- 
                            <input type="file" id="file" class="btn-upload " ref="file" accept="image/*" v-on:change="handleFileUpload()"/>

                            <div v-if="fileBase64 != null" class="container-img-menu ">
                                <img id="output" :src=fileBase64 class="upload-image mar-top-10 " />
                </div>-->
                <div v-if="currentPathPicture != null" class="container-img-menu">
                  <vue-load-image>
                    <img slot="image" class="upload-image mar-top-10" :src="currentPathPicture" />
                    <img
                      slot="preloader"
                      class="upload-image mar-top-10"
                      src="statics/img/loading1.gif"
                    />
                    <div slot="error" class="upload-image mar-top-10" sublabel>Error al cargar</div>
                  </vue-load-image>
                </div>
                <div v-else>
                  <i class="far fa-image icon-img"></i>
                  <!-- <img id="output" src="statics/svg/picture.svg" class="upload-image mar-top-10" ></img> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </q-layout>
    </div>
  </q-modal>
</template>

<script>
import * as notifyMessage from "../../script/notify";
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
import { URL_MEDIA_APP } from "../../script/Constant";
import { URL_BASE } from "../../script/Constant";
import VueLoadImage from "vue-load-image";
export default {
  components: {
    "vue-load-image": VueLoadImage
  },
  props: {
    openedDialog: Boolean,
    id: Number
  },
  created() {
    this.openedDialogMenu = this.openedDialog;
  },
  data() {
    return {
      data: [],
      platform: window.cordova? (cordova.platformId):'browser',
      openedDialogMenu: false,
      object: {
        id_amount: null,
        amount: null,
        description: null,
        path_picture: null,
        id_user_create: null,
        id_user_update: null,
        id_school: window.localStorage.getItem("ID_SCHOOL")
      },
      fileBase64: null,
      file: null,
      isCapturePicute: false,
      currentPathPicture: null,
      filesForDescktop: null
    };
  },

  computed: {},

  methods: {
    hide() {
      this.$root.$emit("CLOSE_DIALOG_AMOUNT");
    },
    submit() {
      this.$v.object.$touch();
      if (this.$v.object.$error) {
        notifyMessage.showNotifyError(this.$q);
        return;
      } else {
        if (this.object.path_picture == null) {
          notifyMessage.showNotify(this.$q, 0, "Seleccione alguna imagen");
        } else {
          if (this.isCapturePicute) {
            if (this.platform=='browser') {
              if (this.filesForDescktop) {
                this.submitFile(this.filesForDescktop);
              } else {
                notifyMessage.showNotify(
                  this.$q,
                  0,
                  "Seleccione alguna imagen"
                );
              }
            } else {
              this.uploadPhoto(this.object.path_picture);
            }
          } else {
            this.saveData();
          }
        }
        // if(this.card.path_picture != null ){

        // }else{
        // notifyMessage.showNotify(this.$q,0, "Hace falta la fotografia")
        // }
      }
    },
    actionSheet() {
      var context = this;
      this.$q.actionSheet({
        title: "Opciones",

        // specify ONLY IF you want grid mode:
        lsit: true,

        // optional; change dismiss label (only for iOS theme)
        dismissLabel: "Quit",

        actions: [
          {
            label: "Camara",

            // Optional

            color: "primary",

            // Choose one of the following two:
            icon: "fas fa-camera", // specify ONLY IF using icon

            // optional; what to do when user chooses this action;
            // Can also be handled later by using the returned Promise
            // and identifying the action from "action" param
            handler() {
              context.startCamera("CAMERA");
            }
          },
          {
            label: "Galeria",

            // Optional
            color: "primary",

            // Choose one of the following two:
            icon: "photo", // specify ONLY IF using icon

            // optional; what to do when user chooses this action;
            // Can also be handled later by using the returned Promise
            // and identifying the action from "action" param
            handler() {
              context.startCamera("GALLERY");
            }
          }
        ]
      });
    },

    getDataByid(id) {
      this.isCapturePicute = false;
      let model = {
        id_amount: id
      };
      var requestBody = {
        sp: "sp_getRequestAmount",
        model: model
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();

          let currentObject = result.data.data[0];
          console.log(currentObject);
          this.object.id_amount = currentObject.id_amount;
          this.object.amount = currentObject.amount;
          this.object.description = currentObject.description;
          this.object.path_picture = currentObject.path_picture;
          this.object.id_user_create = currentObject.id_user_create;
          if (currentObject.path_picture) {
            this.currentPathPicture =
              URL_MEDIA_APP + currentObject.path_picture;
          } else {
            this.currentPathPicture = null;
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },

    submitFile(files) {
      let formData = new FormData();
      formData.append("file", files[0]);

      this.$q.loading.show();
      this.$root
        .sendFile(formData)
        .then(response => {
          this.$q.loading.hide();
          this.object.path_picture = response.data.Path_file;
          console.log(response);
          this.saveData();
        })
        .catch(error => {
          this.$q.loading.hide();
          notifyMessage.showNotify(this.$q, 0, "Error subiendo la imagen");
          return;
        });
    },
    saveData(model) {
      this.$q.loading.show();
      if (this.object.id_user_create == null) {
        this.object.id_user_create = window.localStorage.getItem("USER_ID");
      } else {
        this.object.id_user_update = window.localStorage.getItem("USER_ID");
      }

      var requestBody = {
        sp: "sp_insUpdRequestAmount",
        model: this.object
      };
      console.log(this.object);
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;

          let code = result.data.code;
          if (code == 200) {
            if (statusResponse == "Success") {
              notifyMessage.showNotify(this.$q, code, message);
              this.$q.loading.hide();
            } else {
              this.$q.loading.hide();
              notifyMessage.showNotify(this.$q, 0, message);
            }
            this.openedModal = !this.openedModal;
            this.$root.$emit("GET_DATA");
            this.hide();
          }
          this.resetValues();
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
          console.log(error);
        });
    },
    startCamera(type) {
      this.isCapturePicute = true;
      var context = this;
      var sourceType;
      if (type == "CAMERA") sourceType = Camera.PictureSourceType.CAMERA;
      else sourceType = navigator.camera.PictureSourceType.PHOTOLIBRARY;
      navigator.camera.getPicture(
        imageURI => {
          this.currentPathPicture = null;

          if (type != "CAMERA") {
            let newURI = imageURI.split("?");
            // this.uploadPhotoServer(newURI[0])
            this.object.path_picture = newURI[0];
          } else {
            // this.uploadPhotoServer(imageURI)
            this.object.path_picture = imageURI;
          }
          this.currentPathPicture = imageURI;
        },
        message => {
          notifyMessage.showNotify(this.$q, 0, message);
        },
        context.setOptions(sourceType)
      );
    },
    setOptions(srcType) {
      var options = {
        // Some common settings are 20, 50, and 100
        quality: 50,
        destinationType: Camera.DestinationType.FILE_URI,
        // In this app, dynamically set the picture source, Camera or photo gallery
        sourceType: srcType,
        encodingType: Camera.EncodingType.JPEG,
        mediaType: Camera.MediaType.PICTURE,
        allowEdit: false,
        correctOrientation: true //Corrects Android orientation quirks
      };
      return options;
    },
    handleFileUpload() {
      var output = document.getElementById("output");
      output.src = URL.createObjectURL(event.target.files[0]);
      this.file = this.$refs.file.files[0];
    },
    uploadPhoto(imageURI) {
      this.$q.loading.show();
      var options = new FileUploadOptions();
      options.fileKey = "file";
      options.fileName = imageURI.substr(imageURI.lastIndexOf("/") + 1);
      options.mimeType = "image/jpeg";
      console.log(imageURI);
      var ft = new FileTransfer();
      debugger;
      ft.upload(
        imageURI,
        encodeURI(URL_BASE + "upload-file-single"),
        r => {
          this.$q.loading.hide();

          if (r.responseCode == 200) {
            let obj = JSON.parse(r.response);
            this.object.path_picture = obj.Path_file;
          }
          this.saveData();
        },
        error => {
          this.$q.loading.hide();
          notifyMessage.showNotify(this.$q, 0, "Error al subir la fotografía");
        },
        options
      );
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
      this.filesForDescktop = files;
    },
    createImage(file) {
      this.isCapturePicute = true;
      var image = new Image();
      var reader = new FileReader();

      reader.onload = e => {
        this.currentPathPicture = e.target.result;
        this.object.path_picture = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    uploadPhotoDescktop(files) {
      this.$q.loading.show();
      let photo = document.getElementById("btn-upload-image").files[0];
      let formData = new FormData();
      var context = this;

      formData.append("photo", photo);
      fetch(URL_BASE + "upload-file-single", {
        method: "POST",
        body: formData
      })
        .then(function(r) {
          context.$q.loading.hide();

          if (r.ok) {
            debugger;
            let obj = JSON.parse(r.response);
            context.object.path_picture = obj.Path_file;
          }
          context.saveData();
        })
        .catch(function(error) {
          debugger;
          context.$q.loading.hide();
          notifyMessage.showNotify(
            context.$q,
            0,
            "Error al subir la fotografía"
          );
        });
    },

    resetValues() {
      this.object.id_amount = null;
      this.object.amount = null;
      this.object.description = null;
      this.object.path_picture = null;
      this.object.id_user_create = null;
      this.object.id_user_update = null;
      this.currentPathPicture = null;
    }
  },

  watch: {
    openedDialog: function(newValue, oldValue) {
      this.openedDialogMenu = newValue;
      this.resetValues();
      this.$v.object.$reset();
    },
    id: function(newValue, oldValue) {
      this.$v.object.$reset();
      this.isCapturePicute = false;
      this.currentPathPicture = null;
      if (newValue != null) {
        this.getDataByid(newValue);
      } else {
        this.resetValues();
      }
    }
  },
  validations: {
    object: {
      // path_picture: {
      //     required
      // },
      amount: {
        required
      }
    }
  }
};
</script>

<style>
.icon-img {
  font-size: 10em;
  color: #202055;
}

.padding-20 {
  padding: 20px;
}

.btn-file-image {
  display: none;
}

.label-file-image {
  background: #202055;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 3px;
}
</style>
