<template>
  <transition name="slide-fade">
    <!-- Displaying an image -->
    <div>
      <!-- <h3 class="title-main text-center">

                <span  class="mar-left-10">histórico ingreso saldo</span>
      </h3>-->
      <q-layout class="layout-padding">
        <q-list class="no-border-list container-list" separator v-if="data.length > 0">
          <q-item multiline v-for="(item, i) in data" :key="i" class="item-center">
            <div v-if="item.path_picture">
              <!-- <img v-img:name class="img-amount" :src="urlMedia + item.path_picture"></img> -->
              <vue-load-image>
                <img v-img:name slot="image" class="img-amount" :src="urlMedia + item.path_picture">
                <img v-img:name slot="preloader" class="img-amount" src="statics/img/loading1.gif">
                <div v-img:name slot="error" class="img-amount" sublabel>Error al cargar</div>
              </vue-load-image>

              <!-- <vue-load-image>
                                    <img slot="image" class="img-amount" :src="urlMedia + item.path_picture" />
                                    <img slot="preloader"  class="img-amount" src="statics/img/loading1.gif"/>
                                    <div slot="error" class="img-amount" sublabel>Error al cargar</div>
              </vue-load-image>-->
            </div>
            <span v-else>
              <div class="img-amount" :style="{'background' :  '#aaa'}">Error</div>
              <!-- <q-item-side avatar="statics/svg/user.svg" /> -->
            </span>

            <q-item-main class="vertical-center">
              <q-item-tile label lines="1" class="title-list">Monto : Q {{item.amount.toFixed(2)}}</q-item-tile>
              <q-item-tile lines="1" class="sublabel-list">Descripción : {{item.description}}</q-item-tile>

              <q-item-tile
                v-if="item.state"
                sublabel
                lines="1"
                class="sublabel-list"
              >Estado : {{item.state}}</q-item-tile>
            </q-item-main>
            <q-item-side v-if="item.state =='PENDIENTE'" right>
              <q-btn flat round dense icon="more_vert" class="btn-menu-more">
                <q-popover class="menu-more" anchor="top right" self="top right">
                  <q-list link>
                    <!-- <q-item v-close-overlay @click.native="update(item.id_amount)">
                                                <q-item-main label="Editar" />
                    </q-item>-->
                    <q-item v-close-overlay @click.native="dialogDelete(item.id_amount)">
                      <q-item-main label="Eliminar"/>
                    </q-item>
                  </q-list>
                </q-popover>
              </q-btn>
            </q-item-side>
          </q-item>
        </q-list>
        <div v-else class="center">
          <div v-if="statusData.text == 'DATA_EMPTY'">
            <!-- <span class="text">   {{statusData.text}}</span>
                            <span class="blob1 blob" v-if="statusData.isLoading"></span>
                            <span class="blob2 blob"  v-if="statusData.isLoading"> </span>
            <span class="blob3 blob"  v-if="statusData.isLoading"></span>-->
            <img src="statics/img/request_amount.jpg" alt class="img-not-found">
            <div class="text-center">No ha realizado ninguna solicitud de ingreso saldo.</div>
          </div>
        </div>

        <!-- <q-btn round color="primary" @click="addItem" class="fixed color-indigo shadow-2 " icon="add" style="right: 18px; bottom: 18px; width:55px; height: 55px; font-size: 1.3em;" /> -->

        <q-btn round @click="addItem" class="fixed btn-add-list" flat>
          <img src="statics/img/add.png" alt="not found" class="img-add">
        </q-btn>

        <amount :id="idAmount" :opened-dialog="openedDialog"></amount>
      </q-layout>
    </div>
  </transition>
</template>

<script>
import Viewer from "viewerjs";

import * as notifyMessage from "../../script/notify";
import { URL_MEDIA_APP } from "../../script/Constant";
import Amount from "./Amount";
import VueLoadImage from "vue-load-image";

export default {
  components: {
    Amount,
    "vue-load-image": VueLoadImage
  },
  created() {
    this.getData();
  },
  data() {
    return {
      openedDialog: false,
      idAmount: null,
      data: [],
      urlMedia: URL_MEDIA_APP,
      statusData: {
        text: "Cargando",
        isLoading: true
      }
    };
  },
  methods: {
    addItem() {
      this.openedDialog = true;
      this.idAmount = null;
    },
    update(id) {
      this.openedDialog = true;
      this.idAmount = id;
    },
    getData() {
      var requestBody = {
        sp: "sp_getRequestAmount",
        model: {
          id_user: window.localStorage.getItem("USER_ID")
        }
      };
      this.$q.loading.show();

      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();

          this.data = result.data.data;
          if (this.data.length == 0) {
            this.statusData.text = "DATA_EMPTY";
          }

          //  this.getPictures(this.data)
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$root.$emit("ERROR_LOAD");
          this.$q.loading.hide();
        });
    },
    dialogDelete(id) {
      this.$q
        .dialog({
          title: "Confirmación de eliminación",
          message: "Está seguro de eliminar la solicitud?",
          ok: "Aceptar",
          preventClose: true,
          cancel: "Calcelar"
        })
        .then(() => {
          this.deleteObject(id);
        })
        .catch(() => {});
    },
    deleteObject(id) {
      let model = {
        id: id,
        id_user_delete: window.localStorage.getItem("USER_ID")
      };

      var requestBody = {
        sp: "sp_delRequestAmount",
        model: model
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          try {
            let message = result.data.data[0].Message;
            let statusResponse = result.data.data[0].Result;
            let code = result.data.code;
            if (statusResponse == "Success") {
              notifyMessage.showNotify(this.$q, code, message);
            } else {
              notifyMessage.showNotify(this.$q, 0, message);
            }

            this.$q.loading.hide();

            this.getData();
          } catch (error) {
            notifyMessage.showNotify(this.$q, 0, "Error al obtener datos");
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    }
  },

  mounted() {
    this.$root.$on("CLOSE_DIALOG_AMOUNT", () => {
      this.openedDialog = false;
    });
    this.$root.$on("GET_DATA", () => {
      this.getData();
    });
  }
};
</script>

<style>
.vertical-center {
  height: 100%;
  font-size: 1em;
}

.no-border-list {
  border: none;
}

.item-center {
  /* display : flex; */
  /* align-items : center; */
}
</style>
