<template>
  <transition name="slide-fade">
    <q-layout class="layout-padding">
      <q-list class="no-border-list container-list" v-if="dataObjects.length > 0">
        <q-item v-for="(item, i) in dataObjects" :key="i">
          <q-item-main>
            <q-item-tile label>{{item.name}} - {{ item.address}}</q-item-tile>
            <q-item-tile sublabel>Numero de NIT : {{item.number_nit}}</q-item-tile>
          </q-item-main>
          <q-item-side right>
            <q-btn flat round dense icon="more_vert" class="btn-menu-more">
              <q-popover class="menu-more" anchor="top right" self="top right">
                <q-list link>
                  <q-item
                    v-close-overlay
                    @click.native="editObject(item.id_billing)"
                    class="item-popup"
                  >
                    <q-item-main label="Editar"/>
                  </q-item>
                  <q-item v-close-overlay @click.native="dialogDelete(item.id_billing)">
                    <q-item-main label="Eliminar"/>
                  </q-item>
                </q-list>
              </q-popover>
            </q-btn>
          </q-item-side>
        </q-item>
      </q-list>
      <div v-else>
        <div v-if="statusData.text == 'DATA_EMPTY'">
          <img src="statics/img/billing.jpg" alt="IMG NOT FOUD" class="img-not-found">
          <div class="text-center">No ha establecido sus datos de facturación.</div>
        </div>

        <!-- Non-expandable without being on a QLayout -->

        <!-- <q-btn v-if="dataObjects.length == 0" round color="primary" @click="addItem" class="fixed color-indigo shadow-2 " icon="add" style="right: 18px; bottom: 18px;  width:55px; height: 55px; font-size: 1.3em;" />

  
        -->
      </div>
      <billing></billing>
      <q-btn v-if="dataObjects.length == 0" round @click="addItem" class="fixed btn-add-list" flat>
        <img src="statics/img/add.png" alt="not found" class="img-add">
      </q-btn>
    </q-layout>
  </transition>
</template>

<script>
import * as notifyMessage from "../../script/notify";
import Billing from "./Billing";
export default {
  components: {
    Billing
  },
  data() {
    return {
      billing: {
        id_billing: null,
        id_user: window.localStorage.getItem("USER_ID")
      },
      billing_delete: {
        id_billing: null,
        id_user_delete: null
      },
      dataObjects: [],
      statusData: {
        text: ""
      }
    };
  },
  created() {
    this.getData();
  },

  methods: {
    editObject(id) {
      this.$root.$emit("OPEN_BILLING_MODAL", id);
    },
    dialogDelete(id) {
      this.$q
        .dialog({
          title: "Datos de facturación",
          message: "¿Desea eliminar los datos de facturación?",
          ok: "Aceptar",
          preventClose: true,
          cancel: "Calcelar"
        })
        .then(() => {
          this.deleteObject(id);
        })
        .catch(() => {});
    },
    deleteObject(id) {
      this.billing_delete.id_billing = id;
      this.billing_delete.id_user_delete = window.localStorage.getItem(
        "USER_ID"
      );
      var requestBody = {
        sp: "sp_delBilling",
        model: this.billing_delete
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;
          let code = result.data.code;
          notifyMessage.showNotify(this.$q, code, message);
          this.$q.loading.hide();
          this.openedModal = !this.openedModal;
          this.getData();
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    addItem() {
      this.$root.$emit("OPEN_BILLING_MODAL", null);
    },

    getData() {
      var requestBody = {
        sp: "sp_getBilling",
        model: this.billing
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.dataObjects = result.data.data;

          if (this.dataObjects.length == 0) {
            this.statusData.text = "DATA_EMPTY";
          }
        })
        .catch(error => {
          this.$root.$emit("ERROR_LOAD");
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    }
  },
  mounted() {
    this.$root.$on("BILLING_ITEM_ADD", () => {
      this.getData();
    });
  }
};
</script>

<style>
.no-border-list {
  border: none;
  padding-top: 20px;
}
</style>
