<template>
  <q-modal v-model="openedModal">
    <q-toolbar>
      <q-btn flat round dense size="lg" v-close-overlay icon="keyboard_arrow_left"/>
      <q-toolbar-title>Datos de facturación</q-toolbar-title>
      <q-btn flat dense label="Guardar" @click="submit"/>
    </q-toolbar>
    <div>
      <q-layout class="layout-padding">
        <q-card-main>
          <div class="row">
            <div class="col-md-6 col-xs-12 rowChild">
              <q-field>
                <q-input
                  v-model="billing.number_nit"
                  @blur="$v.billing.number_nit.$touch"
                  @keyup.enter="submitbilling"
                  :error="$v.billing.number_nit.$error"
                  placeholder=""
                  float-label="Número de NIT "
                />
              </q-field>
            </div>
            <div class="col-md-6 col-xs-12 rowChild">
              <q-field>
                <q-input
                  v-model="billing.name"
                  @blur="$v.billing.name.$touch"
                  @keyup.enter="submitbilling"
                  :error="$v.billing.name.$error"
                  float-label="Nombre"
                />
              </q-field>
            </div>
          </div>
          <div class="col-md-12 rowChild">
            <q-field>
              <q-input
                v-model="billing.address"
                @blur="$v.billing.address.$touch"
                @keyup.enter="submitbilling"
                :error="$v.billing.address.$error"
                float-label="Dirección"
              />
            </q-field>
          </div>
        </q-card-main>
      </q-layout>
    </div>
  </q-modal>
</template>

<script>
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
import * as notifyMessage from "../../script/notify";
export default {
  data() {
    return {
      billing: {
        id_billing: null,
        name: "",
        address: "",
        id_user_create: "",
        id_user_update: "",
        number_nit: ""
      },
      objectById: {
        id_billing: null,
        id_user: window.localStorage.getItem("USER_ID")
      },
      dataObject: {},
      operation: "",
      openedModal: false
    };
  },
  mounted() {
    this.$root.$on("OPEN_BILLING_MODAL", id => {
      this.openedModal = !this.openedModal;
      this.$v.billing.$reset();
      this.objectById.id_billing = id;
      if (id != null) {
        this.getDataByid();
      } else {
        this.resetValuesModel(this.billing);
      }
    });
  },
  methods: {
    submit() {
      this.$v.billing.$touch();
      if (this.$v.billing.$error) {
        notifyMessage.showNotifyError(this.$q);
        return;
      } else {
        this.saveData();
      }
    },

    saveData() {
      if (this.billing.id_user_create == null) {
        this.billing.id_user_create = window.localStorage.getItem("USER_ID");
      } else {
        this.billing.id_user_update = window.localStorage.getItem("USER_ID");
      }
      var requestBody = {
        sp: "sp_insUpdBilling",
        model: this.billing
      };
      console.log(requestBody);
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;
          let code = result.data.code;
          notifyMessage.showNotify(this.$q, code, message);
          this.$q.loading.hide();
          this.openedModal = !this.openedModal;
          this.$root.$emit("BILLING_ITEM_ADD");
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    getDataByid() {
      var requestBody = {
        sp: "sp_getBilling",
        model: this.objectById
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          let currentObject = result.data.data[0];

          this.billing.id_billing = currentObject.id_billing;
          this.billing.name = currentObject.name;
          this.billing.address = currentObject.address;
          this.billing.id_user_create = currentObject.id_user_create;
          this.billing.id_user_update = currentObject.id_user_update;
          this.billing.number_nit = currentObject.number_nit;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    resetValuesModel(model) {
      model.id_billing = null;
      model.name = null;
      model.address = null;
      model.id_user_create = null;
      model.id_user_update = null;
      model.number_nit = null;
    }
  },
  validations: {
    billing: {
      number_nit: {
        required
      },
      name: {
        required
      },
      address: {
        required
      }
    }
  }
};
</script>

<style>
</style>
