<template>
  <q-layout class>
    <h3 class="title-main text-center">
      <span class="mar-left-10">mi cuenta</span>
    </h3>
    <q-tabs animated inverted swipeable align="center" no-pane-border v-model="selectedTab">
      <q-tab
        slot="title"
        color="deep-purple-9"
        name="tab-money"
        label="Facturación"
        icon="fas fa-user"
      />
      <q-tab
        slot="title"
        color="deep-purple-9"
        name="tab-security"
        label="Seguridad"
        icon="fas fa-lock"
      />

      <!-- Targets -->

      <q-tab-pane name="tab-money" class="tab-pane-item">
        <div class="row">
          <billing-list></billing-list>
          <!-- <h4 class="center full-width">Disponible</h4>
                <div class="col-md-12 col-xs-12 rowChild">
                    <p class="q-display-3 center available-money" color="primary">Q {{data.toFixed(2)}}</p>

          </div>-->
        </div>
      </q-tab-pane>
      <q-tab-pane name="tab-security" class="tab-pane-item">
        <!-- With icon -->

        <q-list no-border>
          <q-item class="full-width item-padding">
            <div @click="openPassowrd" class="full-width">
              <q-card class="full-width padding-card relative-position" v-ripple>
                <img src="statics/img/password.png" class="img-card">
                <q-item class="text-card">
                  <q-item-main
                    class="text-card"
                    label="Cambiar contraseña"
                    label-lines="1"
                    sublabel="Reemplaza la contraseña actual."
                    sublabel-lines="1"
                  />

                  <!-- <q-toggle v-model="checkedPassword" /> -->
                </q-item>
              </q-card>
            </div>
          </q-item>

          <q-item class="full-width item-padding">
            <div @click="openPin" class="full-width mar-top-10">
              <q-card class="full-width padding-card relative-position" v-ripple>
                <img src="statics/img/key.png" class="img-card">
                <q-item multiline class="text-card">
                  <q-item-main
                    class="text-card"
                    label="Cambiar PIN"
                    label-lines="1"
                    sublabel-lines="1"
                    sublabel="Reemplaza el PIN actual."
                  />

                  <!-- <q-toggle v-model="checkedPin" /> -->
                </q-item>
              </q-card>
            </div>
          </q-item>
        </q-list>
      </q-tab-pane>
    </q-tabs>
    <!-- <pin :is-oauth="isOauth" :is-update="isUpdate"></pin> -->
    <password></password>
  </q-layout>
</template>

<script>
import { required } from "vuelidate/lib/validators";

import BillingList from "./BillingList";
import Pin from "../Login/Pin";
import Password from "./Password";
import * as notifyMessage from "../../script/notify";
export default {
  components: {
    Pin,
    Password,
    BillingList
  },
  data() {
    return {
      data: 0,
      checkedPassword: false,
      checkedPin: false,
      isOauth: false,
      isUpdate: true,
      selectedTab: "tab-money"
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      let model = {
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_getAvailableMoney",
        model: model
      };
      this.$q.loading.show();
      // this.loading = true
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();

          this.data = result.data.data[0].available_money;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
          // this.loading = false
        });
    },
    openPin() {
      this.$root.$emit("OPEN_MODAL_PIN_UPDATE", false);
    },
    openPassowrd() {
      this.$q
        .dialog({
          title: "Contraseña",
          message: "Ingresa tu contraseña actual",
          prompt: {
            model: "",
            type: "password" // optional
          },
          cancel: true,
          color: "primary"
        })
        .then(data => {
          this.validPassword(data);
        })
        .catch(() => {});
    },
    validPassword(password) {
      let model = {
        password: password,
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_validPassword",
        model: model
      };

      this.$q.loading.show();

      this.$root
        .sendData(requestBody)
        .then(result => {
          let response = result.data.data;
          if (response[0].Message == "CORECT_PASSWORD") {
            this.$root.$emit(
              "OPEN_MODAL_PASSWORD",
              window.localStorage.getItem("USER_ID")
            );
          } else {
            notifyMessage.showNotify(this.$q, 0, "Contraseña incorrecta");
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    }
  },
  validations: {}
};
</script>

<style>
@import url("../../css/Login.css");

.img-card {
  position: absolute;
  top: 0px;
  height: 100%;
  /* border-radius: 50%; */
}

.textDisp {
  padding: 20px;
}

.text-card {
  margin-left: 50px;
}

.padding-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.item-padding {
  padding: 0px 5px;
}

/* @media (min-width: 760px) {
    .container {
        position: relative;
        top: 0px;
        width: 100%;
        left: 0px;

    }
} */

.available-money {
  /* font-family: 'Major Mono Display', monospace; */
}
</style>
