<template>
  <q-modal v-model="opened" class="dark-bg">
    <q-toolbar class="dark-toolbar">
      <q-btn flat round dense size="lg" @click="closeModal" icon="keyboard_arrow_left"/>
      <q-toolbar-title></q-toolbar-title>
    </q-toolbar>
    <div class="container-pins layout-padding">
      <div class="img-pass center-img">
        <img src="statics/svg/lock-pass.svg" class="img-pass">
      </div>
      <h4 class="center color-white mar-top-15">CAMBIAR CONTRASEÑA</h4>

      <q-field
        icon="fas fa-lock"
        dark
        class="mar-top"
        error-label="Este campo es obligatorio"
        :error="$v.password.$error"
      >
        <q-input
          float-label="Nueva contraseña"
          dark
          type="password"
          color="white"
          v-model="password"
          @blur="$v.password.$touch"
        />
      </q-field>

      <q-field
        icon="fas fa-lock"
        dark
        error-label="Este campo es obligatorio"
        :error="$v.confirmPassword.$error"
      >
        <q-input
          float-label="Confirmar contraseña"
          dark
          type="password"
          color="white"
          v-model="confirmPassword"
          @blur="$v.confirmPassword.$touch"
        />
      </q-field>

      <q-btn
        label="Restablecer Contraseña"
        color="primary"
        class="full-width mar-top"
        @click="change"
      ></q-btn>
    </div>

    <!-- Counting Chips. Notice "count" property -->
  </q-modal>
</template>

<script>
import * as notifyMessage from "../../script/notify";
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
export default {
  name: "password",

  mounted() {
    this.$root.$on("OPEN_MODAL_PASSWORD", id_user => {
      this.opened = !this.opened;
      this.id_user = id_user;
      this.password = "";
      this.confirmPassword = "";
      this.$v.password.$reset();
      this.$v.confirmPassword.$reset();
    });
  },
  data() {
    return {
      id_user: null,
      password: null,
      confirmPassword: null,
      opened: false
    };
  },
  validations: {
    password: {
      required
    },
    confirmPassword: {
      required
    }
  },
  methods: {
    change() {
      this.$v.password.$touch();
      this.$v.confirmPassword.$touch();
      if (!this.$v.password.$error && !this.$v.confirmPassword.$error) {
        if (this.password === this.confirmPassword) {
          this.update(this.id_user, this.password);
        } else {
          notifyMessage.showNotify(this.$q, 0, "Las contraseñas no coinciden");
        }
      }
    },

    update(id_user, password) {
      this.$q.loading.show();
      let model = {
        password: password,
        id_user: id_user
      };
      let requestBody = {
        sp: "sp_insUpdUser",
        model: model
      };

      this.$root
        .sendData(requestBody)
        .then(result => {
          let statusResponse = result.data.data[0].Result;

          if (statusResponse == "Success") {
            this.opened = false;
            this.$q.loading.hide();
            notifyMessage.showNotifySuccess(
              this.$q,
              "Contraseña modificada correctamente"
            );
            return;
          } else {
            console.log("user UDPATE");
            this.$q.loading.hide();
            notifyMessage.showNotify(
              this.$q,
              0,
              "Error al actualizar contraseña, intente de nuevo "
            );
            this.resetDotPin();
          }
        })
        .catch(error => {
          console.log("ERROR UPDATE");
          this.$q.loading.hide();
          notifyMessage.showNotify(this.$q, 0, "Error en el servidor");
          this.resetDotPin();
        });
    },
    closeModal() {
      this.opened = false;
    }
  }
};
</script>

<style>
.img-pass {
  width: 100px;
}

.center-img {
  margin: auto;
}

.container-pins {
}
.mar-top {
  margin-top: 50px;
}
</style>
