<template>
  <q-modal v-model="openedModal" class="modal-card">
    <q-toolbar class>
      <q-btn flat round dense v-close-overlay size="lg" icon="keyboard_arrow_left"/>
      <q-toolbar-title>Usuario</q-toolbar-title>
      <q-btn flat dense label="Guardar" @click="submit"/>
    </q-toolbar>
    <div>
      <q-layout class="layout-padding">
        <q-card-main>
          <div class="banner-picture">
            <div class="relative-position picture" v-ripple @click="actionSheet">
              <div v-if="currentPathPicture">
                <img :src="currentPathPicture" class="picture">
                <div class="line-dark"></div>
              </div>
              <div v-else>
                <!-- <div class="photo-placeholder ">
                                    <i class="fas fa-camera icon-camera"></i>

                </div>-->
                <div class="img-user-add bk-green round center text-center">
                  <img src="statics/img/userAdd.png" alt="USER" class="full-width">
                </div>

                <div class="line-dark center"></div>
                <!-- <div class="center container-avatar-card mar-top-card">
                                <div class="container-img-user-add">

                                    <img src="statics/img/userAdd.png" alt="USER" class="user-add">
                                    </div>
                                    <div class="line-dark"></div>
                </div>-->
              </div>
            </div>
          </div>

          <div class="row row-card">
            <div class="col-md-6 col-xs-12 rowChild">
              <div class="container-picture">
                <q-field class="container-input-name">
                  <q-input
                    v-model="card.name_son"
                    @blur="$v.card.name_son.$touch"
                    @keyup.enter="submitCard"
                    :error="$v.card.name_son.$error"
                    float-label="Nombre de su hijo (primer nombre, primer apellido)"
                    class="mar-left-20"
                  ></q-input>
                </q-field>
                <!-- <div>
                                <q-btn color="white " size="lg"  flat round @click="actionSheet">
                                    <img class="photo-camera" src="statics/svg/photo-camera.svg" />
                    </q-btn>
                </div>-->
              </div>

              <q-field>
                <q-datetime
                  v-model="card.birth_day"
                  @blur="$v.card.birth_day.$touch"
                  @keyup.enter="submitCard"
                  :error="$v.card.birth_day.$error"
                  type="date"
                  float-label="Fecha cumpleaños"
                />
              </q-field>

              <q-field>
                <q-select
                  v-model="card.id_grade"
                  float-label="Seleccione Grado"
                  filter-placeholder="Búsqueda"
                  filter
                  @blur="$v.card.id_grade.$touch"
                  :error="$v.card.id_grade.$error"
                  @input="loadSection()"
                  :options="itemsGrade"
                />
              </q-field>
              <q-field>
                <q-select
                  v-model="card.id_section"
                  float-label="Seleccione Sección"
                  filter-placeholder="Búsqueda"
                  filter
                  @blur="$v.card.id_section.$touch"
                  :error="$v.card.id_section.$error"
                  :options="itemsSection"
                />
              </q-field>
            </div>
            <div class="col-md-6 col-xs-12 rowChild">
              <q-field>
                <q-input
                  v-model="card.max_amount_trans"
                  @blur="$v.card.max_amount_trans.$touch"
                  @keyup.enter="submitCard"
                  :error="$v.card.max_amount_trans.$error"
                  placeholder="0"
                  type="number"
                  float-label="Asignar monto máximo por transaccción"
                  prefix="Q "
                />
              </q-field>
              <q-field>
                <q-input
                  v-model="card.max_amount_dialy"
                  @blur="$v.card.max_amount_dialy.$touch"
                  @keyup.enter="submitCard"
                  :error="$v.card.max_amount_dialy.$error"
                  type="number"
                  placeholder="0"
                  float-label="Asignar monto máximo diario"
                  prefix="Q "
                />
              </q-field>
            </div>
            <div class="col-md-6 col-xs-12 rowChild">
              <q-field>
                <q-input
                  v-model="card.allergy"
                  @blur="$v.card.allergy.$touch"
                  @keyup.enter="submitCard"
                  :error="$v.card.allergy.$error"
                  float-label="Tiene alguna alergia o intolerancia"
                />
              </q-field>
            </div>
            <div v-if="!this.card.id_card" class="col-md-6 col-xs-12 q-mt-md rowChild">
              <q-field>
                <p class="caption">
                  <b>Código QR</b>
                  Costo(Q. {{cardCost}})
                </p>
                <p class="caption"></p>
                <q-checkbox
                  v-model="card.request_print_qr"
                  @change="qrCostMessage()"
                  label="Solicitar Código QR"
                />
              </q-field>
            </div>
          </div>
        </q-card-main>
      </q-layout>
    </div>
  </q-modal>
</template>

<script>
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
import * as notifyMessage from "../../script/notify";
import VMasker from "vanilla-masker";
import { URL_BASE, URL_MEDIA_APP } from "../../script/Constant";
export default {
  data() {
    return {
      card: {
        id_card: null,
        number_card: "",
        name_son: "",
        birth_day: new Date(),
        allergy: "",
        max_amount_trans: null,
        max_amount_dialy: null,
        id_user_create: null,
        id_user_update: null,
        path_picture: null,
        id_section: null,
        id_grade: null,
        request_print_qr: true,
        id_school: window.localStorage.getItem("ID_SCHOOL")
      },
      objectById: {
        id_card: null
      },
      dataObject: {},
      operation: "",
      openedModal: false,
      isCapturePicute: false, //Utilizada para validar si se ha tomado una foto o no
      currentPathPicture: null,
      itemsSection: [],
      itemsGrade: [],
      cardCost: null
    };
  },
  mounted() {
    this.$root.$on("OPEN_CARD_MODAL", id => {
      var requestBody = {
        sp: "sp_getCostRequestQRPrint",
        model: {
          id_school: window.localStorage.getItem("ID_SCHOOL")
        }
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.cardCost = result.data.data[0].qr_cost_first_request;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });

      this.openedModal = !this.openedModal;
      this.isCapturePicute = false;
      this.currentPathPicture = null;
      this.objectById.id_card = id;
      this.loadGrade();
      this.$v.card.$reset();
      if (id != null) {
        this.getDataByid();
      } else {
        this.resetValuesModel(this.card);
      }
    });
  },
  methods: {
    submit() {
      this.$v.card.$touch();
      if (this.$v.card.$error) {
        notifyMessage.showNotifyError(this.$q);
        return;
      } else {
        // if(this.card.path_picture != null ){
        if (this.isCapturePicute) {
          this.uploadPhoto(this.card.path_picture);
        } else {
          this.saveData();
        }
        // }else{
        // notifyMessage.showNotify(this.$q,0, "Hace falta la fotografia")
        // }
      }
    },
    saveData() {
      if (this.card.id_user_create == null) {
        this.card.id_user_create = window.localStorage.getItem("USER_ID");
      } else {
        this.card.id_user_update = window.localStorage.getItem("USER_ID");
      }
      var copyCard = Object.assign({}, this.card);
      copyCard.request_print_qr = copyCard.request_print_qr ? 1 : 0;
      var requestBody = {
        sp: "sp_insUpdCard",
        model: copyCard
      };
      console.log(requestBody);
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;
          let code = result.data.code;
          console.log(result);
          if (statusResponse == "Success") {
            notifyMessage.showNotify(this.$q, code, message);
          } else {
            notifyMessage.showNotify(this.$q, 0, message);
          }

          this.$q.loading.hide();
          this.openedModal = !this.openedModal;
          this.$root.$emit("CARD_ITEM_ADD");
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    getDataByid() {
      this.isCapturePicute = false;
      var requestBody = {
        sp: "sp_getCard",
        model: this.objectById
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          try {
            let currentObject = result.data.data[0];
            this.card.id_card = currentObject.id_card;
            this.card.number_card = currentObject.number_card;
            this.card.name_son = currentObject.name_son;
            this.card.birth_day = currentObject.birth_day;

            this.card.allergy = currentObject.allergy;
            this.card.max_amount_trans = currentObject.max_amount_trans;
            this.card.max_amount_dialy = currentObject.max_amount_dialy;
            this.card.id_user_create = currentObject.id_user_create;
            this.card.id_user_update = currentObject.id_user_update;
            this.card.path_picture = currentObject.path_picture;
            this.card.id_grade = currentObject.id_grade;
            this.card.id_section = currentObject.id_section;
            this.card.id_school = currentObject.id_school;
            this.loadSection();
            if (currentObject.path_picture) {
              this.currentPathPicture =
                URL_MEDIA_APP + currentObject.path_picture;
            } else {
              this.currentPathPicture = null;
            }
          } catch (error) {
            notifyMessage.showNotify(this.$q, 0, "Error al obtener datos");
            return;
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    loadGrade() {
      var requestBody = {
        sp: "sp_load_select_items",
        model: {
          option: "grade",
          id: window.localStorage.getItem("ID_SCHOOL")
        }
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.itemsGrade = result.data.data;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    loadSection() {
      var requestBody = {
        sp: "sp_load_select_items",
        model: {
          option: "section",
          id: this.card.id_grade
        }
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.itemsSection = result.data.data;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    startCamera(type) {
      this.isCapturePicute = true
      var sourceType
      if (type == "CAMERA")
          sourceType = navigator.camera.PictureSourceType.PICTURE
      else
          sourceType = navigator.camera.PictureSourceType.PHOTOLIBRARY
      navigator.camera.getPicture((imageURI) => {
      if (type != "CAMERA") {
          let newURI = imageURI.split("?")
          // this.uploadPhotoServer(newURI[0])
          this.card.path_picture = newURI[0]
        } else {
            // this.uploadPhotoServer(imageURI)
          this.card.path_picture = imageURI
        }
        this.currentPathPicture = imageURI

        }, (message) => {
          notifyMessage.showNotifyError(message)
        }, this.setOptions(sourceType));
    },
    uploadPhoto(imageURI) {
      this.$q.loading.show();
      var options = new FileUploadOptions();
      options.fileKey = "file";
      options.fileName = imageURI.substr(imageURI.lastIndexOf("/") + 1);
      options.mimeType = "image/jpeg";
      console.log(imageURI);
      var ft = new FileTransfer();
      ft.upload(
        imageURI,
        encodeURI(URL_BASE + "upload-file-single"),
        r => {
          console.log(r);
          this.$q.loading.hide();
          if (r.responseCode == 200) {
            let obj = JSON.parse(r.response);
            this.card.path_picture = obj.Path_file;
          }
          this.saveData();
        },
        error => {
          this.$q.loading.hide();
          notifyMessage.showNotify(this.$q, 0, "Error al subir la fotografía");
        },
        options
      );
    },
    uploadPhotoServer(imageURI) {
      var options = new FileUploadOptions();
      options.fileKey = "file";
      options.fileName = imageURI.substr(imageURI.lastIndexOf("/") + 1);
      options.mimeType = "image/jpeg";

      var ft = new FileTransfer();
      ft.upload(
        imageURI,
        encodeURI(URL_BASE + "upload-file-single"),
        r => {
          if (r.responseCode == 200) {
            let obj = JSON.parse(r.response);

            this.card.path_picture = obj.Path_file;
          }
        },
        error => {},
        options
      );
    },
    setOptions(srcType) {
      // var options = {
      //     // Some common settings are 20, 50, and 100
      //     quality: 50,
      //     destinationType: Camera.DestinationType.FILE_URI,
      //     // In this app, dynamically set the picture source, Camera or photo gallery
      //     sourceType: srcType,
      //     encodingType: Camera.EncodingType.JPEG,
      //     mediaType: Camera.MediaType.CAMERA,
      //     allowEdit: false,
      //     correctOrientation: true //Corrects Android orientation quirks

      // }

      var options = {
        // Some common settings are 20, 50, and 100
        quality: 50,
        destinationType: Camera.DestinationType.FILE_URI,
        // In this app, dynamically set the picture source, Camera or photo gallery
        sourceType: Camera.PictureSourceType.CAMERA,
        encodingType: Camera.EncodingType.JPEG,
        mediaType: Camera.MediaType.PICTURE,

        correctOrientation: true //Corrects Android orientation quirks
      };
      return options;
    },

    actionSheet() {
      var context = this;
      this.$q.actionSheet({
        title: "Opciones",

        // specify ONLY IF you want grid mode:
        grid: false,

        // optional; change dismiss label (only for iOS theme)
        dismissLabel: "Cerrar",

        actions: [
          {
            label: "Camara",

            // Optional
            color: "primary",

            // Choose one of the following two:
            icon: "camera", // specify ONLY IF using icon

            // optional; what to do when user chooses this action;
            // Can also be handled later by using the returned Promise
            // and identifying the action from "action" param
            handler() {
              context.startCamera("CAMERA");
            }
          },
          {
            label: "Galeria",

            // Optional
            color: "primary",

            // Choose one of the following two:
            icon: "photo", // specify ONLY IF using icon

            // optional; what to do when user chooses this action;
            // Can also be handled later by using the returned Promise
            // and identifying the action from "action" param
            handler() {
              context.startCamera("GALLERY");
            }
          }
        ]
      });
    },

    resetValuesModel(model) {
      model.id_card = null;
      model.number_card = null;
      model.name_son = null;
      model.birth_day = null;

      model.allergy = null;
      model.max_amount_trans = null;
      model.max_amount_dialy = null;
      (model.id_user_create = null),
        (model.id_user_update = null),
        (model.id_section = null),
        (model.id_grade = null),
        (model.request_print_qr = true);
    }
  },
  watch: {},
  validations: {
    card: {
      
      name_son: {
        required
      },
      birth_day: new Date(),

      allergy: "",
      max_amount_trans: {
        required
      },
      max_amount_dialy: {
        required
      },
      id_grade: {
        required
      },
      id_section: {
        required
      }
    }
  }
};
</script>

<style>
.container-name-son {
  display: inline-block;
}

.pull-right {
  float: right !important;
}

.photo-camera {
  width: 30px;
  height: 30px;
}

.container-input-name {
  width: 100%;
}

.container-picture {
  display: inline-flex;
  width: 100%;
  flex-wrap: nowrap;
}

.banner-picture {
  top: 0px;
  width: 101%;
  left: -7px;
  height: 50px;
  display: flex;
  justify-content: center;

  margin-bottom: 15px;
}

.picture {
  width: 90px;
  height: 90px;

  border-radius: 50%;

  position: relative;
}

.icon-camera {
  font-size: 1.5em;
  color: #fff;
}

.photo {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.modal-card .modal-content {
  overflow-x: hidden;
}

.img-user-add {
  width: 90px;
}

.row-card {
  margin-top: 50px;
}

.mar-top-card {
  margin-top: -10px;
}

.container-img-user-add {
  width: 90px;
}

.line-dark {
  width: 90px;
}
</style>
