<template>
  <transition name="slide-fade">
    <div>
      <h3 class="title-main text-center">
        <span class="mar-left-10">mis usuarios</span>
      </h3>
      <q-layout class="layout-padding">
        <q-list no-border v-if="dataObjects.length > 0" class="container-list">
          <q-item
            multiline
            v-for="(item, i) in dataObjects"
            :key="i"
            class="items-center line-list mar-left-15"
          >
            <!-- <q-item-side v-if="item.path_picture" :ava tar="item.path_picture" class="avatar-son" /> -->

            <vue-load-image class="avatar-card" v-if="item.path_picture">
              <img v-img:name slot="image" class="avatar" :src="url_media +  item.path_picture">
              <img v-img:name slot="preloader" class="avatar" src="statics/img/loading1.gif">
              <div v-img:name slot="error" class="avatar" sublabel>Error</div>
            </vue-load-image>

            <span v-else class="avatar-card">
              <!-- <div class="avatar font-medium color-white" :style="{'background' :  getDataColor() }">{{getFistLeter(item.name_son)}}</div> -->
              <div class="avatar font-medium color-white bk-green">
                <img src="statics/img/userList.png" alt="User list" class="full-width">
              </div>
            </span>

            <q-item-main>
              <q-item-tile label lines="1">{{item.name_son}}</q-item-tile>
              <q-item-tile sublabel lines="1">{{item.grade_name}} Seccion "{{item.section_name}}"</q-item-tile>
            </q-item-main>
            <q-item-side right>
              <q-btn flat round dense icon="more_vert" class="btn-menu-more">
                <q-popover class="menu-more" anchor="top right" self="top right">
                  <q-list link border>
                    <q-item
                      v-close-overlay
                      @click.native="editObject(item.id_card)"
                      class="item-popup"
                    >
                      <q-item-main label="Editar"/>
                    </q-item>
                    <q-item
                      v-close-overlay
                      @click.native="dialogDelete(item)"
                      class="item-popup"
                    >
                      <q-item-main label="Eliminar"/>
                    </q-item>
                    <q-item v-close-overlay @click.native="dialogQR(item)">
                      <q-item-main label="Ver QR"/>
                    </q-item>
                  </q-list>
                </q-popover>
              </q-btn>
            </q-item-side>
          </q-item>
        </q-list>
        <div v-else class="center">
          <div v-if="statusData.text == 'DATA_EMPTY'">
            <!-- <span class="text">   {{statusData.text}}</span>
                            <span class="blob1 blob" v-if="statusData.isLoading"></span>
                            <span class="blob2 blob"  v-if="statusData.isLoading"> </span>
            <span class="blob3 blob"  v-if="statusData.isLoading"></span>-->
            <img src="statics/img/cardCreate.jpg" alt="not found" class="img-not-found max-img">
            <div class="mar-top-15">No ha creado ningún usuario</div>
          </div>
        </div>

        <!-- Non-expandable without being on a QLayout -->
        <q-btn round @click="addItem" class="fixed btn-add-list" flat>
          <img src="statics/img/add.png" alt="not found" class="img-add">
        </q-btn>
        <card></card>
      </q-layout>
      <q-modal v-model="openedModalQR">
        <q-toolbar class>
          <q-btn flat round dense v-close-overlay size="lg" icon="keyboard_arrow_left"/>
          <q-toolbar-title>Código QR</q-toolbar-title>
        </q-toolbar>
        <q-layout class>
          <q-card>
            <!-- <img src="statics/svg/smartphone.svg" class="icon-big"/> -->
            <q-card-title>{{nameQR}}</q-card-title>
            <q-card-main>
              <p class="q-display-3 center"></p>
              <div class="row center-qr">
                <qr-code class="q-display-3 center" :text="type + ':'+ id_card_qr"></qr-code>
              </div>
            </q-card-main>
            <q-card-actions>
              <q-btn
                icon-right="fa fa-qrcode"
                class="full-width"
                @click="requestQRPrint()"
                color="positive"
                label="Solicitar reposición de Código QR"
              />
            </q-card-actions>
          </q-card>
        </q-layout>
      </q-modal>
    </div>
  </transition>
</template>

<script>
import * as notifyMessage from "../../script/notify";
import Card from "./Card";
import { colorMen } from "../../script/color";
import { URL_MEDIA_APP } from "../../script/Constant";

import VueLoadImage from "vue-load-image";
export default {
  components: {
    Card,
    "vue-load-image": VueLoadImage
  },
  data() {
    return {
      card: {
        id_card: null,
        id_user: window.localStorage.getItem("USER_ID")
      },
      card_delete: {
        id_card: null,
        id_user_delete: null
      },
      dataObjects: [],
      color: [],
      colorAsigned: [],
      url_media: URL_MEDIA_APP,
      id_card_qr: null,
      type: null,
      openedModalQR: false,
      nameQR: null,
      repositionCost: null,
      statusData: {
        text: "Cargando",
        isLoading: true
      }
    };
  },
  created() {
    this.dataColor();
    this.getData();
  },

  methods: {
    editObject(id) {
      this.$root.$emit("OPEN_CARD_MODAL", id);
    },
    dialogQR(item) {
      this.id_card_qr = item.id_card;
      this.type = item.text_predesessor;
      this.nameQR = item.name_son;
      this.openedModalQR = true;
    },
    requestQRPrint() {
      this.$q
        .dialog({
          title: "Reposición de código QR",
          message:
            "¿Desea solicitar reposición de código QR. Tiene un costo de Q." +
            this.repositionCost +
            "?",
          ok: "Solicitar",
          cancel: "Cancelar"
        })
        .then(() => {
          var requestBody = {
            sp: "sp_insRequestQrPrintReposition",
            model: {
              id_card: this.id_card_qr
            }
          };
          this.$q.loading.show();
          this.$root
            .sendData(requestBody)
            .then(result => {
              let message = result.data.data[0].Message;
              let statusResponse = result.data.data[0].Result;
              let code = result.data.code;
              if (statusResponse == "Success") {
                notifyMessage.showNotify(this.$q, code, message);
              } else {
                notifyMessage.showNotify(this.$q, 0, message);
              }
              this.$q.loading.hide();
            })
            .catch(error => {
              notifyMessage.showNotifyErrorSrv(this.$q);
              this.$q.loading.hide();
            });
        })
        .catch(() => {});
    },
    dialogDelete(item) {
      this.$q
        .dialog({
          title: "Confirmación de eliminación de usuario",
          message: "¿Está seguro de eliminar el usuario " + item.name_son + "?",
          ok: "Aceptar",
          preventClose: true,
          cancel: "Calcelar"
        })
        .then(() => {
          this.deleteObject(item.id_card);
        })
        .catch(() => {});
    },
    deleteObject(id) {
      this.card_delete.id_card = id;
      this.card_delete.id_user_delete = window.localStorage.getItem("USER_ID");
      var requestBody = {
        sp: "sp_delCard",
        model: this.card_delete
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;
          let code = result.data.code;
          notifyMessage.showNotify(this.$q, code, message);
          this.$q.loading.hide();
          this.openedModal = !this.openedModal;
          this.getData();
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    addItem() {
      this.$root.$emit("OPEN_CARD_MODAL", null);
    },

    getData() {
      var requestBody = {
        sp: "sp_getCard",
        model: this.card
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.dataObjects = result.data.data;

          if (this.dataObjects.length == 0) {
            this.statusData.text = "DATA_EMPTY";
          }
        })
        .catch(error => {
          this.$root.$emit("ERROR_LOAD");

          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
      requestBody = {
        sp: "sp_getCostRequestQRPrint",
        model: {
          id_school: window.localStorage.getItem("ID_SCHOOL")
        }
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.$q.loading.hide();
          this.repositionCost = result.data.data[0].qr_cost_replacement_request;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    getPictures(data) {
      data.forEach((item, index) => {
        if (item.path_picture != null) {
          let requestBody = {
            "path_picture ": item.path_picture
          };

          this.$root.getFile(requestBody).then(
            result => {
              console.log(result);

              let base64 = result.data.File;
              this.dataObjects[index].path_picture =
                "data:image/png;base64, " + base64;
            },
            error => {
              //  notifyMessage.showNotify(this.$q, 0, "Se ha producido un error ")
            }
          );
        }
      });
    },
    getFistLeter(name) {
      return name.charAt(0).toUpperCase();
    },
    dataColor() {
      this.color.push(colorMen.blue);
      this.color.push(colorMen.teal);
      this.color.push(colorMen.blue_gray);
      this.color.push(colorMen.green);
      this.color.push(colorMen.orange);
      this.color.push(colorMen.red);
      this.color.push(colorMen.brown);
      this.color.push(colorMen.deep_orange);
      this.color.push(colorMen.amber);
      this.color.push(colorMen.purple);
      this.color.push(colorMen.deep_purple);
      this.color.push(colorMen.pink);
    },
    getDataColor() {
      let random;

      random = Math.floor(Math.random() * this.color.length - 1 + 1);
      console.log(random);
      return this.color[random];
    }
  },
  mounted() {
    this.$root.$on("CARD_ITEM_ADD", () => {
      this.getData();
    });
  }
};
</script>

<style>
.no-border-list {
  border: none;
  padding-top: 20px;
}

/* .item-card {
    padding-left: 0px;
    padding-right: 0px
} */

.q-item-division:after {
  left: 80px !important;
}

.avatar-card {
  margin-right: 10px;
}

.q-item-avatar {
  width: 50px;
  height: 50px;
}

.items-center {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-medium {
  font-size: 1.3em;
}

.item-popup {
  border-bottom: 1px solid rgba(0, 0, 00, 0.5);
}
</style>
