<template>
 
 <div>
  <q-tabs color="secondary" >
  
         <q-tab
          default
          name="tab-month"
          class="display-none"
        />


        <q-tab-pane name="tab-month">
          <calendar-month
            :ref="'month-' + thisRefName"
            :start-date="workingDate"
            :parsed-events="parsed"
            :event-ref="eventRef"
            :full-component-ref="eventRef"
            :sunday-first-day-of-week="sundayFirstDayOfWeek"
            :calendar-locale="calendarLocale"
            :calendar-timezone="calendarTimezone"
            :checked-son="checkedSon"
          
          />
        </q-tab-pane>
    
      </q-tabs>

 </div>
    
</template>

<script>
  import CalendarMixin from './mixins/CalendarMixin'
  import CalendarEventMixin from './mixins/CalendarEventMixin'
  import CalendarParentComponentMixin from './mixins/CalendarParentComponentMixin'
  import CalendarEvent from './CalendarEvent'
  import CalendarMonth from './CalendarMonth'
  import CalendarMultiDay from './CalendarMultiDay'
  import CalendarAgenda from './CalendarAgenda'
  import CalendarDayColumn from './CalendarDayColumn'
  import CalendarTimeLabelColumn from './CalendarTimeLabelColumn'
  import CalendarDayLabels from './CalendarDayLabels'
  import CalendarHeaderNav from './CalendarHeaderNav'
  import {
    QBtn,
    QTooltip,
    QTabs,
    QTab,
    QTabPane,
    QScrollArea
  } from 'quasar'
  import QuantityBubble from './QuantityBubble'
  export default {
    name: 'CalendarMonthMenu',
    mixins: [CalendarParentComponentMixin, CalendarMixin, CalendarEventMixin],
    props: {
      
      tabLabels: {
        type: Object,
        default: () => {
          return {
            month: 'Month',
            week: 'Week',
            threeDay: '3 Day',
            day: 'Day',
            agenda: 'Agenda'
          }
        }
      },
      checkedSon : Array,
    },
    components: {
      QuantityBubble,
      CalendarEvent,
      CalendarMonth,
      CalendarMultiDay,
      CalendarAgenda,
      CalendarDayColumn,
      CalendarTimeLabelColumn,
      CalendarDayLabels,
      CalendarHeaderNav,
      QBtn,
      QTooltip,
      QTabs,
      QTab,
      QTabPane,
      QScrollArea
    },
    data () {
      return {
         closest : '',
        tabMonth : "tab-month",
        dayCellHeight: 5,
        dayCellHeightUnit: 'rem',
        workingDate: new Date(),
        parsed: {
          byAllDayStartDate: {},
          byStartDate: {},
          byId: {}
        },
        dayRowArray: [],
        thisRefName: this.createRandomString(),
     
      }
    },
    computed: {},
    methods: {
      setupEventsHandling: function () {
        this.$root.$on(
          this.eventRef + ':navMovePeriod',
          this.calPackageMoveTimePeriod,
        
        )
        this.$root.$on(
          this.eventRef + ':moveToSingleDay',
          this.switchToSingleDay,
    
        )
        this.$root.$on(
          'update-event-' + this.eventRef,
          this.handleEventUpdate,
     
        )
      },
      calPackageMoveTimePeriod: function (params) {
        this.moveTimePeriod(params)
        this.$emit(
          'calendar' + ':navMovePeriod',
          params
        )
      },
      switchToSingleDay: function (params) {
        this.setTimePeriod(params)
        this.$refs.fullCalendarTabs.selectTab('tab-single-day-component')
      },
      doUpdate: function () {
        this.mountSetDate()
      }
    },
    mounted () {
      this.mountSetDate()
      this.parseEventList()
      this.setupEventsHandling()
     
    },
    created() {
      console.log(this.eventArray)
    },
    watch: {
      startDate: 'handleStartChange',
      eventArray: function () {
        this.getPassedInEventArray()
      },
      parsedEvents: function () {
        this.getPassedInParsedEvents()
      }
    }
  }
</script>

<style lang="stylus" scope="local">
  @import 'calendar.vars.styl'

.q-tab-pane 
  margin 0px
.q-tabs-head
  min-height 0px  

</style>
