<template>
  <div class="calendar-header col-auto row justify-between items-center">
    <div class="calendar-header-left col-auto">
      <q-btn
        @click="doMoveTimePeriod(timePeriodUnit, -timePeriodAmount, false)"
        icon="chevron_left"
        color="primary"
        round
        flat
        size="xl"
      />
    </div>
    <div class="calendar-header-label">
      <slot/>
    </div>
    <div class="calendar-header-right col-auto">
      <q-btn
        @click="doMoveTimePeriod(timePeriodUnit, timePeriodAmount, true)"
        icon="chevron_right"
        color="primary"
        round
        flat
        size="xl"
      />
    </div>
  </div>
</template>

<script>

  import {
    QBtn
  } from 'quasar'
  export default {
    name: 'CalendarHeaderNav',
    props: {
      timePeriodUnit: {
        type: String,
        default: 'days'
      },
      timePeriodAmount: {
        type: Number,
        default: 1
      },
      moveTimePeriodFunction: Object,
      moveTimePeriodEmit: {
        type: String,
        default: 'calendar:navMovePeriod'
      }
    },
    components: {
      QBtn
    },
    data () {
      return {}
    },
    computed: {},
    methods: {  
      doMoveTimePeriod (timePeriodUnit, timePeriodAmount, isNextPeriod) {
       
        this.$root.$emit("CHANGE_TIME_PERIOD")
        if(isNextPeriod){
          this.$root.$emit("CHANGE_TIME_PERIOD_NEXT")
        }else{
          this.$root.$emit("CHANGE_TIME_PERIOD_PREVIEW")
        }
        this.$root.$emit(
        
          this.moveTimePeriodEmit,
          {
            unitType: timePeriodUnit,
            amount: timePeriodAmount
          }
        )
      
      }
    },
    mounted () {}
  }
</script>

<style lang="stylus">
  .calendar-header
    .calendar-month-year
      font-size 1.25em
      font-weight bold
      padding 10px
</style>
