<template>
<div class="calendar-month">

    <!-- calendar header -->
    <calendar-header-nav time-period-unit="month" :time-period-amount="1" :move-time-period-emit="eventRef + ':navMovePeriod'">
        {{ formatDate(workingDate, 'MMMM yyyy').replace(/\b\w/g, l => l.toUpperCase())}}

    </calendar-header-nav>
    <div class="select-all mar-bottom-5" v-if="showCheckMonth">

        <q-checkbox v-model="selectAll" size="lg" keep-color class="check-day" @click.native="selectMonth">

            <span class="mar-left-5">Asignar todo el mes</span>

        </q-checkbox>

    </div>

    <div class="calendar-content ">
        <calendar-day-labels :number-of-days="5" :start-date="workingDate" :force-start-of-week="true" :sunday-first-day-of-week="sundayFirstDayOfWeek" :calendar-locale="calendarLocale" />
        <div class="">
          <div v-for="(thisWeek, index) in weekArray" :key="index" :class="{
          
            'row': true,
        
            'items-start': true,
            'justify-end': index < (weekArray.length -1),
            'justify-start': index === (weekArray.length - 1)
          }" class="day-container">
              <!-- class="relative-position" v-ripple -->
              <div v-if="checkCurrentDay(index)"> </div>
              
              <div :class="{
              'calendar-multi-day' : true,
              'calendar-day': true,
              'calendar-cell': true,
              'calendar-day-weekend': isWeekendDay(thisDay.dateObject),
              'calendar-day-current': isCurrentDate(thisDay.dateObject)
            }" v-for="(thisDay) in thisWeek" :key="makeDT(thisDay.dateObject).toISODate()"
            v-if="(formatDate( thisDay.dateObject, 'EEEE')!= 'sábado' && formatDate( thisDay.dateObject, 'EEEE') != 'domingo' )"> 
                  <div v-if="isCurrentDate(thisDay.dateObject)" :class="{
                'calendar-day-number': true,
                'cursor-pointer': calendarDaysAreClickable
              }" @click="handleDayClick(thisDay.dateObject)" class="day-container">
                    <div class="current-day" >

                    </div>
                    {{thisDay.dateObject.day}}
                    
                      <!-- <quantity-bubble :quantity="thisDay.dateObject.day" :offset="false" /> -->
                  </div>

                  <div v-else :class="{
                'calendar-day-number': true,
                'cursor-pointer': calendarDaysAreClickable
              }" @click="handleDayClick(thisDay.dateObject)" class="day-container" >
                  {{thisDay.dateObject.day}}

                  </div>
                
                  <div class="calendar-day-content ">
                      <template v-if="hasAnyEvents(thisDay.dateObject)">
                          <div v-for="thisEvent in monthGetDateEvents(thisDay.dateObject, index)" :key="thisEvent.id">

                              <q-btn size="sm" round icon="done" :style="{'background' : thisEvent.color, 'color': 'white','margin-left':'5px' }" @click="chooseMenu(thisDay.dateObject, thisEvent)">
                               

                              </q-btn>
                          </div>
                      </template>

                  </div>
           
              </div>
                
          </div>

        </div>
    </div>

    <menu-modal :checked-son="checkedSon" :opened-dialog="openedDialog" :dates-selected="datesSelected" :is-update="isUpdate" :id-son="idSon" :id-detail="idDetail" :is-multi="isMulti" :all-month="allMonth" :first-date="firstDate" />
</div>
</template>

<script>
import CalendarMixin from './mixins/CalendarMixin'
import CalendarEventMixin from './mixins/CalendarEventMixin'
import CalendarParentComponentMixin from './mixins/CalendarParentComponentMixin'
import MenuModal from './MenuModal'
import * as notifyMessage from '../../script/notify'
import {
    QBtn,
    QTooltip,
    QTabs,
    QTab,
    QTabPane,
    QScrollArea
} from 'quasar'
import QuantityBubble from './QuantityBubble'
import CalendarEvent from './CalendarEvent'
import CalendarDayLabels from './CalendarDayLabels'
import CalendarHeaderNav from './CalendarHeaderNav'
import CalendarEventDetail from './CalendarEventDetail'
const {
    DateTime
} = require('luxon')
export default {
    name: 'CalendarMonth',
    components: {
        QuantityBubble,
        CalendarEvent,
        CalendarDayLabels,
        CalendarHeaderNav,
        CalendarEventDetail,
        QBtn,
        QTooltip,
        QTabs,
        QTab,
        QTabPane,
        QScrollArea,
        MenuModal
    },
    mixins: [CalendarParentComponentMixin, CalendarMixin, CalendarEventMixin],
    props: {
        fullComponentRef: String,
        checkedSon: Array,
    },
    beforeCreate (){
       this.$root.$emit("SHOW_LOADING")
    },
    created() {
       
        this.generateCalendarCellArray()
        var firstWeek = this.weekArray[0]
        this.firstDate = firstWeek[0]
        this.validMenuMonth()

    },
    data() {
        return {
            dayCellHeight: 5,
            dayCellHeightUnit: 'rem',
            workingDate: new Date(),
            weekArray: [],
            parsed: this.getDefaultParsed(),
            eventDetailEventObject: {},
            idSon: null,
            datesSelected: [],
            openedDialog: false,
            isUpdate: true,
            selectAll: false,
            isMulti: false,
            idDetail: null,
            firstDate: null,
            allMonth: null,
            showCheckMonth: true
        }
    },
    computed: {

        calendarDaysAreClickable: function () {
            return (this.fullComponentRef && this.fullComponentRef.length > 0)
        }
    },
    methods: {
        validMenuMonth() {
            let date = this.firstDate.year + "-" + this.firstDate.month + "-" + this.firstDate.date
            let model = {
                date_start: date,
                id_school: window.localStorage.getItem("ID_SCHOOL"),
                id_card: window.localStorage.getItem("CURRENT_ID_SON")
            }
            var requestBody = {
                "sp": "sp_getNumMenMonth",
                "model": model
            }
          
            this.$root.$emit("SHOW_LOADING")
            this.$root.sendData(requestBody).then((result) => {

                this.$root.$emit("HIDE_LOADING")

                if (result.data.data[0].Message == 'ALL_MENU_ASIGNED') {
                    this.showCheckMonth = false
                    
                } else {
                    this.showCheckMonth = true
                    
                }

            }).catch((error) => {
                 this.$root.$emit("HIDE_LOADING")
                notifyMessage.showNotifyErrorSrv(this.$q)
                return
            });
        },
        selectMonth() {

            this.datesSelected = []
            this.datesSelected.push(this.firstDate)
            this.openedDialog = true
            this.isMulti = true
            this.isUpdate = false
            this.allMonth = true
        },
        chooseMenu(date, event) {
            console.log(date)
            this.datesSelected = []
            this.datesSelected.push(date)
            this.openedDialog = true
            this.idDetail = event.id_detail_menu
            this.isMulti = false
            this.isUpdate = true
            this.allMonth = false
            console.log(event.id_detail_menu)
                

        },
        checkCurrentDay(index) {

            if (index == 0) {

                this.$q.loading.show()
            }
            if (index == this.weekArray.length - 1) {
                this.$q.loading.hide()
            }
            return false
        },
        monthGetDateEvents: function (dateObject, index) {

            return this.dateGetEvents(dateObject)
        },
        doUpdate: function () {
            this.mountSetDate()
            this.generateCalendarCellArray()
        },
        getCalendarCellArray: function (monthNumber, yearNumber) {
            let currentDay = this.makeDT(
                DateTime.fromObject({
                    year: yearNumber,
                    month: monthNumber,
                    day: 1
                })
            )
            let currentWeekOfYear = this.getWeekNumber(currentDay, this.sundayFirstDayOfWeek)
            let weekArray = []
            let currentWeekArray = []
            let thisDayObject = {}
            for (let thisDateOfMonth = 1; thisDateOfMonth <= 31; thisDateOfMonth++) {
                currentDay = this.makeDT(
                    DateTime.fromObject({
                        year: yearNumber,
                        month: monthNumber,
                        day: thisDateOfMonth
                    })
                )
                if (
                    currentDay.year === yearNumber &&
                    currentDay.month === monthNumber
                ) {
                    if (
                        this.getWeekNumber(currentDay, this.sundayFirstDayOfWeek) !== currentWeekOfYear
                    ) {
                        weekArray.push(currentWeekArray)
                        currentWeekOfYear = this.getWeekNumber(currentDay, this.sundayFirstDayOfWeek)
                        currentWeekArray = []
                    }
                    thisDayObject = {
                        dateObject: currentDay,
                        year: currentDay.year,
                        month: currentDay.month,
                        date: currentDay.day,
                        dayName: currentDay.toFormat('EEEE'),
                        dayNumber: currentDay.weekday
                    }
                    currentWeekArray.push(thisDayObject)
                }
            }
            if (weekArray.length > 0) {
                weekArray.push(currentWeekArray)
            }
            return weekArray
        },
        generateCalendarCellArray: function () {

            this.weekArray = this.getCalendarCellArray(
                this.makeDT(this.workingDate).month,
                this.makeDT(this.workingDate).year
            )

        },
        handleNavMove: function (params) {
             this.$root.$emit("SHOW_LOADING")
            this.moveTimePeriod(params)
            this.$emit(
                this.eventRef + ':navMovePeriod', {
                    unitType: params.unitType,
                    amount: params.amount
                }
            )
            this.generateCalendarCellArray()
            var firstWeek = this.weekArray[0]
            this.firstDate = firstWeek[0]
            this.validMenuMonth()

        },
        handleDayClick: function (dateObject) {

        }
    },
    mounted() {
        this.doUpdate()
        this.handlePassedInEvents()
        this.$root.$on(
            this.eventRef + ':navMovePeriod',
            this.handleNavMove
        )
        this.$root.$on("CLOSE_DIALOG", () => {
            this.openedDialog = false
            this.datesSelected = null
            this.$forceUpdate();
            this.selectAll = false
        })

  

    },
   
    watch: {
        startDate: 'handleStartChange',
        eventArray: function () {
            this.getPassedInEventArray()
        },

    }
}
</script>

<style lang="stylus">
@import 'calendar.vars.styl'


  .calendar-month
    background #fff
    .day-container 
      text-align center
      margin auto
     
    .current-day
        background #1867c0
        width 10px
        height 10px
        position absolute
        right 27%
        border-radius 50%


    
    .calendar-time-width
      width $dayTimeLabelWidth
    .calendar-time-margin
      margin-left $dayTimeLabelWidth

    .calendar-header
      .calendar-header-label
        font-size 1.25em
        font-weight bold
    .calendar-content
      padding 4px 12px
      .calendar-cell
        width $cellWidth
        max-width $cellWidth
        padding 0
      .calendar-day-labels
        .calendar-day-label
          font-size 1.1em
        .calendar-day-label-current
          font-weight bold
      .calendar-multi-day
        border-bottom 1px solid #e2e2e2
        :last-child
          border-bottom none
      .calendar-day
 
        max-height $cellHeight
        overflow hidden
        width $sevenCellWidth
        height 70px
        background transparent
        .calendar-day-number
          font-size 0.9em
          margin-bottom 5px
          margin-top 5px

      .calendar-day-current
        background-color #ffffff
      .calendar-day-weekend
        background-color #ffffff
    .select-all
      display inline
      margin-top -15px
      display flex
      justify-content center
    
  .not-visible
    display none



 
   
</style>
