<template>
 
   <div >
  
      <q-tabs color="primary" >
       
        <q-tab
          default
          name="tab-week-component"
          class="display-none"
        />
        <q-tab-pane name="tab-week-component" >
          <calendar-multi-day
            :ref="'week-' + thisRefName"
            :start-date="workingDate"
            :parsed-events="parsed"
            :num-days="5"
            :nav-days="7"
            :force-start-of-week="true"
            :event-ref="eventRef"
    
            :sunday-first-day-of-week="sundayFirstDayOfWeek"
            :calendar-locale="calendarLocale"
            :calendar-timezone="calendarTimezone"
            :prevent-event-detail="preventEventDetail"
            :allow-editing="allowEditing"
            :day-display-start-hour="dayDisplayStartHour"   
            :data-menu="dataMenu"
            :checked-son ="checkedSon"
            :is-selecting-son="isSelectingSon"
            :working-date-week="workingDateWeek"

          />
        </q-tab-pane>

      </q-tabs>
    </div>
</template>

<script>
  import CalendarMixin from './mixins/CalendarMixin'
  import CalendarEventMixin from './mixins/CalendarEventMixin'
  import CalendarParentComponentMixin from './mixins/CalendarParentComponentMixin'
  import CalendarEvent from './CalendarEvent'
  import CalendarMonth from './CalendarMonth'
  import CalendarMultiDay from './CalendarMultiDay'
  import CalendarAgenda from './CalendarAgenda'
  import CalendarDayColumn from './CalendarDayColumn'
  import CalendarTimeLabelColumn from './CalendarTimeLabelColumn'
  import CalendarDayLabels from './CalendarDayLabels'
  import CalendarHeaderNav from './CalendarHeaderNav'
  import {
    QBtn,
    QTooltip,
    QTabs,
    QTab,
    QTabPane,
    QScrollArea
  } from 'quasar'
  import QuantityBubble from './QuantityBubble'
  export default {
    name: 'CalendarWeekMenu',
    mixins: [CalendarParentComponentMixin, CalendarMixin, CalendarEventMixin],
    props: {
     
      tabLabels: {
        type: Object,
        default: () => {
          return {
            month: 'Month',
            week: 'Week',
            threeDay: '3 Day',
            day: 'Day',
            agenda: 'Agenda'
          }
        }
      },
      dataMenu : Array,
      checkedSon : Array,
      isSelectingSon : Boolean,
      workingDateWeek : Date
    },
    components: {
      QuantityBubble,
      CalendarEvent,
      CalendarMonth,
      CalendarMultiDay,
      CalendarAgenda,
      CalendarDayColumn,
      CalendarTimeLabelColumn,
      CalendarDayLabels,
      CalendarHeaderNav,
      QBtn,
      QTooltip,
      QTabs,
      QTab,
      QTabPane,
      QScrollArea
    },
    data () {
      return {
         closest : '',
      
        dayCellHeight: 5,
        dayCellHeightUnit: 'rem',
        workingDate: new Date(),
        parsed: {
          byAllDayStartDate: {},
          byStartDate: {},
          byId: {}
        },
        dayRowArray: [],
        thisRefName: this.createRandomString(),
        currentIdSon : this.$parent.currentIdSon
      }
    },
    computed: {},
    methods: {
      setupEventsHandling: function () {
        this.$root.$on(
          this.eventRef + ':navMovePeriod',
          this.calPackageMoveTimePeriod,
        
        )
        this.$root.$on(
          this.eventRef + ':moveToSingleDay',
          this.switchToSingleDay,
    
        )
        this.$root.$on(
          'update-event-' + this.eventRef,
          this.handleEventUpdate,
     
        )
      },
      calPackageMoveTimePeriod: function (params) {
        this.moveTimePeriod(params)
        this.$emit(
          'calendar' + ':navMovePeriod',
          params
        )
      },
      switchToSingleDay: function (params) {
        this.setTimePeriod(params)
        this.$refs.fullCalendarTabs.selectTab('tab-single-day-component')
      },
      doUpdate: function () {
        this.mountSetDate()
      }
    },
    mounted () {
     
      this.mountSetDate()
      this.parseEventList()
      this.setupEventsHandling()
    },
    created() {
    
    },
    watch: {
      startDate: 'handleStartChange',
      eventArray: function () {
        this.getPassedInEventArray()
      },
      parsedEvents: function () {
        this.getPassedInParsedEvents()
      }
    }
  }
</script>

<style lang="stylus" scope="local">
  @import 'calendar.vars.styl'


    
.calendar-test
  background #ffffff
  padding-bottom 50px

</style>
