<template>
	<div class="calendar-day-labels row no-wrap justify-end">
		<div v-for="(thisDay, index) in weekDateArray" :key="formatDate(thisDay, 'EEE')" :class="{
          'calendar-day-label': true,
          'calendar-cell': true,
          'calendar-day-label-current': isCurrentDayLabel(thisDay),
          'cursor-pointer': calendarDaysAreClickable
        }" :style="{
          'width': cellWidth,
          'max-width': cellWidth,
        }" @click="handleDayClick(thisDay)">
			<div v-if="showDates">
				<div v-if="isSelectingSon" class="center-check">
          	<div v-if="(getMenuFromDate(thisDay) != numSelectSon)">
					<q-checkbox v-model="weekCheckMenu[index]" keep-color class="check-day " size="lg" @click.native="selectDay(weekCheckMenu[index] ,thisDay)"></q-checkbox>
          		</div>
				</div>
				<div v-else class="center-check">
					<div v-if="(getMenuFromDate(thisDay) == 0)">
						<q-checkbox v-model="weekCheckMenu[index]" size="lg" keep-color class="check-day full-width" @click.native="selectDay(weekCheckMenu[index] ,thisDay)"></q-checkbox>
					</div>
					<div v-else>
						<div class="checkbox-fill"></div>
					</div>
				</div>
			</div>
      <span class="text-capitalize">

      {{ formatDate(thisDay, 'EEE').charAt(0) }} 

      </span>
  
      
			<div v-if="showDates">
				<div>
					<p class="number-dary-week ">
            {{ formatDate(thisDay, 'dd') }}
          </p>
				</div>
			</div>
		</div>
		<template v-if="showDates">
			<div class="" v-if="weekCheckMenu[0] || weekCheckMenu[1] || weekCheckMenu[2] || weekCheckMenu[3] || weekCheckMenu[4]" >
				<q-btn  class="btn-add-menu" color="amber-10"  round icon="add" @click="chooseMenu()"></q-btn>
			</div>
		</template>
		<menu-modal 
      :checked-son="checkedSon" 
      :opened-dialog="openedDialogMenu" 
      :dates-selected="daysSelected"
      :is-update="isUpdate"
      :is-multi="isMulti" />
	</div>
</template>
<script>
  import CalendarMixin from './mixins/CalendarMixin'
  import CalendarEventMixin from './mixins/CalendarEventMixin'
  import CalendarEvent from './CalendarEvent'
  import MenuModal from './MenuModal'
  const {
    DateTime
  } = require('luxon')
  export default {
    name: 'CalendarDayLabels',
    props: {
       dataMenu: {
        type:Array
      },
      isSelectingSon : Boolean,
      checkedSon : Array,
      workingDateWeek : Date,
      startDate: {
        type: [Object, Date],
        default: () => {
          return new Date()
        }
      },
      numberOfDays: {
        type: Number,
        default: 7
      },
      showDates: {
        type: Boolean,
        default: false
      },
     
      forceStartOfWeek: {
        type: Boolean,
        default: false
      },
      fullComponentRef: String,
      sundayFirstDayOfWeek: {
        type: Boolean,
        default: false
      },
      calendarLocale: {
        type: String,
        default: () => {
          return DateTime.local().locale
        }
      }
    },
    components: {
        MenuModal
    },
    mixins: [CalendarMixin,CalendarEventMixin],
    data() {
      return {
        option: '',
        daysSelected: [],
        isVisibleAdd: false,
        openedDialogMenu: false,
        showButtonAdd: true,
        checked: false,
        dayCellHeight: 5,
        dayCellHeightUnit: 'rem',
        // workingDate: new Date(),
        workingDate: DateTime.local(),
        weekDateArray: [],
        weekCheckMenu: [
          false,
          false,
          false,
          false,
          false
        ],
        currentDate : new Date(),
        parsed: this.getDefaultParsed(),
        isUpdate : false,
        isMulti : false,
        numSelectSon : 0
      }
    },

    computed: {
      cellWidth: function() {
        return this.calculateDayCellWidth(this.numberOfDays)
      },
      calendarDaysAreClickable: function() {
        return (this.fullComponentRef && this.fullComponentRef.length > 0)
      }
    },
    methods: {
  
      getMenuFromDate(date){    
        let flag = false
        let numMenus = 0
        this.dataMenu.forEach(item =>{
  
          let date2 = new Date(item.start.date)
          let strDate2 = date2.getFullYear() +"-"+ (date2.getMonth() +1) +"-"+ date2.getDate()
          let strDate = date.year  +"-"+ date.month  +"-"+ date.day
          //item.start.date is converted to Datetime and is compard with date
          if(strDate == strDate2){
              if(item.color != '#FFF'){
                
                numMenus++
              }
              flag = true
          }   
            
             
        })
          return numMenus
      },
      selectDay(state, date) {
        if (state) {
          this.daysSelected.push(date)
  
        } else {
          for (let i = 0; i < this.daysSelected.length; i++) {
            let date1 = new Date( this.daysSelected[i]);
            let date2 = new Date(date)
            date1.setHours(0,0,0,0)
            date2.setHours(0,0,0,0)
            if (date1.getTime() === date2.getTime()) {
              this.daysSelected.splice(i, 1)
            }
          }
  
        }
        console.log(this.daysSelected)
      },
  
  
      chooseMenu(objectDate) {
          this.openedDialogMenu = !this.openedDialogMenu
          this.isMulti = true
      },
   
      handleStartChange: function(val, oldVal) {
        this.$root.$emit("WORKING_DATE", val) 
        this.doUpdate()
      },
      doUpdate: function() {
        this.mountSetDate()
        this.buildWeekDateArray(this.numberOfDays, this.sundayFirstDayOfWeek)
      },
      isCurrentDayLabel: function(thisDay, checkMonthOnly) {
        let now = DateTime.local()
        thisDay = this.makeDT(thisDay)
        if (checkMonthOnly === true) {
          return (
            now.weekday === thisDay.weekday &&
            now.month === thisDay.month
          )
        } else {
          return now.hasSame(thisDay, 'day')
        }
      },
      checkDays(dates, isNextPeriod){
        this.resetValues()
        dates.forEach((item, index) => {
          let date1 = new Date(item)  
          let weekDays = this.fillWeekDays(this.workingDateWeek, isNextPeriod)     
          
         
          if(date1 >= weekDays[0] && date1 <= weekDays[4]){  
            weekDays.forEach((element, i) => {
                let date2 = new Date(element)
                date1.setHours(0,0,0,0)
                date2.setHours(0,0,0,0)
                if(date1.getTime() === date2.getTime()){
                    this.weekCheckMenu[i] = true
                   
                }
              
            });
          }
        });
      },
      fillWeekDays(date, isNextPeriod){
        let weekDays = []
        let addDays = 0
        if(isNextPeriod){
          addDays = 7
        }else{
          addDays = -7
        }
          for (let i = 0; i < 5; i++) {
            weekDays.push(new Date(this.addDaysToDate(date, i +(addDays) )))     
          }
        return weekDays
      },
      handleDayClick: function(dateObject) {
       
        if (this.fullComponentRef) {
          this.fullMoveToDay(dateObject)
        
        }
      },
  
      resetValues() {
        this.weekCheckMenu.forEach((item, index) => {
          this.weekCheckMenu[index] = false
          this.$forceUpdate();
        });
  
      },
       addDaysToDate: function(thisDateObject, numDays) {
        return this.makeDT(thisDateObject).plus({
          days: numDays
        })
      },
    },
    mounted() {
      this.mountSetDate()
      this.$root.$on("RESET_VALUES", () => {
        this.resetValues()
  
      })
      this.$root.$on("CLOSE_DIALOG", ()=>{
        this.openedDialogMenu = false
      })
      this.$root.$on("CHANGE_TIME_PERIOD_NEXT", ()=>{
           this.checkDays(this.daysSelected, true)
           
      })
       this.$root.$on("CHANGE_TIME_PERIOD_PREVIEW", ()=>{
           this.checkDays(this.daysSelected, false)
           
      })
      this.$root.$on("NUM_SELECT_SON", (numSelectSon)=>{
          this.numSelectSon = numSelectSon
          
      })

    },
    watch: {
      startDate: 'handleStartChange'
    },
    created() {
      this.resetValues()
     
    },
  }
</script>

<style lang="stylus">
  .calendar-day-labels
    display flex
    justify-content  left

    .calendar-day-label
      font-size 1.1em
      padding-left 4px
      .calendar-day-label-date
        font-size 1.75em
    .calendar-day-label-current
      font-weight bold
      color : #1A237E

    .number-dary-week
      font-size 20px
      line-height 3em
      padding-bottom 0px
      margin-bottom 0px
    .btn-add-menu
      margin-bottom 5px
      width 50px
      height 50px
     
    .check-day  
      margin-bottom 10px
      width 100%
      height 100%
      position absolute
      display  flex
      align-self center
      justify-content center
      
     
    .checkbox-fill
      height 31px
    .btn-add-menu
      position fixed
      bottom 30px
      left 49%
    .center-check
      height 35px
      
      display flex
      justify-content left
      position relative
      width 100%
  
  .text-capitalize
    text-transform capitalize
    text-align left

  //  .color-success
    //  background #2196F3 !important
</style>

