<template>
  <div>
    <div class="calendar-all-day-events row no-wrap justify-end items-start">
      <div v-for="(addDays) in numberOfDays" :key="addDays" :style="{
              'width': cellWidth,
              'max-width': cellWidth
            }">
        <!-- makeDT(addDaysToDate(workingDate, addDays - 1)).toISODate() + getEventIdString(thisEvent) 
          <div v-if="(dateGetEvents(addDaysToDate(workingDate, addDays - 1)).length > 0)">
        -->

        <div v-if="(hasMenuFromDate(addDaysToDate(workingDate, addDays - 1), addDays))">
          <div v-for="(thisEvent) in getMenuFromDate(addDaysToDate(workingDate, addDays - 1), addDays)" :key="thisEvent.id_son" >
              
            <calendar-event :event-object="thisEvent" :show-time="false" :event-ref="eventRef"  :prevent-event-detail="preventEventDetail" :has-previous-day="thisEvent.hasPrev" :has-next-day="thisEvent.hasNext" :force-all-day="true" @click="chooseMenu(workingDate, addDays -1, true, thisEvent.id_son , thisEvent.color ,thisEvent.id_detail_menu)" />
    
          </div>
        </div>  
        <div v-else class="container-btn">

          <q-btn round color="deep-orange" icon="add"  class="btn-add-menu mar-left-5" @click.native="chooseMenu(workingDate, addDays - 1, false, null,'#',null)"></q-btn>
        </div>
      </div>
    </div>
    <!-- MODAL PARA ELEJIR MENU DEL DIA -->
    <menu-modal 
      :checked-son="checkedSon" 
      :opened-dialog="openedDialog" 
      :dates-selected="datesSelected"
      :is-update="isUpdate"
      :id-son="idSon"
      :id-detail="idDetail"
      :is-multi="isMulti" />
  
  </div>
</template>

<script>
  import CalendarMixin from './mixins/CalendarMixin'
  import CalendarEventMixin from './mixins/CalendarEventMixin'
  import CalendarEvent from './CalendarEvent'
  import MenuModal from './MenuModal'
  export default {
    name: 'CalendarAllDayEvents',
    props: {
      dataMenu:{
        type: Array,
        default : []
      },
      checkedSon : Array,
      startDate: {
        type: [Object, Date],
        default: () => {
          return new Date()
        }
      },
      parsed: {
        type: Object,
        default: () => {}
      },
      numberOfDays: {
        type: Number,
        default: 7
      },
      eventRef: String,
      preventEventDetail: {
        type: Boolean,
        default: false
      }
    },
    components: {
      CalendarEvent,
      MenuModal
    },
    mixins: [CalendarMixin, CalendarEventMixin],
    data() {
      return {
        openedDialog: false,
        dayCellHeight: 5,
        dayCellHeightUnit: 'rem',
        workingDate: new Date(),
        workingDateObject: {},
        weekArray: [],
        currentIdSon: this.$parent.currentIdSon,
        objectDate: null,
        addDays: null,
        datesSelected : [],
        isUpdate : false,
        idSon : null,
        idDetail : null,
        isMulti : false

      }
    },
    created() {
      this.isCalendarRendering = true
      
       this.$root.$emit("CREATED_DAY_EVENT",new Date(this.startDate))
    },
    computed: {
      cellWidth: function() {
        return this.calculateDayCellWidth(this.numberOfDays)
      }
    },
    methods: {
    
      getRandomNumber(){
        return Math.floor((Math.random() * 10000) + 1);
      },
      doUpdate: function() {
        this.mountSetDate()
      },
      addDaysToDate: function(thisDateObject, numDays) {
        return this.makeDT(thisDateObject).plus({
          days: numDays
        })
      },
      chooseMenu(objectDate, num, isUpdate, idSon , color, idDetail) {

     
        if(color == "#FFF"){
            return
        }else{
          this.idDetail = idDetail
          this.idSon = idSon
     
          this.datesSelected = []
          this.datesSelected.push(this.addDaysToDate(objectDate, num))
          this.isUpdate = isUpdate
          this.openedDialog = !this.openedDialog
         
          
          
        }
      },
      hasMenuFromDate(date, addDays){ 
        
        if(parseInt(addDays,10 ) ==  parseInt(1,10)){
         this.$root.$emit("CREATED_DAY_EVENT",new Date(this.workingDate))
       
       }
  
        let flag = false
        this.dataMenu.forEach(item =>{
  
          let date2 = new Date(item.start.date)
          let strDate2 = date2.getFullYear() +"-"+ (date2.getMonth() +1) +"-"+ date2.getDate()
          let strDate = date.year  +"-"+ date.month  +"-"+ date.day
          if(strDate == strDate2){
        
              flag = true
          }      
        })
        return flag
      },
     
     getMenuFromDate(date, addDays){  
      

        let flag = false
        let menus = []
        this.dataMenu.forEach(item =>{
  
          let date2 = new Date(item.start.date)
          let strDate2 = date2.getFullYear() +"-"+ (date2.getMonth() +1) +"-"+ date2.getDate()
          let strDate = date.year  +"-"+ date.month  +"-"+ date.day
          if(strDate == strDate2){
             menus.push(item)
          }      
        })
           
        return menus
      },
    },
    mounted() {
      this.mountSetDate()
      this.$root.$on("CLOSE_DIALOG", ()=>{
          this.openedDialog = false
      })
    },
    beforeUpdate(){
      this.$root.$emit("SHOW_LOADING")
    },
    updated() {
      this.$root.$emit("HIDE_LOADING")
      this.mountSetDate()
    },
    watch: {
      startDate: 'handleStartChange',
     
         
    },
  
  }
</script>

<style lang="stylus">
  .calendar-day-labels

    .calendar-day-label
      font-size 1.1em
      .calendar-day-label-date
        font-size 1.75em
    .calendar-day-label-current
      font-weight bold
  .calendar-all-day-events
    margin-bottom 10px
    display  flex
    align-content top
    justify-items top
  .container-btn
    height 40px
    padding-top 5px
    text-align center
    .btn-add-menu 
      height 35px
      width 35px

</style>
