<template >
  <div :class="columnCss"  class="relative-position" v-ripple >
    <!-- underlying cells -->
    <div 
      class="container-days"
      v-for="thisHour in 1"
      :key="thisHour"
      :style="getCellStyle"
      :id="getDayHourId(eventRef, workingDate, thisHour - 1)"
      @click="getIdDay(getDayHourId(eventRef, workingDate, thisHour - 1))"
    >
    
      <div class="calendar-day-time-content">
        
       
      </div>
    </div>

  
    <div
      class="current-time-line"
      :style="timePosition"
    ></div>

  </div>
</template>

<script>
  import CalendarEvent from './CalendarEvent'
  import CalendarMixin from './mixins/CalendarMixin'
  import { date } from 'quasar'
  const { DateTime } = require('luxon')
  export default {
    name: 'CalendarDayColumn',
    props: {
      startDate: {
        type: [Object, Date],
        default: () => { return new Date() }
      },
      dateEvents: {
        type: Array,
        default: () => []
      },
      columnCssClass: {
        type: String,
        default: 'col'
      },
      dayCellHeight: {
        type: Number,
        default: 5
      },
      dayCellHeightUnit: {
        type: String,
        default: 'rem'
      },
      eventRef: String,
      preventEventDetail: {
        type: Boolean,
        default: false
      },
      calendarLocale: {
        type: String,
        default: () => { return DateTime.local().locale }
      },
      calendarTimezone: {
        type: String,
        default: () => { return DateTime.local().zoneName }
      },
      allowEditing: {
        type: Boolean,
        default: false
      }
    },
    components: {
      CalendarEvent
    },
    mixins: [CalendarMixin],
    data () {
      return {
        workingDate: new Date(),
        eventDetailEventObject: {},
        timePosition: {
          display: 'none'
        },
        timePositionInterval: {}
      }
    },
    watch: {
      startDate: 'mountSetDate'
    },
    computed: {
      columnCss: function () {
        let returnVal = {
          'calendar-day-column-content': true,
          'relative-position': true,
          'calendar-day-column-weekend': this.isWeekendDay(this.workingDate),
          'calendar-day-column-current': this.isCurrentDate(this.workingDate)
        }
        returnVal[this.columnCssClass] = true
        return returnVal
      },
      getCellStyle: function () {
        let thisHeight = this.dayCellHeight + this.dayCellHeightUnit
        return {
          height: thisHeight,
          'max-height': thisHeight
        }
      }
    },
    methods: {
        //Metodos agregados por ccunquero

      getIdDay(id){
        //Example ID: cal-qaygzjgbr1-2019-04-04-hour-0
        let arrayID = id.split("-")
        let year = arrayID[2]
        let month = arrayID[3]
        let day = arrayID[4]
       // alert(year + " " + month +" "+ day)

      },

      calculateDayEventClass: function (thisEvent) {
        let classes = {}
        if (thisEvent.numberOfOverlaps > 0) {
          classes['calendar-day-event-overlap'] = true
          if (thisEvent.overlapIteration === 1) {
            classes['calendar-day-event-overlap-first'] = true
          }
        }
        return classes
      },
      calculateDayEventStyle: function (thisEvent) {
        let style = {
          position: 'absolute',
          'z-index': 10,
          width: '100%'
        }
        let positions = {}
        if (thisEvent.start.dateObject && thisEvent.end.dateObject) {
          positions = this.calculateDayEventPosition(
            thisEvent.start.dateObject,
            thisEvent.end.dateObject
          )
        }
        else {
          positions = {
            top: 0,
            height: 0
          }
        }
        style['top'] = positions.top
        style['height'] = positions.height
        if (thisEvent.numberOfOverlaps > 0) {
          let thisWidth = (100 / (thisEvent.numberOfOverlaps + 1)).toFixed(2)
          let thisShift = thisWidth * (thisEvent.overlapIteration - 1)
          style['width'] = thisWidth + '%'
          style['max-width'] = thisWidth + '%'
          style['left'] = thisShift + '%'
          style['z-index'] = 10 + thisEvent.overlapIteration
        }
        return style
      },
      calculateDayEventPosition: function (startDateObject, endDateObject) {
        let startMidnight = date.adjustDate(startDateObject, {
          hours: 0,
          minutes: 0,
          seconds: 0,
          milliseconds: 0
        })
        let topMinuteCount = date.getDateDiff(startDateObject, startMidnight, 'minutes')
        let heightMinuteCount = date.getDateDiff(endDateObject, startDateObject, 'minutes')
        let sizePerMinute = this.dayCellHeight / 60
        return {
          top: (topMinuteCount * sizePerMinute) + this.dayCellHeightUnit,
          height: (heightMinuteCount * sizePerMinute) + this.dayCellHeightUnit
        }
      },
      calculateTimePosition: function () {
        let pos = {}
        let thisDateObject = this.makeDT(DateTime.local())
        if (
          thisDateObject.hasSame(this.workingDate, 'day') &&
          thisDateObject.hasSame(this.workingDate, 'month') &&
          thisDateObject.hasSame(this.workingDate, 'year')
        ) {
          pos = this.calculateDayEventPosition(thisDateObject, thisDateObject)
          pos.height = pos.top + 1
        }
        else {
          pos = {
            display: 'none'
          }
        }
        this.timePosition = pos
      },
      startTimePositionInterval: function () {
        this.calculateTimePosition()
        this.timePositionInterval = setInterval(
          this.calculateTimePosition,
          60000 // one minute
        )
      },
      endTimePositionInterval: function () {
        clearInterval(this.timePositionInterval)
      }
    },
    mounted () {
      this.mountSetDate()
      this.startTimePositionInterval()
    },
    beforeDestroy () {
      this.endTimePositionInterval()
    }
  }
</script>

<style lang="stylus" scope="local">
  @import 'calendar.vars.styl'
  
  
  .calendar-day
    position relative
   
    .calendar-day-cell-height
     
     
    .calendar-day-column-label
      //
    .calendar-day-column-content
      position relative
    .calendar-day-column-current
      background-color $currentDayBackgroundColor
    .calendar-day-column-weekend
      background-color $weekendDayBackgroundColor
    .calendar-day-time
      padding-right .5em
      border-right $borderOuter
    .calendar-day-time-content
      border-top $borderThin
    .calendar-day-event-overlap
      margin-left 1px
    .calendar-day-event-overlap-first
      margin-left 0
    .current-time-line
      position absolute
      border 1px solid red
      width 100%


</style>
