<template>
<transition name="slide-fade">
    <div class="container-calendar">

        <div class="trans-tabs ">
            <q-tabs v-model="periodCalendar" class="calendar-tabs bg-tab-calendar trans-tabs" ref="fullCalendarTabs">
                <q-tab name="tab-week" label="Semana" slot="title" class="bg-tab-week tab-head" @click="selectedTabWeek('week')" />
                <q-tab name="tab-month" label="Mes" slot="title" class="bg-tab-month tab-head" @click="selectedTabMonth('month')" />
                <q-tab-pane name="tab-week">
                    <q-tabs class="tabs-son bg-white " v-model="selectedSon">
                        <q-tab class="tab-week-son" :style="{ 'background': item.color  }" slot="title" v-for="(item, index) in dataMenu" :key="index" :name="item.id_son + '-tab'" :label="getNameSon(item.name)" @click.native="changeSon(item, index)">

                            <q-checkbox v-if="dataMenu.length > 1" color="white" v-model="checkedSon[index].state" @click.native="selectSon(item)" keep-color class="check-son" />

                        </q-tab>
                        <q-tab-pane v-for="(item, index) in dataMenu" :key="index" :name="item.id_son + '-tab'">

                            <calendar-week-menu :data-menu="item.menus" :checked-son="checkedSon" :event-array="item.menus" :working-date-week="workingDate" :is-selecting-son="isSelectingSon" />

                        </q-tab-pane>
                        <!-- <q-tab-pane  key="week-son-tab" :name="currentIdSon + '-tab'">

                                <calendar-week-menu :data-menu="currentMenus" :checked-son="checkedSon" :event-array="currentMenus" :working-date-week="workingDate" :is-selecting-son="isSelectingSon" />

                        </q-tab-pane> -->

                    </q-tabs>
                </q-tab-pane>
                <q-tab-pane name="tab-month">
                    <q-tabs v-model="selectedSon" class="tabs-son">
                        <q-tab slot="title" :style="{ 'background': item.color }" v-for="(item, index) in dataMenu" :key="index" :name="item.id_son + '-tab'" :label="getNameSon(item.name) " @click.native="changeSon(item, index)"></q-tab>
                        <q-tab-pane v-for="(item, index) in dataMenu" :key="index" :name="item.id_son + '-tab'" animated>

                            <calendar-month-menu :event-array="item.menus" :checked-son="checkedSon" :id-son="currentIdSon" />

                        </q-tab-pane>
                        <!-- <q-tab-pane  key="month-son-menu" :name="currentIdSon + '-tab'" animated>

                                <calendar-month-menu :event-array="currentMenus" :checked-son="checkedSon" :id-son="currentIdSon" />

                        </q-tab-pane> -->
                    </q-tabs>

                </q-tab-pane>
            </q-tabs>
            <q-inner-loading :visible="visible">
                <q-spinner-dots size="50px" color="primary"></q-spinner-dots>
            </q-inner-loading>

        </div>
    </div>
</transition>
</template>

<script>
import CalendarMonthMenu from './CalendarMonthMenu'
import CalendarWeekMenu from './CalendarWeekMenu'

import CalendarMixin from './mixins/CalendarMixin'
import CalendarEventMixin from './mixins/CalendarEventMixin'
import * as notifyMessage from '../../script/notify'
import {
    colorMen,
    colorWonan,
    colorCalendar
} from '../../script/color'
import Enumerable from "linq";

export default {
    mixins: [CalendarMixin, CalendarEventMixin],
    components: {
        CalendarMonthMenu,
        CalendarWeekMenu,

    },
    data() {
        return {
            periodCalendar: 'tab-week',
            selectedSon: '',
            checked: false,
            currentIdSon: 0,
            checkedSon: [],
            dataMenu: {},
            detailMenu: {
                id_user: window.localStorage.getItem("USER_ID")
            },

            isUpdateMenu: false,
            disabledReresh: false,
            colorSon: [],
            parsed: this.getDefaultParsed(),
            currentDate: new Date(),
            isSelectingSon: false,
            multiMenu: null,
            auxdataMenu: [],
            isChangePeriodTime: false,
            workingDate: new Date(),
            sizeSpinner: 0,
            isLoading: false,
            currentMenus: [],
            visible: false,
            currentTab: null,
            isFirstLoad: true

        }
    },
    mounted() {

        this.$root.$on("RESET_VALUES_DATA", (forceUpdate) => {
            this.resetValues(forceUpdate)

        })
        this.$root.$on("CHANGE_TIME_PERIOD", () => {
            this.isChangePeriodTime = true

        })

        this.$root.$on("CREATED_DAY_EVENT", (date) => {
            this.visible = true
            this.workingDate = date
            if (this.isSelectingSon) {
                this.getMultiMenu2()
            }

        })
        this.$root.$on("SHOW_LOADING", () => {

            this.visible = true
        })

        this.$root.$on("HIDE_LOADING", () => {

            this.visible = false
        })
        // this.$root.$on("WORKING_DATE", (date)=>{
        //     let currentDate = new Date(date)
        //     console.log(date)
        //     console.log(currentDate)

        //     this.workingDate = currentDate
    
        //     if(this.isFirstLoad){

        //         this.getMultiMenu()
        //     }

        // })

    },
    created() {

        this.currentTab = 'week'
        this.getData(true)

    },
    methods: {

        changeSon(item, index) {

            if (this.isSelectingSon) {
                // this.getData(false)
                this.setCurrentMenu()

                this.$forceUpdate()
            }
            this.currentIdSon = item.id_son
            this.selectedSon = item.id_son + "-tab"
            this.resetCheckSon()
            window.localStorage.setItem("CURRENT_ID_SON", this.currentIdSon);
            this.checkedSon[index].state = !this.checkedSon[index].state
            this.isSelectingSon = false
            this.currentMenus = item.menus
            this.$forceUpdate()

            if (item.id_son != this.currentIdSon) {

                this.visible = true
            }

        },
        selectSon() {
            
            this.checkCurrentSon()
            let numSelectSon = 0
            let newMenus = []
            this.checkedSon.forEach(item => {
                if (item.state) {
                    numSelectSon++
                    this.multiMenu.forEach(element => {
                        if (item.id_son == element.id_son)
                            newMenus.push(element)
                    });
                }
            });

            this.dataMenu.forEach((item, index) => {
                if (item.id_son == this.currentIdSon) {

                    this.dataMenu[index].menus = newMenus

                }
            })
            this.isSelectingSon = true
            this.$forceUpdate()
            if (numSelectSon == 1) {
                this.isSelectingSon = false
                this.setCurrentMenu()
            }
            this.$root.$emit("NUM_SELECT_SON", numSelectSon)
        },

        getMultiMenu() {
            //Asginar nuevos menus, agrega los menus del hijo seleccionado

            this.checkCurrentSon()

            let date = this.workingDate
            let model = {
                id_user: window.localStorage.getItem("USER_ID"),
                date_start: this.getFristDayWeek(date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate() + 1)),
            }

            var requestBody = {
                "sp": "sp_getDetailMenuWithSpace",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.multiMenu = this.formatDataDetilByCard(result.data.data)
                this.$q.loading.hide()

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
          
                this.$q.loading.hide()

            });
            this.isFirstLoad = false

        },
        getMultiMenu2() {
            //Asginar nuevos menus, agrega los menus del hijo seleccionado
            if (this.isChangePeriodTime) {
                this.$q.loading.show()

                this.checkCurrentSon()

                let date = this.workingDate
                let model = {
                    id_user: window.localStorage.getItem("USER_ID"),
                    date_start: this.getFristDayWeek(date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate() + 1)),
                }

                var requestBody = {
                    "sp": "sp_getDetailMenuWithSpace",
                    "model": model
                }

                this.$root.sendData(requestBody).then((result) => {
                    this.$q.loading.hide()
                    this.multiMenu = this.formatDataDetilByCard(result.data.data)
                    this.selectSon()

                }).catch((error) => {
                    notifyMessage.showNotifyErrorSrv(this.$q)
                    this.$q.loading.hide()
                });
                this.isChangePeriodTime = false
            }

        },
        formatDataDetilByCard(data) {

            let arrayMenu = []
            let currentColor = null

            data.forEach((item, index) => {

                this.dataMenu.forEach((element, i) => {

                    if (element.id_son == item.id_card) {
                        // this.dataMenu[i].id_detail = 222
                        currentColor = element.color
                        if (item.id_detail_menu == null) {

                            currentColor = '#FFF'

                        }

                    }

                });

                let model = {
                    id: this.generateID(),
                    summary: item.name,
                    description: item.description,
                    start: {
                        date: item.date_menu,
                    },
                    end: {
                        date: item.date_menu
                    },
                    color: currentColor,
                    id_son: item.id_card,
                    id_detail: item.id_detail_menu

                }
                arrayMenu.push(model)

            });

            return arrayMenu

        },

        selectedTabMonth(tabName) {

            if (this.isSelectingSon) {
                this.dataMenu = this.getData(false)
                this.$forceUpdate()
            }
            this.isSelectingSon = false

            if (this.currentTab != tabName) {
                this.visible = true
            }

            this.currentTab = tabName

        },
        selectedTabWeek(tabName) {

            if (this.currentTab != tabName) {
                this.visible = true
            }

            this.currentTab = tabName

        },

        getData(isPostBack) {

            let model = {
                id_user: window.localStorage.getItem("USER_ID"),

            }

            var requestBody = {
                "sp": "sp_getDetailMenu",
                "model": model,
                "isMenu": "true"
            }
            this.$q.loading.show()

            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                if (result.data.data.length > 0) {

                    this.dataMenu = result.data.data
                    console.log(this.dataMenu)

                    this.dataWithColor(this.dataMenu)

                    this.initUtilCalendar(isPostBack)
                    window.localStorage.setItem("CURRENT_ID_SON", this.currentIdSon);
                    this.$forceUpdate()
                    this.getMultiMenu()

                }

            }).catch((error) => {
      
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()

            });
        },
        initUtilCalendar(isPostBack) {
            this.checkedSon = []
            this.dataMenu.forEach(item => {
                let modelCheck = {
                    state: false,
                    id_son: item.id_son,
                    color: item.color
                }
                this.checkedSon.push(modelCheck)

            });
            if (isPostBack) {

                this.currentIdSon = this.dataMenu[0].id_son
                this.selectedSon = this.currentIdSon + "-tab"
                this.currentMenus = this.dataMenu[0].menus
                this.dataMenu.forEach(item => {
                    item.menus.forEach(element => {
                        element.id = this.generateID()

                    });
                });

            }
            this.checkCurrentSon()

        },

        getNameSon(name) {
            var newName = name.split(" ")
            return newName[0]
        },
        dataColorSon() {
            this.colorSon.push(colorMen.blue)
            this.colorSon.push(colorMen.indigo)
            this.colorSon.push(colorMen.green)
            this.colorSon.push(colorMen.orange)
            this.colorSon.push(colorMen.deep_orange)
            this.colorSon.push(colorMen.amber)
            this.colorSon.push(colorMen.cyan)
            this.colorSon.push(colorMen.purple)
            this.colorSon.push(colorMen.deep_purple)
            this.colorSon.push(colorMen.ligth_green)
            this.colorSon.push(colorMen.ligth_blue)

        },
        dataWithColor(data) {
            this.dataColorSon()

            data.forEach((item, index) => {

                let isAssignedColor = false
                do {
                    isAssignedColor = false
                    let color = this.getDataColor()
                    this.dataMenu.forEach((element, index) => {
                        if (element.color == color) {
                            isAssignedColor = true
                        }
                    });
                    if (!isAssignedColor) {
                        this.dataMenu[index].color = color
                        this.dataMenu[index].menus.forEach((menu, i) => {
                            this.dataMenu[index].menus[i].color = color

                            this.dataMenu[index].menus[i].id_son = item.id_son

                        });

                    }

                } while (isAssignedColor)

            });
            console.log(this.dataMenu)
        },
        getFristDayWeek(d) {
            d = new Date(d);
            var day = d.getDay(),
                diff = d.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
            return new Date(d.setDate(diff));
        },
        addDaysToDate: function (thisDateObject, numDays) {
            return this.makeDT(thisDateObject).plus({
                days: numDays
            })
        },
        getDataColor() {
            let random = Math.floor((Math.random() * this.colorSon.length) + 0);
            return this.colorSon[random]
        },
        generateID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        },
        setCurrentMenu() {
            this.dataMenu.forEach((item, index) => {
                if (item.id_son == this.currentIdSon) {

                    this.currentMenus.forEach((element, i) => {
                        if (element.color == '#FFF') {
                            this.currentMenus.split(i, 1)
                        } else {
                            //  this.currentMenus[i].color = item.color
                        }
                    });
                    this.dataMenu[index].menus = this.currentMenus

                }
            })

        },

        checkCurrentSon() {
            this.checkedSon.forEach((item, index) => {
                if (item.id_son == this.currentIdSon)
                    this.checkedSon[index].state = true

            });
        },
        resetCheckSon() {
            this.checkedSon.forEach((item, index) => {
                this.checkedSon[index].state = false
            });
        },
        resetValues(forceUpdate) {
            this.resetCheckSon()
            this.$root.$emit("RESET_VALUES") // Evento en CaledarDayLabels
            this.dataMenu = this.getData(false)

        },

    },
    watch: {

    },
}
</script>

<style lang="stylus">
.container-calendar
    position : fixed
    top : 60px
    width : 104%
    left : -8px

    .bg-tab-calendar
        background #fff !important
        border-radius 0px 
        
        .bg-tab-month
            background  #37474F  
            
        .bg-tab-week
           
            background #37474F
        .q-tabs-bar
              border 2px solid rgba(255,255,255,.9)
        .tabs-son
            border-radius 0px
            .q-tabs-bar
                border 2.4px solid rgba(255,255,255,.5)
        .q-tabs-head
            background #37474F !important
        .tab-week-son
            //  transition all .6s
            height 63px
            .q-tab-label-parent
                position absolute
                top 10px
    .trans-tabs
        // transition  all .5s

    .sizeSpinner
        height 40px !important

  
    .check-son
      top : 26px
      width 100%
      height 50%
      position absolute
      display  flex
      align-self center
      justify-content center
    
    .q-checkbox-icon
        font-size 1.6em
      
@media (min-width: 760px) {
  .container-calendar {
    position : relative
    top : 0px
    width : 100%
    left : 0px

  }

    .tab-week-son{
        min-width 130px
        width 25%    
    }
    .tab-head{
        min-width 200px
        
    }


}
</style>
