<template>
<q-modal v-model="openedDialogMenu" @hide="hide" content-css="padding-bottom: 50px">
    <q-toolbar color="primary">
        <q-btn flat round dense size="lg" @click="closeDialog" icon="keyboard_arrow_left" />
        <q-toolbar-title v-if="isMulti">
            Categorias De Menú 
        </q-toolbar-title>
        <q-toolbar-title v-else>
            Menús Del Día
        </q-toolbar-title>

    </q-toolbar>
    <div class="layout-padding">

        <q-list separator class="no-border-list" v-if="!isMulti" no-border>
            <q-item tag="label" link v-for="(item, index) in data" :key="index">
                <q-item-side>
                    <q-radio v-model="optionSelected" :val="item.id_menu" />
                </q-item-side>

                <img v-if="item.path_picture" :src="urlMedia + item.path_picture" class="img-amount"/>
                <img v-else src="statics/svg/fast-food.svg" class="img-amount"/>
                <q-item-main>
                    <q-item-tile label>{{item.name}}</q-item-tile>
                    <q-item-tile sublabel>{{item.description}}</q-item-tile>
                </q-item-main>
            </q-item>
            <h5 v-if="data.length == 0" class="layout-padding">No hay menús  asigandos para esta fecha</h5>

        </q-list>
        <q-list separator class="no-border-list" v-else no-border>
            <q-item tag="label" link v-for="(item, index) in data" :key="index">
                <q-item-side>
                    <q-radio v-model="optionSelected" :val="item.id" />
                </q-item-side>

                <!-- <img  src="statics/svg/fast-food.svg" class="img-amount"/> -->

                <q-item-main>
                    <q-item-tile label>{{item.description}}</q-item-tile>

                </q-item-main>
            </q-item>
        </q-list>

        <div v-if="data.length != 0">

            <q-btn color="primary end-items mar-top-15" label="Guardar" @click="validDates" v-if="!isUpdate || idDetail != null"></q-btn>
            <span v-if="(isUpdate)">

            <q-btn v-if="idDetail != null" color="deep-orange end-items mar-top-15 mar-rigth-10" flat  label="Eliminar" icon-right @click="dropMenu" icon="delete" ></q-btn>

        </span>
        </div>
    </div>
</q-modal>
</template>

<script>
import CalendarMixin from './mixins/CalendarMixin'
import CalendarEventMixin from './mixins/CalendarEventMixin'
import * as notifyMessage from '../../script/notify'
import {
    URL_MEDIA_APP
} from '../../script/Constant'
export default {

    name: 'MenuModal',

    props: {
        checkedSon: Array,
        openedDialog: Boolean,
        datesSelected: Array,
        isUpdate: Boolean,
        idSon: Number,
        idDetail: Number,
        isMulti: Boolean,
        allMonth: Boolean,
        firstDate: Object
    },
    created() {

        // this.optionData = this.getData()
        if (!this.isUpdate) {
            this.optionSelected = null
        }
        this.openedDialogMenu = this.openedDialog
    },
    data() {

        return {
            addDay: null,
            data: [],
            optionSelected: null,
            selectSon: [],

            currnetMenu: [],
            auxModel: null,
            openedDialogMenu: false,
            urlMedia: URL_MEDIA_APP

        }

    },

    mixins: [CalendarMixin, CalendarEventMixin],

    computed: {

    },

    methods: {
        hide() {

            this.$root.$emit("CLOSE_DIALOG")
        },
        addEditMenu() {
            let price = 0

            this.data.forEach(item => {
                if (item.id_menu == this.optionSelected)
                    price = item.price_sale
            });

            let menuSelected = {

                id_menu: this.optionSelected,
                price: price

            }
            if (this.isMulti) {
                menuSelected.is_multi = 1 //Representa verdadero
                menuSelected.id_school = window.localStorage.getItem("ID_SCHOOL")

            }

            if (!this.isUpdate) {

                if (this.optionSelected != null) {

                    this.insertMenu(this.datesSelected, menuSelected)

                } else {
                    notifyMessage.showNotify(this.$q, 0, "Seleccione algun menu")

                }

            } else {
                this.updateMenu(this.datesSelected, menuSelected)
            }

        },
        validDates() {

            if (this.allMonth) {
                this.insAllMonth()

            } else {
                if (this.optionSelected == null) {
                    if (this.isMulti)
                        notifyMessage.showNotify(this.$q, 0, "Seleccione alguna categoria")
                    else
                        notifyMessage.showNotify(this.$q, 0, "Seleccione algun menu")

                    return
                }

                if (this.isMulti) {
                    let model = {
                        dates: this.stringDates(),
                        id: this.optionSelected,
                        id_school: window.localStorage.getItem("ID_SCHOOL")
                    }

                    var requestBody = {
                        "sp": "sp_validDatesMenu",

                        "model": model

                    }

                    this.$q.loading.show()

                    this.$root.sendData(requestBody).then((result) => {

                        this.$q.loading.hide()

                        if (result.data.data[0].Result == "ALL_ARE_ASSIGNED") {
                            this.addEditMenu();
                        } else {
                            notifyMessage.showNotify(this.$q, 0, result.data.data[0].Message)
                            this.$root.$emit("CLOSE_DIALOG")

                        }

                    }).catch((error) => {

                        notifyMessage.showNotifyErrorSrv(this.$q)

                        this.$q.loading.hide()

                    });
                } else {
                    this.addEditMenu();
                }

            }

        },
        stringDates() {
            var dates = ''

            this.datesSelected.forEach((item, index) => {

                dates += item.year + "-"
                dates += item.month + "-"
                dates += item.day
                if (index != this.datesSelected.length - 1) {

                    dates += ","
                }
            });
            return dates
        },

        insAllMonth() {
            let id_card = this.idSon
            let date = this.firstDate.year + "-" + this.firstDate.month + "-" + this.firstDate.date
            if (id_card == null) {
                id_card = window.localStorage.getItem("CURRENT_ID_SON")
            }
            let object = {
                date_start: date,
                id_category: this.optionSelected,
                id_card: id_card,
                id_school: window.localStorage.getItem("ID_SCHOOL"),
                id_user_create: window.localStorage.getItem("USER_ID"),

            }
            var requestBody = {
                "sp": "sp_insMenuMonth",
                "model": object
            }
        
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
              
                this.$q.loading.hide()

                if (result.data.data[0].Result == "Error") {
                    notifyMessage.showNotify(this.$q, 0, result.data.data[0].Message)
                    this.$root.$emit("CLOSE_DIALOG")
                } else {
                    notifyMessage.showNotifySuccess(this.$q, result.data.data[0].Message)

                }
                this.$root.$emit("RESET_VALUES_DATA")
                this.$root.$emit("CLOSE_DIALOG")

            }).catch((error) => {
            
                this.$q.loading.hide()
                notifyMessage.showNotifyErrorSrv(this.$q)
                return
            });

        },
        updateMenu(datesMenu, menuSelected) {
            let idSon = this.idSon
            if (idSon == null) {
                idSon = window.localStorage.getItem("CURRENT_ID_SON")
            }
     
            let object = {
                id_detail_menu: this.idDetail,
                id_menu: menuSelected.id_menu,
                id_card: idSon,
                price: menuSelected.price,
                discount: 0,
                cuantity: 1,
                id_user_update: window.localStorage.getItem("USER_ID"),
                date_menu: datesMenu[0],

            }
         

            this.insUpdDetailMenu(object, true)

        },
        insertMenu(datesMenu, menuSelected) {
            //   this.$root.$emit("ADD_MENU", datesMenu, menuSelected) //Evento en Main component
            let lastIndexSon = 0

            this.checkedSon.forEach((item, index) => {
                if (item.id_son == window.localStorage.getItem("CURRENT_ID_SON"))
                    this.checkedSon[index].state = true

                if (this.checkedSon[index].state)
                    lastIndexSon = index
            });

            this.checkedSon.forEach((element, i) => {

                if (element.state) {
                    datesMenu.forEach((date, index) => {
                        let object = {

                            id_menu: menuSelected.id_menu,
                            id_card: element.id_son,
                            price: menuSelected.price,
                            discount: 0,
                            cuantity: 1,
                            id_user_create: window.localStorage.getItem("USER_ID"),
                            date_menu: date,
                            id_school: menuSelected.id_school,
                            is_multi: menuSelected.is_multi

                        }

                        if (i == lastIndexSon && index == datesMenu.length - 1) {
                            this.insUpdDetailMenu(object, true)
                        } else {
                            this.insUpdDetailMenu(object, false)
                        }

                    });
                }

            });

        },

        insUpdDetailMenu(object, isLastDetail) {
            var requestBody = {
                "sp": "sp_insUpdDetailMenu",
                "model": object
            }
       

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                let code = result.data.code
                let message = result.data.data[0].Message
                let res = result.data.data[0].Result
              
                if (res == 'Success') {
                    if (isLastDetail) {

                        // if (this.isUpdate) {

                        //     notifyMessage.showNotify(this.$q, code, "Menu actualizado correctamente")
                        // } else{
                           
                           
                        // }

                         if(this.isUpdate){
                                notifyMessage.showNotify(this.$q, 200, "Menu actulizado correctamente" )
                        }else{
                            notifyMessage.showNotify(this.$q, 200, message )
                        }
                         
                            
                        this.$root.$emit("RESET_VALUES_DATA")
                        this.$root.$emit("CLOSE_DIALOG")
                        this.$q.loading.hide()

                    }
                } else {
                    notifyMessage.showNotify(this.$q, 500, message)
                    this.$q.loading.hide()

                }

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                console.log(error)
                this.$q.loading.hide()
                this.$root.$emit("RESET_VALUES")
                this.$root.$emit("CLOSE_DIALOG") //EVENTO RECIVIDO EN CalendarAllDayEvents

            });

        },

        getData() {

            let model = {
                "id_school": window.localStorage.getItem("ID_SCHOOL"),
                "date_menu": this.datesSelected[0]
            }
            var requestBody = {
                "sp": "sp_getMenu",

                "model": model

            }

            this.$q.loading.show()

            this.$root.sendData(requestBody).then((result) => {

                this.$q.loading.hide()

                this.data = result.data.data

            }).catch((error) => {

                notifyMessage.showNotifyErrorSrv(this.$q)

                this.$q.loading.hide()

            });

        },
        getCategory() {
            var requestBody = {
                "sp": "sp_getCategory",
                "model": "[]"
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                this.$q.loading.hide()
                this.data = result.data.data

            }).catch((error) => {
          
                this.$q.loading.hide()
                notifyMessage.showNotifyErrorSrv(this.$q)
                return
            });
        },
        getDetailMenu(date) {
            let idSon = this.idSon
            if (idSon == null) {
                idSon = window.localStorage.getItem("CURRENT_ID_SON")
            }
            let modelDetail = {
                id_card: idSon,
                date_menu: date
            }
            var requestBody = {
                "sp": "sp_getDetailMenuSingle",
                "model": modelDetail
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                this.$q.loading.hide()
                console.log(result)
                this.optionSelected = result.data.data[0].id_menu
                this.auxModel = this.optionSelected

            }).catch((error) => {

                this.$q.loading.hide()
                notifyMessage.showNotifyErrorSrv(this.$q)
                return
            });
        },
        dropMenu() {
            this.$q.dialog({
                title: 'Menu',
                message: '¿Desea eliminar el menu asignado?',
                ok: 'Aceptar',
                preventClose: true,
                cancel: 'Calcelar'
            }).then(() => {
                this.deleteMenu()

            }).catch(() => {

            })

        },
        deleteMenu() {
            let idSon = this.idSon
            if (idSon == null) {
                idSon = window.localStorage.getItem("CURRENT_ID_SON")
            }
          
            let model = {

                id_card : idSon,
                date_menu : this.datesSelected[0],
                id_detail: this.idDetail,
                id_user_delete: window.localStorage.getItem("USER_ID"),
                id_school: window.localStorage.getItem("ID_SCHOOL")
            }
            var requestBody = {
                "sp": "sp_delDetailMenu",
                "model": model
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                if (result.data.data.length > 0) {
                    let message = result.data.data[0].Message
                    if (result.data.data[0].Result == 'Success') {
                        notifyMessage.showNotify(this.$q, result.data.code, message)
                    } else {
                        notifyMessage.showNotify(this.$q, 0, message)
                    }

                    this.$q.loading.hide()
                    this.closeDialog()
                    let forceUpdate = true
                    this.$root.$emit("RESET_VALUES_DATA", forceUpdate)
                } else {
                    notifyMessage.showNotify(this.$q, 201, "Error al obtener información")
                }
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            
            });

        },

        addDaysToDate: function (thisDateObject, numDays) {
            return this.makeDT(thisDateObject).plus({
                days: numDays
            })

        },
        closeDialog() {
            this.openedDialogMenu = !this.openedDialogMenu
            this.$root.$emit("CLOSE_DIALOG")
        },

    },

    mounted() {

        //dateArray -- array con contiene las fechas selecciondas

        this.$root.$on("MENU_MODAL", (dateArray, addDay) => {

                this.openedDialogMenu = !this.openedDialogMenu
                this.daysSelected = dateArray
                this.addDay = addDay
                this.isUpdate = false

                this.optionSelected = null

            }),
            this.$root.$on("MENU_MODAL_UPDATE", (dateArray) => {
                console.log(dateArray)
                this.openedDialogMenu = !this.openedDialogMenu
                this.daysSelected = dateArray

                this.getDetailMenu(dateArray[0])

                this.isUpdate = true

            })

    },
    watch: {
        openedDialog: function (newValue, oldValue) {

            if (newValue) {

                if (this.isMulti) {
                    this.getCategory();
                } else {

                    this.getData();
                }
                this.optionSelected = null
            }
            this.openedDialogMenu = newValue
            if (this.isUpdate && newValue) {
                this.getDetailMenu(this.datesSelected[0])
            }

        },
    },

}
</script>

<style lang="css">

</style>
