<template>
<q-layout>

    <img src="statics/img/error_load.jpg" alt="" class="img-not-found max-img"></img>


</q-layout>
</template>

<script>
export default {
    data() {
        return {

        }
    },
}
</script>
