<template>
  <div>
    <h3 class="title-main text-center mar-bottom-10">
      <span class="mar-left-10">inicio</span>
    </h3>
    <div class="layout-padding">
      <div v-if="data.length > 0">
        <q-card v-for="(item,index) in data" :key="index" class>
          <q-card-media>
            <vue-load-image>
              <img slot="image" class="img-ads" :src="media_url+item.path_picture">
              <img slot="preloader" class="img-load" src="statics/img/loading1.gif">
              <div slot="error" class="img-ads">Error al cargar</div>
            </vue-load-image>
          </q-card-media>
          <q-card-title v-if="item.description" class="relative-position">
            <div class="ellipsis">{{item.description}}</div>
          </q-card-title>
          <!-- <q-card-main v-if="item.description">
            <p class="text-faded">{{item.description}}</p>
          </q-card-main> -->
        </q-card>
      </div>
      <div v-else>
        <div v-if="statusData.text == 'DATA_EMPTY'" class="center">
          <img src="statics/img/events.jpg" alt="IMG_EVETNS" class="full-width img-not-found">
          <h4 class="center mar-top-15">No se encontraron nuevas noticias</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as notifyMessage from "../../script/notify";
import { URL_MEDIA_APP } from "../../script/Constant";
import VueLoadImage from "vue-load-image";
export default {
  components: {
    "vue-load-image": VueLoadImage
  },
  data() {
    return {
      data: [],
      id_user: window.localStorage.getItem("USER_ID"),
      media_url: URL_MEDIA_APP,
      statusData: {
        text: ""
      }
    };
  },
  created() {
     this.selectPin();
    this.$root.$emit("SHOW_STATUS_BAR");
    var requestBody = {
      sp: "sp_getAdByUser",
      model: {
        id_user: this.id_user
      }
    };

    this.$q.loading.show();
    this.$root
      .sendData(requestBody)
      .then(result => {
        this.data = result.data.data;

        if (this.data.length == 0) {
          this.statusData.text = "DATA_EMPTY";
        }
        this.$q.loading.hide();
      })
      .catch(error => {
        notifyMessage.showNotifyErrorSrv(this.$q);
        this.$q.loading.hide();
        this.$root.$emit("ERROR_LOAD");
        return;
      });
  },
  methods: {
    selectPin() {
      var requestBody = {
        sp: "sp_selectPIN",
        model: {
          id_user: window.localStorage.getItem("USER_ID")
        }
      };

      if (!window.localStorage.getItem("PIN_USER")) {
        this.$q.loading.show();

        this.$root
          .sendData(requestBody)
          .then(result => {
            let response = result.data.data;
            if (!response[0].Message) {
              this.$root.$emit("OPEN_MODAL_PIN_UPDATE", true);
            }
            this.$q.loading.hide();
          })
          .catch(error => {
            notifyMessage.showNotifyErrorSrv(this.$q);
            this.$q.loading.hide();
          });
      }
    }
  }
};
</script>

<style>
.img-ads {
  width: 100%;
}

.img-load {
  margin: auto;
  width: 25%;
  display: flex;
  align-self: center;
  align-items: center;
}

.color-purple {
  color: #202055;
}
.img-not-found {
  max-width: 600px;
  margin: auto;
}
</style>
