<template>
  <q-layout view="lHh Lpr lFf">
    <div class="container-toolbar">
      <q-btn flat class="icon-menu" @click="leftDrawerOpen = !leftDrawerOpen" round>
        <q-icon name="fas fa-list-ul"/>
      </q-btn>
      <div class="center toolbar-logo">
        <img src="statics/img/logoEat.png" alt class="toolbar-logo" @click="goHome">
      </div>
      <q-btn flat class="icon-out" @click="out" round>
        <q-icon name="fas fa-sign-out-alt"/>
      </q-btn>
    </div>

    <!-- <q-layout-drawer  reveal v-model="drawer" class="drawer" > -->
    <!-- :content-class="$q.theme === 'mat' ? 'drawer' : null"          -->
    <!-- sidebar: style can be found in sidebar.less -->

    <!-- <q-layout-drawer v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'q-layout-drawer-dark q-layout-drawer-mat' : 'q-layout-drawer-ios'">

        <section>

            <q-list no-border :class="$q.theme === 'mat' ? 'q-list-dark' : null">
                <q-item >
                    <q-item-side :avatar="imageUrl" />
                    <q-item-main :label="displayName" label-lines="1" :sublabel="email" sublabel-lines="1" />

                </q-item>
            </q-list>

            <sidebar-menu />

        </section>

    </q-layout-drawer>-->

    <transition
      appear
      enter-active-class="animated slideInLeft"
      leave-active-class="animated slideOutLeft"
      v-if="leftDrawerOpen"
      class="container-drawer-layout"
    >
      <div class="container-drawer-layout">
        <!-- <i class="fas fa-sing-out-alt icon-out" ></i> -->
        <!-- <q-btn flat class="icon-out" @click="out" round>
                <i class="fas fa-sign-out-alt"></i>
        </q-btn>-->

        <sidebar-menu/>
      </div>
    </transition>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import menu from "../../router/menu";
import SidebarMenu from "./SidebarMenu";
export default {
  name: "app-drawer",
  components: {
    SidebarMenu
  },
  data() {
    return {
      drawer: true,
      menus: menu,
      displayName: "The",
      email: "",
      imageUrl: "",
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  methods: {
    goHome() {
      this.$router.push("Home");
    },
    out() {
      this.$root.$emit("HIDE_STATUS_BAR");
      let rememberPassword  = null 
      let rememberUser  = null 
       
        if(window.localStorage.getItem("REMEMBER_PASSWORD")){
          rememberPassword = window.localStorage.getItem("REMEMBER_PASSWORD")
          rememberUser = window.localStorage.getItem("REMEMBER_USER")
        }
        window.localStorage.clear();
      
        if(rememberPassword){
          window.localStorage.setItem("REMEMBER_PASSWORD", rememberPassword)
          window.localStorage.setItem("REMEMBER_USER", rememberUser)
        }
        
      this.$router.push("Login");
    }
  },
  created() {
    //window.localStorage.setItem("USER_INFO", this.userInfo.email);
    // alert("hello")
  },
  mounted() {
    this.email = window.localStorage.getItem("USER_EMAIL");
    this.displayName = window.localStorage.getItem("USER_DISPLAY_NAME");
    this.imageUrl = window.localStorage.getItem("USER_IMAGE_URL");
    if (!this.imageUrl) {
      this.imageUrl = "statics/svg/user.svg";
    }
    this.$root.$on("APP_DRAWER_TOGGLED", () => {
      this.leftDrawerOpen = !this.leftDrawerOpen;
    });
    //this.$root.$on("USER_INFO", (user)=> {this.userInfo = user ; this.displayName = user.displayName; alert(this.displayName)});
  }
};
</script>

<style>
/* .user-panel .image img {
    border-radius: 50%;
}

#searchForm {
    padding-left: 0em;
    padding-right: 0em;
}

.q-layout-drawer-mat {
    width: 85% !important;
    max-width: 300px;

}

.q-layout-drawer-ios {
    width: 85% !important;
    max-width: 280px;

}
.q-layout-header{
    border : none;
}

.color-white {
    color: #ffffff;
}

.text-none {
    text-decoration: none;
}

.title-toolbar {
    margin-left: 30px !important;
    height: 35px;
    display: flex;
    align-items: center;

/* } 

.title-toolbar-ios{
     justify-content: center;
}
.toolbar-ios{

} */

.container-drawer-layout {
  position: fixed;
  height: 100%;
  background: #fff;
  width: 100%;
  z-index: 100;
}

.btn-menu {
  position: absolute;
  left: 0px;
  height: 60px !important;
  width: 70px !important;
}

.container-toolbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  top: 0px;
}

.icon-menu {
  position: absolute;
  color: #202055;
  font-size: 1.2em;
  left: 0px;
}

.toolbar-logo {
  margin: auto;
  height: 70px;
}

.icon-out {
  color: #202055;
  font-size: 1.2em;
  position: absolute;
  right: -2px;
  /* top : -60px; */
}

.icon-transfer {
  /* width: 20px; */
  position: absolute;
  z-index: 100;
  width: 90px;
  bottom: 100px;
  right: 100px;
  font-size: 2.3em;
}
@media (min-width: 760px) {
  .toolbar-logo {
    height: 80px;
  }
}
</style>
