<template>
  <div class="sidebar-menu">
    <!-- <router-link tag="li" class="pageLink" :to="item.component"  v-for="(item, index) in menus" :key="index">
        <a>
          <i :class="item.icon"></i>
          <span class="page">{{item.title}}</span>
        </a>

    </router-link>-->
    <div class="container-items-menu">
      <!-- <q-list  v-for="(item, index) in menus" :key="index"  no-border :class="$q.theme === 'mat' ? 'q-list-dark' : null">
            <q-item :to="item.component" class="no-border" @click.native="component(item.component)">
              <q-item-side  :icon="item.icon" :class="$q.theme === 'mat' ? 'color-light-gray text-10px item-selected' : null"/>
               <q-item-main :label="item.title" class="" >               
                </q-item-main>
            </q-item>      
      </q-list>-->
      <!-- <div class="container-items-menu">

            <div class="item-menu">
                <img src="statics/img/qr.png" alt="" class="img-item item-qr" > 

            </div>
            <div class="item-menu item-card">
                 <img src="statics/img/cards.png" alt="" class="img-item "> 
            </div>  
            <div class="item-menu">
                 <img src="statics/img/calendar.png" alt="" class="img-item item-calendar"> 
            </div>
            <div class="item-menu">
                 <img src="statics/img/user.png" alt="" class="img-item item-user"> 
            </div>

            <div class="item-menu">
                <img src="statics/img/billing.png" alt="" class="img-item item-billing"> 
            </div>
            <div class="item-menu">
                <img src="statics/img/activity.png" alt="" class="img-item item-activity"> 
            </div>
            <div class="item-menu">
                <img src="statics/img/money.png" alt="" class="img-item item-money"> 
            </div>

      </div>-->
      <div class="position-relative">
        <!-- <div class="container-logo-icon">
            <div class="item-menu item-qr">
                <img src="statics/img/qr.png" alt="" class="img-item " ></img>
                <div class="point"></div>
            </div>
              <div class="item-menu item-card">
                 <img src="statics/img/cards.png" alt="" class="img-item "> 
                <div class="point"></div>

            </div> 
              <div class="item-menu item-calendar">
                 <img src="statics/img/calendar.png" alt="" class="img-item "> 
                <div class="point"></div>

            </div>
                <div class="item-menu item-user">
                 <img src="statics/img/user.png" alt="" class="img-item "> 
                <div class="point"></div>

            </div>
             <div class="item-menu item-billing">
                <img src="statics/img/billing.png" alt="" class="img-item "> 
                <div class="point"></div>

            </div>
             <div class="item-menu item-activity">
                <img src="statics/img/activity.png" alt="" class="img-item "> 
                <div class="point"></div>

            </div>
            <div class="item-menu item-money">
                <img src="statics/img/money.png" alt="" class="img-item"> 
                <div class="point"></div>

            </div>

            <img src="statics/img/logoIcon.png" alt="" class="logo-icon"></img>

            <div class="cirlcle-placeholder"></div>

        </div>-->
        <div class="menu-all">
          <img src="statics/img/menuAll4.png" class="img-menu">

          <div class="item-menu item-qr position-relative" v-ripple @click="component('QR')"></div>
          <div class="item-menu item-card position-relative" v-ripple @click="component('Card')"></div>

          <div
            class="item-menu item-calendar position-relative"
            v-ripple
            @click="component('MenuCalendar')"
          ></div>
          <div
            class="item-menu item-user position-relative"
            v-ripple
            @click="component('MyAccount')"
          ></div>
          <div class="item-menu item-money position-relative" v-ripple @click="component('Money')"></div>
          <div
            class="item-menu item-activity position-relative"
            v-ripple
            @click="component('Activity')"
          ></div>
          <div
            class="item-menu item-billing position-relative"
            v-ripple
            @click="component('Transfer')"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import menu from "../../router/menu";
export default {
  name: "SidebarMenu",
  data() {
    return {
      menus: menu,
      QR: "QR"
    };
  },
  methods: {
    hola() {},
    component(component) {
      if (component == "LoginRegister") {
        this.$root.$emit("DARK_STATUS_BAR");
        let rememberPassword  = null
       
        if(window.localStorage.getItem("REMEMBER_PASSWORD")){
          rememberPassword = window.localStorage.getItem("REMEMBER_PASSWORD")
        }
        window.localStorage.clear();
        if(rememberPassword){

          window.localStorage.setItem("REMEMBER_PASSWORD", rememberPassword)
        }else{
          window.localStorage.removeItem("REMEMBER_PASSWORD")
        }
        window.plugins.googleplus.logout(function(msg) {
          window.localStorage.clear();
        });
      } else {
        this.$root.$emit("APP_DRAWER_TOGGLED");
        this.$router.push(component);
      }
    }
  }
};
</script>

<style>
/* override default */
.color-gray {
  color: #fff;
}

.position-relative {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 550px;
  display: flex;
  align-items: center;
}

.container-items-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.item-menu {
  height: 29%;
  width: 29%;
  /* background: #aaa; */
  /* border: 1px solid #aaa; */
  border-radius: 50%;
  box-shadow: #c8f20c 0px 0px 5px;
  z-index: 100;
  position: absolute;
}
.icon-menu-img {
  color: #202055;
  font-size: 4em;
  margin: auto;
}

.img-item {
  width: 100%;
  height: 100%;
}

.container-items-menu .item-icon {
  font-size: 3.3em;
  color: #202055;
}

.container-logo-icon {
  display: flex;
  justify-self: center;
  position: absolute;
  width: 100%;
  z-index: 90;
  border: 1px solid #aaa;
  height: 50%;
}

.logo-icon {
  width: 200px;

  margin: auto;
  display: flex;
  justify-self: center;
}

.item-qr {
  left: 2%;
  top: 25.5%;
}

.item-card {
  top: 2.4%;
  left: 20.5%;
}

.item-calendar {
  top: 2.5%;
  right: 21%;
}

.item-user {
  right: 1.9%;
  top: 25%;
}

.item-billing {
  left: 8.8%;
  bottom: 16.5%;
}

.item-activity {
  right: 35.9%;
  bottom: 3.5%;
}

.item-money {
  right: 9%;
  bottom: 16.5%;
}

.cirlcle-placeholder {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px dotted #aaa;
  position: absolute;
  top: -95px;
  margin: auto;
  margin-left: 55px;
  z-index: 10000;
}

.line-cirle {
  width: 175px;
  height: 2px;
  background: #aaa;
  z-index: 10000;
  position: absolute;
  top: 80px;
  margin-left: 55px;
}

.line-1 {
  transform: rotate(0deg);
}

.line-2 {
  transform: rotate(51deg);
}

.line-3 {
  transform: rotate(102deg);
}

.line-4 {
  transform: rotate(153deg);
}

.menu-all {
  width: 100%;
  position: relative;
  top: -47.5px;
  min-width: 300px;
}

.img-menu {
  width: 100%;
}
</style>
