@font-face {
    font-family: 'jaapokki'; /*a name to be used later*/
    src: url("Jaapokki-Regular.otf"); /*URL to font*/
}
@font-face {
    font-family: 'dk-crayon'; /*a name to be used later*/
    src: url("DK-Cool-Crayon.ttf"); /*URL to font*/
}
*{
  margin:  0px;
  padding : 0px;
  box-sizing: border-box
}
body{
font-family: 'dk-crayon';
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Eczar', serif;
}

.money{
    font-size: 1.3em;
    font-family: 'Kameron', serif;
  display: flex;
  color: #666
    
}
.money-item{
   padding-top: 15px;
    padding-bottom: 15px;
}
.money-amount{
  min-width: 60px;
}
.sidebar-menu .pageLink > a{
  text-decoration: none;
  padding:  14px 15px 14px 15px;

  }

.q-layout-drawer-dark{
  background: #1a2226
  
  }
  .sidebar-menu{
    height: 100%;  

  }
.bg-white
    background: #fffffff

.display-block
    display: inline-block
.skin-blue .user-panel > .info{
  padding-top: 15px
  position: absolute;
  top : 0px;
  
  }
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
 
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}
.center{
  text-align: center;
  display: block;
}
.titleComponent{
  text-align: center;
  display: block;
  font-size: 30px;
}
.rowChild{
    padding-left: 15px;
    padding-right: 15px;
}
.q-layout-drawer{
  width:250px !important;
}
.q-layout{
  min-height :100%;  
  
}
// .q-toolbar{
//   padding: 10px 12px ;
//   margin-left: 0px;
//   background: #3f51b5 !important;
// }
.avatarSlide{
  display: inline-block;
  width: 150px;
}
.text-success{
  color: green 
  
  }

// Card
.icon-big
    position absolute
    right 20px
    width: 70px
    height 70px
    top 10px
  
.icon-xl
  width: 90px
  height 90px
.q-card
  position relative
 
  background: #ffffff

.user-login
  width: 180px;
  height 200px;
  display: block
  margin: auto
  padding 15px 0px
  
.container-row
  background: #ffffff 

//STYLE CALENDAR
.current-time-line
  display: none !important

.calendar-multi-day-component .calendar-time-margin {
   margin-left: 0px !important; 
   
}
.calendar-day-labels
  text-align: center

.q-tab-pane{
 
  padding: 0px !important;
  
}
.toolbar{
    padding:13px 17px !important
    font-size: 2.5em !important
    font-family:  'jaapokki' !important

}
.size-toolbar{
    font-size: .65em
  }
.color-toolbar{
  background:  #1867c0 !important
  
}
@media (max-width: 767px){
  .layout-padding { 
    padding: 0rem 0rem;
}
}


.end-items
  float: right 
.pad-top-10
  padding-top: 10px

.pad-top-15
  padding-top: 15px

.mar-top-5
  margin-top: 5px
.mar-top-10
  margin-top: 10px

.mar-top-15
  margin-top: 15px

.align-center
  text-align: center
.mar-bottom-10
  margin-bottom: 10px
.mar-bottom-15
  margin-bottom: 15px
.color-light-gray
  color:  #b8c7ce

.text-10px
  font-size: 10px !important

.q-item-icon
  font-size: 18px

.no-border
  border: none !important

.fab 
  height 80px
  width 80px
  
 

.mar-rigth-10
  margin-right: 10px
.mar-top-4
  margin-top: 6px
.mar-left-15
  margin-left: 15px

.title-toolbar
    position: relative
    top : 1.5px
.btn-fab
    width: 50px !important
    height 50px !important

.label-upload{
        padding: 9px 13px;
        color: white;
        text-transform: uppercase;
        background: #3f51b5;
        cursor: pointer; 
        border-radius: 5px;
        position relative;
        font-size: .8em;
        top: 30px;
        
}
.btn-upload{
  visibility hidden
}
.color-white{
  color: #fff;}
.upload-image {
  max-height: 200px;
  max-width 80%
  
}
.img-amount{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 5px
}
  
@media (min-width: 420px) {
  .img-amount {
    width: 85px;
    height : 85px;
  }
}
/* For large devices (e.g. desktops) */
@media (min-width: 760px) {
  .img-amount  {
    width: 100px;
    height : 100px;
  }

}


.modal-content{
 
  min-width 80%;  
  
}
.mar-bottom-5{
  margin-bottom: 5px;

}
.mar-left-5{
  margin-left: 5px
}

.center-qr{
    display : flex;
    justify-content : center
}
.hide{
  visibility hidden  
}

.loading {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  display : flex;
  justify-content: center;
  align-items: center;

}
.loading:before {
  content: "";
  display: block;
}
.loading:after {
  content: "";
  display: table;
  clear: both;
}
.text {
  float: left;
  color: #1867c0;

}


.max-img{
      max-width: 500px;
}
.img-not-found   {
    width: 100% !important;


  }

.title-main {
    background: #202055;
    color: #FFF;
    padding: 8px 0px;
    margin-bottom: 0px;
}

.container-list{
  background: #f1f2f2;
    box-sizing: border-box;
  border-left:  10px solid #c8f20c !important;
}
.container-list .q-item-label, .container-list .q-item-sublabel{
    color:  #202055;
  }
.menu-more {
    background: #c8f20c;
  
    // left : 63% !important;

    width: 100px;
    position absolute;
    // padding: 5px;
    margin-right: 30px;
}

.btn-menu-more{
  color: #c8f20c;
  font-size: 1.3em;
  }

.font-sans{
    font-family: sans-serif
   
}
.padding-list .q-item-division{
  border-bottom:  1.5px solid #c8f20c;
}
.padding-list{
  padding-left: 20px;
  padding-right: 20px
  }
.item-list{
  padding: 16px 0px;  
}
.q-item{
  // margin-left: 15px;
}
.img-add{
  width: 100%;}
.btn-add-list{
  background: #c8f20c;
  bottom: 50px;
  right : 30px;
  height 65px;
  width: 65px;
  
  }
  .bk-green{
  background: #c8f20c;
    
    }
.margin-auto{
    margin: auto;
    // margin-left: 4px;
    // margin-right: 5px;
  }
  .round{
    border-radius: 50%;  
    
  }
  
  @media (min-width : 760px){
    .title-main{
     padding: 12px 0px;  
  }
}
 
.title-list{
    font-size: 1em;
      color: #202055;
}
.sublabel-list{
    color: #202055;
    font-size: 1em;

}