/* 
@font-face {
  font-family: 'Noteworth'; 
  src: url('Bigmouth-Bold.ttf'); 
} */


/* Register Modal*/


/* .row-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.button-pin {
    margin-top: 12px;
    margin-bottom: 12px;
}

.genero-text {
    padding-bottom: 10px;
    margin: 0px;
    font-size: 18px;
    font-style: normal;
}

.container-login {
    height: 100vh;
} */


/* PIN Modal*/


/* .btn-pin {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.progress {
    padding-top: 30px;
}

.last-btn-pin {
    position: absolute;
    right: 0;
}

.center-btn-pin {
    top: 30px;
    bottom: 0px;
    margin: auto;
    position: relative;
} */


/* .layout-padding{
    max-width: 700px;
    padding-top: 0px;
    padding-bottom: 0px;
} */


/* .initSession {
    margin-top: 50px;
} */


/* STYLE BUTTONS SOCIAL ----------------------------------------------------------------------------------------------*/

.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.google span {
    background-color: #f44336;
}

.facebook span {
    background-color: #3B5998;
}

.key span {
    background-color: #FDD835;
}

.key {
    background: #37474F;
}

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .fa-google {
    color: #f44336;
}

.icon-button .fa-facebook-f {
    color: #3B5998;
}

.icon-button .fa-key {
    color: #FDD835;
}

.icon-button:hover .fa-facebook-f,
.icon-button:hover .fa-google,
.icon-button:hover .fa-key {
    color: white;
}


/* STYLE THE NEW LOGIN -----------------------------------------------------------------------------------------------*/


/* SYTLE INSERT PINS--------------------------------------------------------------------------------------------------- */

body.wrong {
    -webkit-animation: bg-red 1s ease-in;
    animation: bg-red 1s ease-in;
}

body.correct {
    -webkit-animation: bg-green 1s ease-in;
    animation: bg-green 1s ease-in;
}

#inspiration {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

#inspiration a {
    display: inline-block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all 1s ease;
}

#inspiration a:hover {
    color: #1a2226;
}

#inspiration p {
    margin: 0;
    padding-left: .4em;
    display: inline-block;
    float: right;
    color: rgba(255, 255, 255, 0.6);
}

#pin {
    background: #1a2226;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    margin: auto;
    color: rgba(255, 255, 255, 0.4);
}

.dots {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    padding-top: 0em;
}

.dot {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.8em;
    width: 1.2em;
    height: 1.2em;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
}

.dot.active {
    -webkit-animation: growDot .5s ease;
    animation: growDot .5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dot.wrong {
    -webkit-animation: wrong .9s ease;
    animation: wrong .9s ease;
}

.dot.correct {
    -webkit-animation: correct .9s ease;
    animation: correct .9s ease;
}

#pin p {
    font-size: 1em;
}

.numbers {
    /* display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-content: flex-end; */
    margin: 2em 0;
    background: #1a2226;
}

.numbers .numbers-child {
    display: flex;
    justify-content: space-between;
}

.container-pins {
    background: #1a2226;
}


/* .dark-toolbar {
    background: #1a2226 !important;
}

.dark-bg .modal-content {
    background: #1a2226 !important;
} */

.dark-toolbar {
    background: #1a2226 !important;
}

.dark-bg .modal-content {
    background: #1a2226 !important;
}

.number {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    border-radius: 2.5em;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 2.5em;
    font-weight: 400;
    font-size: 1.8em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .5s ease;
}

.no-border-number:before {
    border: none !important
}

.number:hover {
    /* -webkit-animation: grow .6s ease;
    animation: grow .6s ease; */
}

.number-active {
    -webkit-animation: grow .6s ease;
    animation: grow .6s ease;
}

.success {
    animation: correct .6s ease;
}

.error {
    animation: wrong .6s ease;
}

.number:before {
    content: "";
    position: absolute;
    left: -2px;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5em;
    transition: all .5s ease;
}

.number.grow:before {
    -webkit-animation: grow .6s ease;
    animation: grow .6s ease;
}

.in-line {
    display: inline !important;
}

.img-login {
    width: 145px;
    display: flex;
    align-self: center
}

.mar-top-btn-login {
    margin-top: 35px;
}

.color-black {
    color: #111 !important;
}

.mar-left-10 {
    margin-left: 10px
}

.fa-google {
    color: #f44336
}

.fab {
    width: 24px;
    height: 24px;
}

@-webkit-keyframes growDot {
    100% {
        background: white;
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
}

@keyframes growDot {
    100% {
        background: white;
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
}

@-webkit-keyframes grow {
    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes grow {
    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes wrong {
    20% {
        background: crimson;
    }
    40% {
        -webkit-transform: translate(-15px, 0);
        transform: translate(-15px, 0);
    }
    60% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
    }
    80% {
        -webkit-transform: translate(-5px, 0);
        transform: translate(-5px, 0);
    }
}

@keyframes wrong {
    20% {
        background: crimson;
    }
    40% {
        -webkit-transform: translate(-15px, 0);
        transform: translate(-15px, 0);
    }
    60% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
    }
    80% {
        -webkit-transform: translate(-5px, 0);
        transform: translate(-5px, 0);
    }
}

@-webkit-keyframes correct {
    20% {
        background: limegreen;
    }
    40% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    60% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    80% {
        -webkit-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

@keyframes correct {
    20% {
        background: limegreen;
    }
    40% {
        -webkit-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    60% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    80% {
        -webkit-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

@-webkit-keyframes bg-red {
    50% {
        background: crimson;
    }
}

@keyframes bg-red {
    50% {
        background: crimson;
    }
}

@-webkit-keyframes bg-green {
    50% {
        background: limegreen;
    }
}

@keyframes bg-green {
    50% {
        background: limegreen;
    }
}