<template>
  <transition name="slide-fade">
    <div>
      <h3 class="title-main text-center">
        <span class="mar-left-10">mis transferencias</span>
      </h3>
      <q-layout class="layout-padding padding-list">
        <q-list separator class="no-border-list" v-if="dataObjects.length > 0">
          <!-- <q-item v-for="(item, i) in dataObjects" :key="i" class="money-item">
                            <q-item-main>
                                <q-item-tile label>{{item.description}}</q-item-tile>
                                <q-item-tile sublabel> {{item.date}}</q-item-tile>

                            </q-item-main>
                            <q-item-side right>
                        

                                <div class="money">
                                    <span v-if="item.type='MINUS'">
                                            <q-btn size="sm" icon="remove" class="negative" flat round no-ripple>
                                            </q-btn></span>
                                    <span v-else>
                                            <q-btn size="sm" icon="add" class="positive" flat round no-ripple>
                                    </q-btn></span>Q
                                    <div class="money-amount">
                                        {{ item.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                                    </div>
                                </div>

                            </q-item-side>
          </q-item>-->
          <q-item v-for="(item, i) in dataObjects" :key="i" class="money-item item-list">
            <q-item-main>
              <q-item-tile label lines="1" class="title-list">Usuario : {{item.description}}</q-item-tile>
              <q-item-tile sublabel class="sublabel-list">Fecha : {{item.date}}</q-item-tile>
              <q-item-tile
                sublabel
                lines="1"
                class="sublabel-list"
              >Monto : Q{{item.amount.toFixed(2)}}</q-item-tile>
            </q-item-main>
            <q-item-side right>
              <div class="negative" v-if="item.type == 'MINUS'">
                <div class="money">
                  <img src="statics/img/arrowDonw.jpg" alt>
                  <!-- Q
                                    <div class="money-amount">
                                        {{ item.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </div>-->
                </div>
              </div>
              <div class="positive" v-else>
                <div class="money">
                  <!-- <q-btn size="sm" icon="fas fa-plus" flat round color="positive" no-ripple>
                  </q-btn>-->
                  <!-- Q
                                    <div class="money-amount">
                                        {{ item.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </div>-->
                  <img src="statics/img/arrowTop.jpg" alt>
                </div>
              </div>
            </q-item-side>
          </q-item>
        </q-list>

        <div v-else class="center">
          <div v-if="statusData.text == 'DATA_EMTPY'">
            <img src="statics/img/transfer.jpg" alt class="img-not-found max-img">
            <div class="mar-top-15">No ha realizado ninguna transferencia</div>
          </div>
        </div>

        <!-- Non-expandable without being on a QLayout -->
        <q-btn round @click="addItem" class="fixed btn-add-list" flat>
          <img src="statics/img/add.png" alt="not found" class="img-add">
        </q-btn>

        <transfer></transfer>
      </q-layout>
    </div>
    <!-- Modal transfer -->
  </transition>
</template>

<script>
import CalendarMixin from "../Calendar/mixins/CalendarMixin";
import CalendarEventMixin from "../Calendar/mixins/CalendarEventMixin";
import CalendarParentComponentMixin from "../Calendar/mixins/CalendarParentComponentMixin";
import * as notifyMessage from "../../script/notify";
import Transfer from "./Transfer";
export default {
  mixins: [CalendarParentComponentMixin, CalendarMixin, CalendarEventMixin],
  components: {
    Transfer
  },
  data() {
    return {
      transfer: {
        id_transfer: null,
        id_user: window.localStorage.getItem("USER_ID")
      },
      transfer_delete: {
        id_transfer: null,
        id_user_delete: null
      },
      dataObjects: [],
      statusData: {
        text: "",
        isLoading: true
      }
    };
  },
  created() {
  
    this.getData();
  },

  methods: {
    addItem() {
      this.$root.$emit("OPEN_TRANSFER_MODAL", null);
    },

    getData() {
     
      let model = {
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_getTransfer",
        model: model
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
        
          this.$q.loading.hide();
          this.dataObjects = this.formaterData(result.data.data);
          if (this.dataObjects.length == 0) {
            this.statusData.text = "DATA_EMTPY";
          }
        })
        .catch(error => {
          this.$root.$emit("ERROR_LOAD");

          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    formaterData(data) {
      let newData = [];
      data.forEach(item => {
        let model = item;
        model.date = this.formaterDate(item.date);
        newData.push(model);
      });
      return newData;
    },
    formaterDate(dateFormat) {
      var date = new Date(dateFormat);
      var dd = date.getDate();
      var mm = date.getMonth() + 1; //January is 0!

      var yyyy = date.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      var newDate = dd + "/" + mm + "/" + yyyy;
      return newDate;
    }
    // formaterDate2(dateFormat) {
    //     var date = new Date(dateFormat)
    //     return this.formatDate(date, 'MM MMMM y')
    // }
  },
  mounted() {
    this.$root.$on("TRANSF_ITEM_ADD", () => {
      this.getData();
    });
  }
};
</script>

<style>
.no-border-list {
  border: none;
  padding-top: 20px;
}

.negative {
  color: orangered;
}

.positive {
  color: #21ba45;
}
.rot-img {
  /* transform: rotate(90deg); */
}
</style>
