<template>
  <q-modal v-model="openedModal">
    <q-toolbar class>
      <q-btn flat round dense size="lg" v-close-overlay icon="keyboard_arrow_left"/>
      <q-toolbar-title>Transferencias</q-toolbar-title>
      <q-btn flat dense label="Guardar" @click="submit"/>
    </q-toolbar>

    <div class="layout-padding">
      <q-card-main>
        <div class="row">
          <div class="col-md-5 col-xs-10 rowChild">
            <q-field>
              <q-input
                v-model="transfer.mail_destination"
                @blur="$v.transfer.mail_destination.$touch"
                @keyup.enter="submitTransfer"
                :error="$v.transfer.mail_destination.$error"
                float-label="Email destino"
              />
              <p class="mar-top-10" v-if="username">Usuario : {{username}}</p>
            </q-field>
          </div>
          <div class="col-md-1 col-xs-2 mar-top-15">
            <q-btn
              v-if="!isEmailFound"
              :loading="loading"
              @click="validEmail(false)"
              class="full-width"
              icon="search"
              color="primary"
            >
              <q-spinner slot="loading" color="white" :size="30"/>
            </q-btn>
            <q-btn
              v-else
              :loading="loading"
              @click="validEmail(false)"
              class="full-width"
              icon="check"
              color="positive"
            >
              <q-spinner slot="loading" color="white" :size="30"/>
            </q-btn>
          </div>
          <div class="col-md-6 col-xs-12 rowChild">
            <q-field>
              <q-input
                prefix="Q "
                v-model="transfer.amount"
                @blur="$v.transfer.amount.$touch"
                @keyup.enter="submitTransfer"
                :error="$v.transfer.amount.$error"
                type="number"
                float-label="Monto"
              />
            </q-field>
          </div>
        </div>
      </q-card-main>
    </div>
  </q-modal>
</template>

<script>
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
import * as notifyMessage from "../../script/notify";

export default {
  mounted() {},
  data() {
    return {
      operation: "",
      openedModal: false,

      transfer: {
        mail_destination: null,
        amount: null,
        id_user: null
      },

      dataObject: {},
      loading: false,
      isEmailFound: false,
      auxEmail: null,
      username: null
    };
  },
  mounted() {
    this.$root.$on("OPEN_TRANSFER_MODAL", () => {
      this.isEmailFound = false;
      this.openedModal = !this.openedModal;
      this.auxEmail = null;
      this.resetValuesModel(this.transfer);
      this.username = null;
      this.$v.transfer.$reset();
    });
  },
  methods: {
    submit() {
      this.$v.transfer.$touch();
      if (this.$v.transfer.$error) {
        notifyMessage.showNotifyError(this.$q);
        return;
      } else {
        if (!this.isEmailFound) {
          this.validEmail(true);
        } else {
          this.saveData();
        }
      }
    },
    validEmail(isInsert) {
      let model = {
        email: this.transfer.mail_destination
      };
      var requestBody = {
        sp: "sp_validEmail",
        model: model
      };

      //   this.$q.loading.show()
      this.loading = true;
      this.$root
        .sendData(requestBody)
        .then(result => {
          let response = result.data.data;
          if (response.length > 0) {
            // this.saveData();
            this.auxEmail = this.transfer.mail_destination;
            // this.transfer.mail_destination = response[0].username
            this.username = response[0].username;
            this.isEmailFound = true;
            if (isInsert) {
              this.saveData();
            }
          } else {
            notifyMessage.showNotify(this.$q, 0, "Este email no existe");
            this.isEmailFound = false;
          }
          // this.$q.loading.hide()
          this.loading = false;
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          // this.$q.loading.hide()
          this.loading = true;
        });
    },
    saveData() {
      this.transfer.id_user = window.localStorage.getItem("USER_ID");
      var requestBody = {
        sp: "sp_insTransfer",
        model: this.transfer
      };

      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          try {
            let message = result.data.data[0].Message;
            let statusResponse = result.data.data[0].Result;
            let code = result.status;
            if (statusResponse == "Success") {
              notifyMessage.showNotify(this.$q, code, message);

              this.openedModal = !this.openedModal;
              this.$q.loading.hide();
              this.$root.$emit("TRANSF_ITEM_ADD");
            } else {
              this.$q.loading.hide();
              notifyMessage.showNotify(this.$q, 0, message);
            }
          } catch (error) {
            this.$q.loading.hide();
            notifyMessage.showNotify(this.$q, 0, "Error al obtener datos");
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },

    resetValuesModel(model) {
      model.mail_destination = null;
      model.amount = "";
      model.id_user = null;
    }
  },

  validations: {
    transfer: {
      mail_destination: {
        required
      },
      amount: {
        required
      }
    }
  }
};
</script>

<style>
</style>
