.container-login-register {
    overflow-x: hidden;
    overflow-y: auto;
    background: #202055;
    height: 100vh;
}

.container-login {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: auto;
    background: #202055;
    /* z-index: 10000; */
}

.container-logo {
    height: 50%;
    background: url('../../statics/img/lechugas_min1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.logo {
    width: 75%;
    max-width: 400px;
}

.container-form {
    height: 50%;
    background: #202055;
    z-index: 10;
    position: relative;
}

.container-input {
    padding-bottom: 20px;
}

.container-input,
.container-input-light {
    width: 70%;
    margin: auto;
    max-width: 500px
}

.title-login {
    padding-top: 25px;
}

.check-password {
    margin-top: 25px;
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
    font-size: 2.2em;
    background: #ffff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-register {
    background: #ffff;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    border: none;
    padding: 3px 18px;
}

.q-input {
    font-size: 1.4em;
}

.container-input .q-if-label {
    color: #ffffff;
}

.container-input .q-if-control {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.container-input .q-field-error {
    text-align: center;
}

.container-input .q-input-target {
    color: #fff;
}

.container-input .q-option-label {
    color: #fff;
}

.container-input .q-if:before {
    color: #fff
}


/*  Register */

.container-register {
    position: fixed;
    top: 0px;
    height: 100%;
    background: #fff;
    width: 100%;
    overflow-y: auto;
}

.bk-dark {
    background: #202055 !important;
}

.container-input-light {
    width: 100%;
}

.form-register {
    width: 75%;
}

.btn-light {
    background: #eee;
}

.full-height {
    height: 100vh;
}

.title-main {
    background: #202055;
    color: #FFF;
    padding: 8px 0px;
}

.container-user-login {
    margin-top: 50px;
}

.container-input-light .q-if-label {
    color: #202055 !important;
}

.line-dark {
    background: #202055;
    height: 3.5px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.btn-next-input {
    background: #c8f20c !important;
    margin-top: 30px;
}

.user-add {
    width: 100%;
}

.container-img-user-add {
    width: 115px;
    background: #c8f20c;
    border-radius: 50%;
    margin: auto;
}