<template>
  <q-layout class="container-login-register">
    <div class="container-login">
      <div class="container-logo">
        <img src="statics/img/Logo_min.png" alt class="logo">
      </div>
      <div class="container-form">
        <h3 class="color-white center title-login">Inicio de sesión</h3>
        <div class="container-input">
          <q-input
            v-model="login.username"
            float-label="usuario"
            icon-color="white"
            dark
            color="white"
            :before="[{icon: 'fas fa-user', handler () {}}]"
            @blur="$v.login.username.$touch"
            :error="$v.login.username.$error"
            @keyup.enter="submitLogin"
          />

          <q-input
            v-model="login.password"
            float-label="contraseña"
            icon-color="white"
            dark
            color="white"
            type="password"
            :before="[{icon: 'fas fa-lock', handler () {}}]"
            @blur="$v.login.password.$touch"
            @keyup.enter="submitLogin"
            :error="$v.login.password.$error"
          />

          <q-checkbox
            v-model="rememberPassword"
            unchecked-icon="fas fa-stop"
            color="white"
            keep-color
            size="lg"
            class="mar-top-10 check-password"
            dark
            @click.native="remPassword"
          >
            <span class="mar-left-5 color-white">recordar contraseña</span>
          </q-checkbox>

          <div class="center">
            <button class="btn-login" @click="submitLogin">acceder</button>
            <!-- <button class="btn-register" @click="openRegister">crear cuenta</button> -->
            <button class="btn-register" @click="openRegister2">crear cuenta</button>
          </div>
        </div>
      </div>
    </div>

    <transition
      appear
      enter-active-class="animated bounceInLeft"
      leave-active-class="animated bounceOutRight"
      v-if="visibleRegister"
      class="container-register bk-dark"
    >
      <div class="container-register bk-dark">
        <div class>
          <h3 class="color-white mar-top-10 space-betweeen">
            <q-btn round icon="fas fa-arrow-left" @click="closeRegister"></q-btn>
            <span class="mar-left-10">Crear cuenta</span>
          </h3>

          <div class="container-input form-register">
            <q-input
              v-model="register.username"
              @blur="$v.register.username.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.username.$error"
              float-label="Usuario"
              dark
              color="white"
            />

            <q-input
              v-model="register.password"
              float-label="Contraseña"
              @blur="$v.register.password.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.password.$error"
              type="password"
              dark
              color="white"
            />

            <q-input
              v-model="register.first_name"
              @blur="$v.register.first_name.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.first_name.$error"
              float-label="Nombres"
              dark
              color="white"
            />

            <q-input
              v-model="register.last_name"
              float-label="Apellidos"
              @blur="$v.register.last_name.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.last_name.$error"
              dark
              color="white"
            />

            <q-input
              v-model="register.mail"
              type="email"
              float-label="Correo"
              @blur="$v.register.mail.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.mail.$error"
              dark
              color="white"
            />

            <q-input
              v-mask="'#### ##### ####'"
              v-model="register.dpi"
              float-label="DPI"
              @blur="$v.register.dpi.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.dpi.$error"
              dark
              color="white"
            />

            <q-datetime
              v-model="register.birth_day"
              type="date"
              float-label="Fecha nacimiento"
              @blur="$v.register.birth_day.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.birth_day.$error"
              color="indigo"
            />

            <q-input
              v-mask="'#### ####'"
              v-model="register.phone"
              float-label="Número telefono"
              placeholder="0"
              @blur="$v.register.phone.$touch"
              @keyup.enter="submitRegister"
              :error="$v.register.phone.$error"
              dark
              color="white"
            />

            <q-select
              v-model="register.id_school"
              float-label="Seleccione unidad de negocio"
              :options="selectOptionsSchool"
            />

            <q-field label="Genero" class="mar-top-15" dark>
              <q-option-group
                type="radio"
                color="white"
                dark
                v-model="register.gender"
                @blur="$v.register.gender.$touch"
                @keyup.enter="submitRegister"
                inline
                :error="$v.register.gender.$error"
                :options="[
                                    { label: 'Masculino', value: 'M' },
                                    { label: 'Femenino', value: 'F' }

                                    ]"
              />
            </q-field>

            <div class="mar-top-15">
              <q-checkbox
                v-model="chkConditions"
                dark
                color="white"
                unchecked-icon="fas fa-stop"
                @click.native="DialogConditions"
              >
                <span class="color-white mar-left-10">Acepto los términos y condiciones</span>
              </q-checkbox>
            </div>
            <div class="form-element form-submit center mar-top-10">
              <!-- <div>

                                        <q-btn color="white" class="mar-top-10 color-black" label="Ingresar PIN  de acceso" @click="insertPIN(false, 0)"></q-btn>
              </div>-->

              <!-- <q-btn color="brown" label="Registrarse" class="mar-bottom-10 mar-top-10" :disabled="chkConditions == false" @click="submitRegister"></q-btn> -->

              <!-- <q-btn rounded label="Registrarse" color="deep-purple" size="lg" class="full-width register" @click="submitRegister"></q-btn> -->

              <button class="btn-login" @click="submitLogin">registrarse</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Wrapping only one DOM element, defined by QBtn -->
    </transition>

    <transition
      appear
      enter-active-class="animated zoomInLeft"
      leave-active-class="animated bounceOutRight"
      v-if="visibleRegister2"
      class="container-register"
    >
      <div class="container-register">
        <h3 class="title-main">
          <q-btn round flat icon="fas fa-arrow-left" @click="closeRegister2"></q-btn>
          <span class="mar-left-10">Crear cuenta</span>
        </h3>

        <div class="container-input-light form-register">
          <transition
            appear
            enter-active-class="animated zoomInLeft"
            leave-active-class="animated bounceOutRight"
            v-if="firstPart"
          >
            <div @animationend="endAnimation">
              <q-field
                error-label="Ingrese su nombre de usuario"
                :error="$v.register.username.$error"
              >
                <q-input
                  v-model="register.username"
                  @blur="$v.register.username.$touch"
                  @keyup.enter="submitRegister"
                  float-label="Usuario"
                  color="deep-purple"
                />
              </q-field>

              <q-field error-label="Ingrese contraseña" :error="$v.register.password.$error">
                <q-input
                  v-model="register.password"
                  float-label="Contraseña"
                  @blur="$v.register.password.$touch"
                  @keyup.enter="submitRegister"
                  type="password"
                  color="deep-purple"
                />
              </q-field>

              <q-field error-label="Ingrese  nombres" :error="$v.register.first_name.$error">
                <q-input
                  v-model="register.first_name"
                  @blur="$v.register.first_name.$touch"
                  @keyup.enter="submitRegister"
                  float-label="Nombres"
                  color="deep-purple"
                />
              </q-field>

              <q-field error-label="Ingrese  apellidos" :error="$v.register.last_name.$error">
                <q-input
                  v-model="register.last_name"
                  float-label="Apellidos"
                  @blur="$v.register.last_name.$touch"
                  @keyup.enter="submitRegister"
                  color="deep-purple"
                />
              </q-field>
              <q-field error-label="Ingrese  correo electrónico" :error="$v.register.mail.$error">
                <q-input
                  v-model="register.mail"
                  type="email"
                  float-label="Correo"
                  @blur="$v.register.mail.$touch"
                  @keyup.enter="submitRegister"
                  color="deep-purple"
                />
              </q-field>

              <q-field>
                <q-input
                  v-mask="'#### ##### ####'"
                  v-model="register.dpi"
                  float-label="DPI"
                  @blur="$v.register.dpi.$touch"
                  @keyup.enter="submitRegister"
                  color="deep-purple"
                />
              </q-field>

              <q-field>
                <q-datetime
                  v-model="register.birth_day"
                  type="date"
                  float-label="Fecha nacimiento"
                  @blur="$v.register.birth_day.$touch"
                  @keyup.enter="submitRegister"
                  color="deep-purple"
                />
              </q-field>

              <q-field >
                <q-input
                  v-mask="'#### ####'"
                  v-model="register.phone"
                  float-label="Número telefono"
                  placeholder="0"
                  @blur="$v.register.phone.$touch"
                  @keyup.enter="submitRegister"
                  color="deep-purple"
                />
              </q-field>

              <q-field
                error-label="Seleccione unidad de negocio"
                :error="$v.register.id_school.$error"
              >
                <q-select
                  v-model="register.id_school"
                  float-label="Seleccione unidad de negocio"
                  :options="selectOptionsSchool"
                  color="deep-purple"
                />
              </q-field>

              <q-field
                label="Género"
                class="mar-top-15"
                color="deep-purple"
                error-label="Seleccione género"
              
              >
                <q-option-group
                  type="radio"
                  color="indigo"
                  v-model="register.gender"
                  @blur="$v.register.gender.$touch"
                  @keyup.enter="submitRegister"
                  inline
                  :options="[
                                    { label: 'Masculino', value: 'M' },
                                    { label: 'Femenino', value: 'F' }

                                    ]"
                />
              </q-field>

              <div class="mar-top-15">
                <q-checkbox
                  v-model="chkConditions"
                  color="deep-purple"
                  unchecked-icon="fas fa-stop"
                  @click.native="DialogConditions"
                >
                  <span class="mar-left-10">Acepto los términos y condiciones</span>
                </q-checkbox>
              </div>
              <div class="form-element form-submit center mar-top-10 mar-bottom-10">
                <button class="btn-login btn-light" @click="submitRegister">registrarse</button>
              </div>
            </div>
          </transition>
          <transition
            appear
            enter-active-class="animated zoomInLeft"
            leave-active-class="animated bounceOutRight"
            v-if="secondPart"
          >
            <div @animationend="endAnimation">
              <q-input
                v-model="register.mail"
                type="email"
                float-label="Correo"
                @blur="$v.register.mail.$touch"
                @keyup.enter="submitRegister"
                :error="$v.register.mail.$error"
                color="deep-purple"
              />

              <q-input
                v-mask="'#### ##### ####'"
                v-model="register.dpi"
                float-label="DPI"
                @blur="$v.register.dpi.$touch"
                @keyup.enter="submitRegister"
                :error="$v.register.dpi.$error"
                color="deep-purple"
              />

              <q-datetime
                v-model="register.birth_day"
                type="date"
                float-label="Fecha nacimiento"
                @blur="$v.register.birth_day.$touch"
                @keyup.enter="submitRegister"
                :error="$v.register.birth_day.$error"
                color="deep-purple"
              />

              <q-input
                v-mask="'#### ####'"
                v-model="register.phone"
                float-label="Número telefono"
                placeholder="0"
                @blur="$v.register.phone.$touch"
                @keyup.enter="submitRegister"
                :error="$v.register.phone.$error"
                color="deep-purple"
              />

              <q-select
                v-model="register.id_school"
                float-label="Seleccione unidad de negocio"
                :options="selectOptionsSchool"
                color="deep-purple"
              />

              <q-field label="Genero" class="mar-top-15" color="deep-purple">
                <q-option-group
                  type="radio"
                  color="indigo"
                  v-model="register.gender"
                  @blur="$v.register.gender.$touch"
                  @keyup.enter="submitRegister"
                  inline
                  :error="$v.register.gender.$error"
                  :options="[
                                    { label: 'Masculino', value: 'M' },
                                    { label: 'Femenino', value: 'F' }

                                    ]"
                />
              </q-field>

              <div class="mar-top-15">
                <q-checkbox
                  v-model="chkConditions"
                  color="deep-purple"
                  unchecked-icon="fas fa-stop"
                  @click.native="DialogConditions"
                >
                  <span class="mar-left-10">Acepto los términos y condiciones</span>
                </q-checkbox>
              </div>
              <div class="form-element form-submit center mar-top-10">
                <!-- <div>

                                        <q-btn color="white" class="mar-top-10 color-black" label="Ingresar PIN  de acceso" @click="insertPIN(false, 0)"></q-btn>
                </div>-->

                <!-- <q-btn color="brown" label="Registrarse" class="mar-bottom-10 mar-top-10" :disabled="chkConditions == false" @click="submitRegister"></q-btn> -->

                <!-- <q-btn rounded label="Registrarse" color="deep-purple" size="lg" class="full-width register" @click="submitRegister"></q-btn> -->

                <button class="btn-login btn-light" @click="submitLogin">registrarse</button>
              </div>
              <div class="center mar-top-10">
                <q-btn
                  round
                  icon="fas fa-arrow-left"
                  size="lg"
                  color="white"
                  class="btn-next-input"
                  @click="openFirstPart"
                ></q-btn>
              </div>
            </div>
          </transition>
        </div>
      </div>

      <!-- Wrapping only one DOM element, defined by QBtn -->
    </transition>
  </q-layout>
</template>

<script>
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
import Pin from "./Pin";
import * as notifyMessage from "../../script/notify";

export default {
  components: {
    Pin
  },
  data() {
    return {
      selectSchool: null,
      selectOptionsSchool: [],
      termCondtionsTitle: null,
      termCondtionsDescription: null,

      //Login
      login: {
        username: "",
        password: ""
      },
      right: false,

      //Register
      register: {
        id_user: null,
        cod_user: null,
        username: null,
        password: null,
        first_name: "",
        last_name: "",
        mail: "",
        dpi: null,
        birth_day: null,
        phone: null,
        gender: "M",
        pin: null,
        url_picture: null,
        provider: null,
        id_school: null
      },

      openedRegister: false,
      optionGenero: "",
      chkConditions: false,
      isOauth: false,
      dialogSchool: false,
      isGoogle: false,
      visibleRegister: false,
      visibleRegister2: false,
      rememberPassword: false,

      firstPart: true,
      secondPart: false,
      isReverse: false
    };
  },
  validations: {
    login: {
      username: {
        required
      },
      password: {
        required
      }
    },
    register: {
      username: {
        required
      },
      password: {
        required
      },
      first_name: {
        required
      },
      last_name: {
        required
      },
      mail: {
        required,
        email
      },
      dpi: {
        maxLength: maxLength(15),
        minLength: minLength(15)
      },
      birth_day: {
      
      },
      phone: {
        maxLength: maxLength(9),
        minLength: minLength(9)
      },
      gender: {
        
      },
      id_school: {
        required
      }
    }
  },
  methods: {
    getSchools() {
      var requestBody = {
        sp: "sp_getLoginConf",
        model: "[]"
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.selectOptionsSchool = result.data.data.Table;
          this.termCondtionsTitle = result.data.data.Table1[0].term_cond_titulo;
          this.termCondtionsDescription =
            result.data.data.Table1[0].term_cond_desc;
          this.$q.loading.hide();

          // this.getPictures(this.dataObjects)
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    userPins: function(numbers) {
      this.register.pin = numbers;
    },
    submitLogin() {
      //  this.$router.push('Home')

      this.$v.login.$touch();
      if (this.$v.login.$error) {
        // notifyMessage.showNotifyError(this.$q, 0, "Por favor revise los campos de nuevo")
        return;
      } else {
        this.validUser(this.login);
      }
    },
    validUser(model) {
      this.$q.loading.show();
      var requestBody = {
        sp: "sp_selAuthentication",
        model: model
      };

      this.$root
        .sendData(requestBody)
        .then(result => {
          let infoUser = result.data.data;
          let code = result.data.code;
          if (code == 200) {
            if (infoUser.length == 0) {
              notifyMessage.showNotify(
                this.$q,
                0,
                "Usuario / contraseña incorrecta"
              );
            } else {
              let obj = result.data.data[0];
  
              window.localStorage.setItem("USER_ID", obj.id_user);
              window.localStorage.setItem("USER_DISPLAY_NAME", obj.username);
              window.localStorage.setItem("USER_FAMILY_NAME", obj.last_name);
              window.localStorage.setItem("USER_GIVEN_NAME", obj.first_name);
              window.localStorage.setItem("USER_IMAGE_URL", "");
              window.localStorage.setItem("USER_EMAIL", obj.mail);
              window.localStorage.setItem("ID_SCHOOL", obj.id_school);
              window.localStorage.setItem("MAX_TIME_MENU", obj.max_time_menu);
              this.remPassword(model);
              if(obj.pin){

                window.localStorage.setItem("PIN_USER", obj.pin);
              }

              this.$router.push("Home");
            }
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          window.plugins.googleplus.logout(function(msg) {});

          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    oauthFacebook() {
      this.isGoogle = false;
      var context = this.$root;
      var cnxt = this;
      OAuth.initialize("Fcdn9FAU7dhM0TzQ7umztVA28NM");
      OAuth.popup("facebook")
        .done(res => {
          window.localStorage.setItem("ACCESS_TOKEN", res.access_token),
            context
              .getData(
                "https://graph.facebook.com/me?fields=name,first_name,last_name,email,picture,id&access_token=" +
                  res.access_token
              )
              .then(result => {
                window.localStorage.setItem("USER_ID", result.data.id);
                window.localStorage.setItem(
                  "USER_DISPLAY_NAME",
                  result.data.name
                );
                window.localStorage.setItem(
                  "USER_LAST_NAME",
                  result.data.last_name
                );
                window.localStorage.setItem(
                  "USER_FIRST_NAME",
                  result.data.first_name
                );
                window.localStorage.setItem(
                  "USER_IMAGE_URL",
                  result.data.picture.data.url
                );
                window.localStorage.setItem("USER_EMAIL", result.data.email);

                (this.register.id_user = null),
                  (this.register.cod_user = result.data.id),
                  (this.register.username = result.data.name),
                  (this.register.password = null),
                  (this.register.first_name = result.data.first_name),
                  (this.register.last_name = result.data.last_name),
                  (this.register.mail = result.data.email),
                  (this.register.dpi = null),
                  (this.register.birth_day = null),
                  (this.register.phone = null),
                  (this.register.gender = null),
                  (this.register.pin = null),
                  (this.register.url_picture = result.data.picture.data.url),
                  (this.register.provider = "FACEBOOK");

                if (result.data.email == null) {
                  notifyMessage.showNotify(
                    this.$q,
                    0,
                    "Debe iniciar sesión usando algún correo"
                  );
                  return;
                }

                this.saveData(this.register, true);
              })
              .catch(error => {
                console.log(error);
              });
        })
        .fail(err => {
          console.log(err);
          console.log(err.message);
        });
    },
    oauthGoogle() {
      this.isGoogle = true;
      window.plugins.googleplus.logout(function(msg) {
        window.localStorage.clear();
      });
      console.log("google");

      window.plugins.googleplus.login(
        {
          scopes: "email profile"
        },
        result => {
          window.localStorage.setItem("USER_ACCESS_TOKEN", result.accessToken);
          window.localStorage.setItem("USER_ID", result.userId);
          window.localStorage.setItem("USER_DISPLAY_NAME", result.displayName);
          window.localStorage.setItem("USER_LAST_NAME", result.familyName);
          window.localStorage.setItem("USER_FIRST_NAME", result.givenName);
          window.localStorage.setItem("USER_IMAGE_URL", result.imageUrl);
          window.localStorage.setItem("USER_EMAIL", result.email);

          (this.register.id_user = null),
            (this.register.cod_user = result.userId),
            (this.register.username = result.displayName),
            (this.register.password = null),
            (this.register.first_name = result.givenName),
            (this.register.last_name = result.familyName),
            (this.register.mail = result.email),
            (this.register.dpi = null),
            (this.register.birth_day = null),
            (this.register.phone = null),
            (this.register.gender = null),
            (this.register.pin = null),
            (this.register.url_picture = result.imageUrl),
            (this.register.provider = "GOOGLE");

          if (result.email == null) {
            this.register.email = result.userId;
          }

          this.saveData(this.register, true);
          console.log(result);
        },
        msg => {
          console.log(msg);
        }
      );
    },

    submitRegister() {
      this.$v.register.$touch();
      if (this.$v.register.$error) {
        if (this.$v.register.$error) {
          notifyMessage.showNotify(
            this.$q,
            0,
            "Por favor revise los campos de nuevo"
          );
          return;
        }
        // if (this.register.pin.length != 4) {
        //     notifyMessage.showNotify(this.$q, 0, "Ingrese su PIN")
        //     return
        // }
      } else {
        if(this.chkConditions){

          this.saveData(this.register, false);
        }else{
          notifyMessage.showNotifyInfo(this.$q,"Acepte los términos y condiciones")
        }

      }
      //this.$router.push('Home')
    },
    saveData(model, isOauth) {
      this.$q.loading.show();
      var requestBody = {
        sp: "sp_insUpdUser",
        model: model
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;
          let id_user = result.data.data[0].Identity;
          let id_school = result.data.data[0].id_school;
          let max_time_menu = result.data.data[0].max_time_menu;
          let pin_user = result.data.data[0].pin;
          let code = result.data.code;

          if (code == 200) {
            if (statusResponse == "Success") {
              window.localStorage.setItem("USER_ID", id_user);
              window.localStorage.setItem("MAX_TIME_MENU", max_time_menu);
              if(pin_user) {
                window.localStorage.setItem("PIN_USER", pin_user);
              }
              if (isOauth) {
                if (id_school == null) {
                  this.dialogSchool = true;

                  // this.setUserSchool(id_user)
                } else {
                  window.localStorage.setItem("ID_SCHOOL", id_school);
                  this.$router.push("Home");
                }
                // this.insertPIN(isOauth, id_user)
              } else {
                notifyMessage.showNotify(this.$q, code, message);
                let model = {
                  username: this.register.username,
                  password: this.register.password
                };

                this.validUser(model);
              }
              this.$q.loading.hide();
            } else {
              this.$q.loading.hide();
              notifyMessage.showNotify(this.$q, 0, message);
              if (isOauth) {
                window.localStorage.clear();
              }
            }
          }
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },

    saveSchool() {
      if (this.selectSchool != null) {
        let model = {
          id_user: window.localStorage.getItem("USER_ID"),
          id_school: this.selectSchool,
          is_oauth: 1 // representa verdadero
        };
        let requestBody = {
          model: model,
          sp: "sp_insUpdUser"
        };
        this.$q.loading.show();
        this.$root
          .sendData(requestBody)
          .then(result => {
            let obj = result.data.data[0];
            if (obj.Result == "Success") {
              window.localStorage.setItem("ID_SCHOOL", this.selectSchool);
              this.$router.push("Home");
              //  notifyMessage.showNotifySuccess(this.$q, obj.Message);
            } else {
              notifyMessage.showNotify(this.$q, 0, obj.message);
            }
            this.$q.loading.hide();
            this.dialogSchool = false;
          })
          .catch(error => {
            notifyMessage.showNotifyErrorSrv(this.$q);
            this.$q.loading.hide();
          });
      } else {
        notifyMessage.showNotify(this.$q, 0, "Seleccione unidad de negocio");
      }
    },

    DialogConditions() {
      this.$q
        .dialog({
          title: this.termCondtionsTitle,
          message: this.termCondtionsDescription,
          ok: "Aceptar",
          cancel: "Calcelar",
          preventClose: true
        })
        .then(() => {
          this.chkConditions = true;
        })
        .catch(() => {
          this.chkConditions = false;
        });
    },
    insertPIN(isOauth, id_user) {
      // this.$router.push('PIN')
      this.$root.$emit("OPEN_MODAL_PIN", isOauth, id_user);
    },

    openRegister() {
      this.visibleRegister = true;
    },
    closeRegister() {
      this.visibleRegister = false;
    },
    openRegister2() {
      this.$v.$reset();
      this.getSchools();
      this.register.username = null;
      this.register.password = null;
      this.register.first_name = null;
      this.register.last_name = null;

      this.register.mail = null;
      this.register.dpi = null;

      this.register.birth_day = null;
      this.register.phone = null;
      this.register.gender = null;
      this.register.id_school = null;
      this.visibleRegister2 = true;
    },
    closeRegister2() {
      this.visibleRegister2 = false;
    },

    registerModal() {
      // this.$router.push('Register')
      this.openedRegister = true;
    },

    oauthRegister() {
      if (this.isGoogle) {
        this.oauthGoogle();
      } else {
        this.oauthFacebook();
      }
    },

    openFirstPart() {
      this.secondPart = false;
      this.isReverse = true;
    },
    closeFirstPart() {
      this.isReverse = false;
      this.firstPart = false;
      // this.secondPart = true
    },
    endAnimation() {
      if (this.isReverse) {
        this.firstPart = true;
      }
      if (this.firstPart) {
        this.secondPart = false;
      } else {
        this.secondPart = true;
      }
    },
    remPassword(user){
        if(this.rememberPassword){
          window.localStorage.setItem("REMEMBER_USER", user.username)
          window.localStorage.setItem("REMEMBER_PASSWORD", user.password)
        }else{
          window.localStorage.removeItem("REMEMBER_USER")
          window.localStorage.removeItem("REMEMBER_PASSWORD")
        }
        
    }

  },
  mounted() {
    this.$root.$on("USER_PIN_NUMBERS", numbers => {
      this.register.pin = numbers;
    });
  },
  created() {
    // AndroidFullScreen.showUnderStatusBar(()=>{

    // }, (error)=>{
    //     alert(error)
    // });

    // if (cordova.platformId == 'android') {
    //     StatusBar.backgroundColorByHexString("#1a2226");
    // }
    this.$root.$emit("DARK_STATUS_BAR");
  
    if(window.localStorage.getItem("REMEMBER_PASSWORD") != null){
       this.login.password = window.localStorage.getItem("REMEMBER_PASSWORD")
       this.login.username = window.localStorage.getItem("REMEMBER_USER")
       this.rememberPassword = true
    }
 


  },
  watch: {}
};
</script>

<style>
@import url("LoginStyle.css");

/* REGISTER */
</style>
