<template>
<q-layout class="container-login">

    <div class="container-img-login">
        
        <img src="statics/img/lechugas_min1.jpg" class="img-bk" alt="NOT FOUND">
          <div class="container-logo">
                    <img src="statics/img/Logo_min.png" alt="Logo" class="img-logo" />
                </div>

    </div>
    <div class="container-input-login">
        
    </div>
        <img src="statics/img/bk.png" class="img2-bk" alt="">

        <div class="content">

            <div class="layout-padding container-input">

              
                    <q-field icon="fas fa-user" error-label="Ingrese su nombre de usuario" :error="$v.login.username.$error">
                        <q-input float-label="Usuario" v-model="login.username" @blur="$v.login.username.$touch" @keyup.enter="submitLogin" />
                    </q-field>

                    <q-field icon="fas fa-lock" error-label="Ingrese su contraseña" :error="$v.login.password.$error">
                        <q-input float-label="Contraseña" type="password" v-model="login.password" @blur="$v.login.password.$touch" @keyup.enter="submitLogin" />
                    </q-field>

                    <!-- <div class="btn-login shadow-2 full-width" @click="submitLogin">Iniciar Sesion</div> -->

                    <!-- <div class="btn-register" >Registrarse</div> -->
                    <div class="center container-btn-login">

                        <q-btn color="deep-purple" label="Iniciar Sesion" class="mar-top-15 center full-width " rounded @click="submitLogin"></q-btn>
                        <q-btn flat color="deep-purple" outline label="Registrarse" class="mar-top-10 center full-width" rounded @click="openRegister"></q-btn>
                    </div>

                    <!-- <div class="container-social-button mar-top-10">
                    <a class="icon-button google shadow-2"   @click="oauthGoogle">
                                                <i class="fab fa-google"></i>

                                            </a>
                    <a  class="icon-button facebook shadow-2">
                                                <i class="fab fa-facebook-f" @click="oauthFacebook"></i>

                                            </a>
                </div> -->

                </div>
            </div>

            <transition appear enter-active-class="animated slideInRight" leave-active-class="animated slideOutRight" v-if="visibleRegister">
                <div class="container-register">
                    <img src="statics/img/bk12.png" class="img3-bk" alt="">
                    <div class="contents">

                        <div class="layout-padding container-input">
                            <form class="form-" method="post" onsubmit="return false;">

                                <q-btn flat round dense class="btn-close" size="lg" v-close-overlay icon="fas fa-arrow-left" @click="closeRegister" />
                                <P class="text-register">Registrarse</P>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                    <q-field>
                                        <q-input v-model="register.username" @blur="$v.register.username.$touch" @keyup.enter="submitRegister" :error="$v.register.username.$error" float-label="Usuario" />
                                    </q-field>
                                    <q-field :label-width="3">
                                        <q-input v-model="register.password" float-label="Contraseña" @blur="$v.register.password.$touch" @keyup.enter="submitRegister" :error="$v.register.password.$error" type="password" />
                                    </q-field>
                                    <q-field>
                                        <q-input v-model="register.first_name" @blur="$v.register.first_name.$touch" @keyup.enter="submitRegister" :error="$v.register.first_name.$error" float-label="Nombres" />
                                    </q-field>
                                    <q-field>
                                        <q-input v-model="register.last_name" float-label="Apellidos" @blur="$v.register.last_name.$touch" @keyup.enter="submitRegister" :error="$v.register.last_name.$error" />
                                    </q-field>
                                    <q-field>
                                        <q-input v-model="register.mail" type="email" float-label="Correo" @blur="$v.register.mail.$touch" @keyup.enter="submitRegister" :error="$v.register.mail.$error" />
                                    </q-field>
                                    <q-field>
                                        <q-input v-mask="'#### ##### ####'" v-model="register.dpi" float-label="DPI" @blur="$v.register.dpi.$touch" @keyup.enter="submitRegister" :error="$v.register.dpi.$error" />
                                    </q-field>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <q-field>
                                        <q-datetime v-model="register.birth_day" type="date" float-label="Fecha nacimiento" @blur="$v.register.birth_day.$touch" @keyup.enter="submitRegister" :error="$v.register.birth_day.$error" />
                                    </q-field>
                                    <q-field>
                                        <q-input v-mask="'#### ####'" v-model="register.phone" float-label="Numero telefono" placeholder="0" @blur="$v.register.phone.$touch" @keyup.enter="submitRegister" :error="$v.register.phone.$error" />
                                    </q-field>

                                    <q-select v-model="register.id_school" float-label="Seleccione Colegio" :options="selectOptionsSchool" />

                                    <q-field label="Genero" class="mar-top-15">
                                        <q-option-group type="radio" color="primary" v-model="register.gender" @blur="$v.register.gender.$touch" @keyup.enter="submitRegister" inline :error="$v.register.gender.$error" :options="[
                                    { label: 'Masculino', value: 'M' },
                                    { label: 'Femenino', value: 'F' }

                                    ]" />

                                    </q-field>

                                    <div class="mar-top-15">
                                        <q-checkbox v-model="chkConditions" color="primary" @click.native="DialogConditions">
                                            <span>Acepto los términos y condiciones</span>
                                        </q-checkbox>

                                    </div>
                                    <div class="form-element form-submit center mar-top-10">
                                        <!-- <div>

                                        <q-btn color="white" class="mar-top-10 color-black" label="Ingresar PIN  de acceso" @click="insertPIN(false, 0)"></q-btn>
                                    </div> -->

                                        <!-- <q-btn color="brown" label="Registrarse" class="mar-bottom-10 mar-top-10" :disabled="chkConditions == false" @click="submitRegister"></q-btn> -->

                                        <q-btn rounded label="Registrarse" color="deep-purple" size="lg" class="full-width register" @click="submitRegister"></q-btn>

                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </transition>

</q-layout>
</template>

<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'
import Pin from './Pin'
import * as notifyMessage from '../../script/notify'

export default {

    components: {
        Pin,

    },
    data() {
        return {
            selectSchool: null,
            selectOptionsSchool: [],

            //Login
            login: {
                username: '',
                password: ''
            },
            right: false,

            //Register
            register: {

                id_user: null,
                cod_user: null,
                username: null,
                password: null,
                first_name: '',
                last_name: '',
                mail: '',
                dpi: null,
                birth_day: null,
                phone: null,
                gender: 'M',
                pin: null,
                url_picture: null,
                provider: null,
                id_school: null
            },

            openedRegister: false,
            optionGenero: '',
            chkConditions: false,
            isOauth: false,
            dialogSchool: false,
            isGoogle: false,
            visibleRegister: false

        }
    },
    validations: {
        login: {
            username: {
                required
            },
            password: {
                required
            },
        },
        register: {
            username: {
                required
            },
            password: {
                required
            },
            first_name: {
                required
            },
            last_name: {
                required
            },
            mail: {
                required,
                email
            },
            dpi: {
                required,
                maxLength: maxLength(15),
                minLength: minLength(15)
            },
            birth_day: {
                required
            },
            phone: {
                required,
                maxLength: maxLength(9),
                minLength: minLength(9)
            },
            gender: {
                required
            },
            id_school: {
                required
            }

        },
    },
    methods: {

        getSchools() {

            var requestBody = {
                "sp": "sp_getSchools",
                "model": "[]"
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                this.selectOptionsSchool = result.data.data
                this.$q.loading.hide()
                console.log(result)
                // this.getPictures(this.dataObjects)

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },
        userPins: function (numbers) {
            this.register.pin = numbers
            console.log(numbers)
        },
        submitLogin() {
            //  this.$router.push('Home')

            this.$v.login.$touch()
            if (this.$v.login.$error) {

                // notifyMessage.showNotifyError(this.$q, 0, "Por favor revise los campos de nuevo")
                return
            } else {

                this.validUser(this.login)
            }

        },
        validUser(model) {
            this.$q.loading.show()
            var requestBody = {
                "sp": "sp_selAuthentication",
                "model": model
            }

            this.$root.sendData(requestBody).then((result) => {

                let infoUser = result.data.data
                let code = result.data.code
                console.log(result)
                if (code == 200) {
                    if (infoUser.length == 0) {
                        notifyMessage.showNotify(this.$q, 0, "Usuario / contraseña incorrecta")
                    } else {
                        let obj = result.data.data[0]
                        window.localStorage.setItem("USER_ID", obj.id_user);
                        window.localStorage.setItem("USER_DISPLAY_NAME", obj.username);
                        window.localStorage.setItem("USER_FAMILY_NAME", obj.last_name);
                        window.localStorage.setItem("USER_GIVEN_NAME", obj.first_name);
                        window.localStorage.setItem("USER_IMAGE_URL", '');
                        window.localStorage.setItem("USER_EMAIL", obj.mail);
                        window.localStorage.setItem("ID_SCHOOL", obj.id_school);

                        this.$router.push('Home')
                    }
                }
                this.$q.loading.hide()

            }).catch((error) => {

                window.plugins.googleplus.logout(
                    function (msg) {

                    })

                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },
        oauthFacebook() {
            this.isGoogle = false
            var context = this.$root
            var cnxt = this
            OAuth.initialize("Fcdn9FAU7dhM0TzQ7umztVA28NM")
            OAuth.popup('facebook')
                .done(res => {

                    window.localStorage.setItem("ACCESS_TOKEN", res.access_token),
                        context.getData('https://graph.facebook.com/me?fields=name,first_name,last_name,email,picture,id&access_token=' + res.access_token).then((result) => {
                            console.log(result)

                            window.localStorage.setItem("USER_ID", result.data.id);
                            window.localStorage.setItem("USER_DISPLAY_NAME", result.data.name);
                            window.localStorage.setItem("USER_LAST_NAME", result.data.last_name);
                            window.localStorage.setItem("USER_FIRST_NAME", result.data.first_name);
                            window.localStorage.setItem("USER_IMAGE_URL", result.data.picture.data.url);
                            window.localStorage.setItem("USER_EMAIL", result.data.email);

                            this.register.id_user = null,
                                this.register.cod_user = result.data.id,
                                this.register.username = result.data.name,
                                this.register.password = null,
                                this.register.first_name = result.data.first_name,
                                this.register.last_name = result.data.last_name,
                                this.register.mail = result.data.email,
                                this.register.dpi = null,
                                this.register.birth_day = null,
                                this.register.phone = null,
                                this.register.gender = null,
                                this.register.pin = null,
                                this.register.url_picture = result.data.picture.data.url,
                                this.register.provider = "FACEBOOK"

                            if (result.data.email == null) {
                                notifyMessage.showNotify(this.$q, 0, "Debe iniciar sesión usando algún correo")
                                return
                            }

                            this.saveData(this.register, true)

                        }).catch((error) => {
                            console.log(error)

                        })
                })
                .fail(err => {
                    console.log(err);
                    console.log(err.message)
                });
        },
        oauthGoogle() {
            this.isGoogle = true
            window.plugins.googleplus.logout(
                function (msg) {

                    window.localStorage.clear()
                })
            console.log("google")

            window.plugins.googleplus.login({
                    'scopes': 'email profile',

                },
                (result) => {

                    window.localStorage.setItem("USER_ACCESS_TOKEN", result.accessToken);
                    window.localStorage.setItem("USER_ID", result.userId);
                    window.localStorage.setItem("USER_DISPLAY_NAME", result.displayName);
                    window.localStorage.setItem("USER_LAST_NAME", result.familyName);
                    window.localStorage.setItem("USER_FIRST_NAME", result.givenName);
                    window.localStorage.setItem("USER_IMAGE_URL", result.imageUrl);
                    window.localStorage.setItem("USER_EMAIL", result.email);

                    this.register.id_user = null,
                        this.register.cod_user = result.userId,
                        this.register.username = result.displayName,
                        this.register.password = null,
                        this.register.first_name = result.givenName,
                        this.register.last_name = result.familyName,
                        this.register.mail = result.email,
                        this.register.dpi = null,
                        this.register.birth_day = null,
                        this.register.phone = null,
                        this.register.gender = null,
                        this.register.pin = null,
                        this.register.url_picture = result.imageUrl,
                        this.register.provider = "GOOGLE"

                    if (result.email == null) {
                        this.register.email = result.userId
                    }

                    this.saveData(this.register, true)
                    console.log(result)
                },
                (msg) => {
                    console.log(msg)

                }
            );
        },

        submitRegister() {
            this.$v.register.$touch()
            if (this.$v.register.$error) {

                console.log(this.pinNumbers)

                if (this.$v.register.$error) {

                    if (this.register.gender == null) {
                        notifyMessage.showNotify(this.$q, 0, "Seleccione genero")
                        return
                    }
                    notifyMessage.showNotify(this.$q, 0, "Por favor revise los campos de nuevo")
                    return

                }
                // if (this.register.pin.length != 4) {
                //     notifyMessage.showNotify(this.$q, 0, "Ingrese su PIN")
                //     return
                // }

            } else {

                this.saveData(this.register, false)
            }
            //this.$router.push('Home')
        },
        saveData(model, isOauth) {
            this.$q.loading.show()
            var requestBody = {
                "sp": "sp_insUpdUser",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let id_user = result.data.data[0].Identity
                let id_school = result.data.data[0].id_school
                let code = result.data.code

                if (code == 200) {
                    if (statusResponse == 'Success') {

                        window.localStorage.setItem("USER_ID", id_user);
                        if (isOauth) {
                            if (id_school == null) {
                                this.dialogSchool = true

                                // this.setUserSchool(id_user)
                            } else {
                                window.localStorage.setItem("ID_SCHOOL", id_school);
                                this.$router.push("Home")
                            }
                            // this.insertPIN(isOauth, id_user)

                        } else {
                            notifyMessage.showNotify(this.$q, code, message)
                            let model = {
                                'username': this.register.username,
                                'password': this.register.password
                            }

                            this.validUser(model)

                        }
                        this.$q.loading.hide()

                    } else {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, message)
                        if (isOauth) {

                            window.localStorage.clear()
                        }
                    }

                }
                console.log("Save data")
                console.log(result)

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()

            });
        },

        saveSchool() {
            if (this.selectSchool != null) {

                let model = {
                    "id_user": window.localStorage.getItem("USER_ID"),
                    "id_school": this.selectSchool,
                    "is_oauth": 1 // representa verdadero
                }
                let requestBody = {
                    "model": model,
                    "sp": "sp_insUpdUser"
                }
                this.$q.loading.show()
                this.$root.sendData(requestBody).then((result) => {

                    let obj = result.data.data[0]
                    console.log(result)
                    if (obj.Result == "Success") {
                        window.localStorage.setItem("ID_SCHOOL", this.selectSchool)
                        this.$router.push("Home")
                        //  notifyMessage.showNotifySuccess(this.$q, obj.Message);
                    } else {
                        notifyMessage.showNotify(this.$q, 0, obj.message)
                    }
                    this.$q.loading.hide()
                    this.dialogSchool = false

                }).catch((error) => {
                    notifyMessage.showNotifyErrorSrv(this.$q)
                    this.$q.loading.hide()

                });
            } else {
                notifyMessage.showNotify(this.$q, 0, "Seleccione Colegio")
            }
        },

        DialogConditions() {

            this.$q.dialog({
                title: 'Terminos  y condiciones',
                message: 'Texto de prueba de teminos y concidcioens de la  app',
                ok: 'Aceptar',
                cancel: 'Calcelar',
                preventClose: true,
            }).then(() => {
                this.chkConditions = true
            }).catch(() => {

                this.chkConditions = false
            })
        },
        insertPIN(isOauth, id_user) {
            // this.$router.push('PIN') 
            this.$root.$emit('OPEN_MODAL_PIN', isOauth, id_user)

        },

        openRegister() {
            this.visibleRegister = true
        },
        closeRegister() {
            this.visibleRegister = false
        },
        registerModal() {
            // this.$router.push('Register')

            this.openedRegister = true

        },

        oauthRegister() {
            if (this.isGoogle) {
                this.oauthGoogle()
            } else {
                this.oauthFacebook();
            }
        }
    },
    mounted() {
        this.$root.$on('USER_PIN_NUMBERS', (numbers) => {
            this.register.pin = numbers
        })
    },
    created() {

        // AndroidFullScreen.showUnderStatusBar(()=>{

        // }, (error)=>{
        //     alert(error)
        // });
        this.getSchools();
        // if (cordova.platformId == 'android') {
        //     StatusBar.backgroundColorByHexString("#1a2226");
        // }

    },
    watch: {

    },
}
</script>

<style>
.container-img-login{
    height: 50%;
    
}
.container-input-login{

    height: 50%;
    background:#202055;
}
.img-bk {
    height: 100%;
    width: 100%;

    left: 0px;

}

.container-login {
    height: 100vh;
    overflow-x: hidden;
    /* z-index: -1; */
}

.img3-bk {
    height: 100%;
    position: fixed;
    right: 0px;
    /* z-index: 10; */
    scale: 120%
}

.img2-bk {
    height: 100%;
    position: absolute;
    right: 0px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    visibility: hidden
}

@media screen and (min-width: 850px) {
    .img2-bk {
        visibility: visible;
    }
}

.container-btn-login {
    width: 90%;
    text-align: center;
    margin: auto;
}

.btn-white {
    color: #222 !important
}

.dark-bg {
    /* background: rgba(0, 0, 0, .5); */

    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden
}

.container-input {
    width: 100%;
    max-width: 700px;
    z-index: 100;

}

.container-logo {
    position: absolute;
    top: 20%;

    text-align: center;
}

.img-logo {
    margin: auto;
    height: 150px;

}

.content {
    display: flex;
    align-items: center;
    height: 100vh;

}

.btn-login {

    height: 40px;
    width: 100%;
    max-width: 500px;
    /* background: #3F51B5; */
    background: #FFF;

    color: #222;
    /* font-size: 1.2em; */
    text-align: center;
    border-radius: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase
}

.btn-register {
    display: flex;
    margin: auto;
    justify-content: center;
    color: #222;

    padding: 25px;
    /* font-size: 1.2em */
    text-transform: uppercase
}

.register {
    margin-top: 20px;
    font-size: 1em !important
}

/* .q-if-label{
    color: #e2e2e2
}
.q-if:before{
    color: #e2e2e2;
} */

/* REGISTER STYLE */
.container-register {
    position: fixed;
    z-index: 111;
    top: 0px;
    width: 100%;
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.contents {
    overflow-y: scroll;
    height: 100vh;
    z-index: 1000;
}

.header-register {
    display: flex;

}

.text-register {

    margin-left: 10px;
    font-size: 1.8em;
    color: #333;

    position: relative;

    margin-left: 10px;
    text-align: left;
    width: 100%;
    display: inline;
    top: 3px
}

.btn-close {

    color: #333;
    position: relative;
    left: 0px;
    top: 0px;

}

/* .btn-close {
    position: absolute;
    LEFT: 0px;
    TOP: 12PX;
} */
.btn-register {

    /* font-size: 1.3em */
}

.form-signup {
    /* position: absolute; */

    /* position: relative; */

}

/* STYLE SOCIAL BUTTON */

.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.google span {
    background-color: #f44336;
}

.facebook span {
    background-color: #3B5998;
}

.key span {
    background-color: #FDD835;
}

.key {
    background: #37474F;
}

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .fa-google {
    color: #f44336;
}

.icon-button .fa-facebook-f {
    color: #3B5998;
}

.icon-button .fa-key {
    color: #FDD835;
}

.icon-button:hover .fa-facebook-f,
.icon-button:hover .fa-google,
.icon-button:hover .fa-key {
    color: blueviolet;
}

.container-social-button {
    text-align: center
}
</style>
