<template>
  <q-modal v-model="openedPIN" maximized class="dark-bg">
    <div>
      <q-toolbar class="dark-toolbar">
        <q-btn flat round dense size="xl" @click="closeModal" icon="keyboard_arrow_left"/>
        <q-toolbar-title>P I N</q-toolbar-title>
      </q-toolbar>

      <div class="container-pins correct">
        <div>
          <div id="pin">
            <div class="dots">
              <div class="dot" v-bind:class="{ active : dotPin1  }"></div>
              <div class="dot" v-bind:class="{ active : dotPin2 }"></div>
              <div class="dot" v-bind:class="{ active : dotPin3 }"></div>
              <div class="dot" v-bind:class="{ active : dotPin4 }"></div>
            </div>
            <p>{{messagePIN}}</p>

            <div class="numbers">
              <div class="numbers-child">
                <div
                  class="number"
                  @click="pinClick(1); number1= true"
                  :class="{'number-active': number1}"
                  @animationend="number1 = false"
                >1</div>
                <div
                  class="number"
                  @click="pinClick(2); number2= true"
                  :class="{'number-active': number2}"
                  @animationend="number2 = false"
                >2</div>
                <div
                  class="number"
                  @click="pinClick(3); number3= true"
                  :class="{'number-active': number3}"
                  @animationend="number3 = false"
                >3</div>
              </div>
              <div class="numbers-child">
                <div
                  class="number"
                  @click="pinClick(4); number4= true"
                  :class="{'number-active': number4}"
                  @animationend="number4 = false"
                >4</div>
                <div
                  class="number"
                  @click="pinClick(5); number5= true"
                  :class="{'number-active': number5}"
                  @animationend="number5 = false"
                >5</div>
                <div
                  class="number"
                  @click="pinClick(6); number6= true"
                  :class="{'number-active': number6}"
                  @animationend="number6 = false"
                >6</div>
              </div>
              <div class="numbers-child">
                <div
                  class="number"
                  @click="pinClick(7); number7= true"
                  :class="{'number-active': number7}"
                  @animationend="number7 = false"
                >7</div>
                <div
                  class="number"
                  @click="pinClick(8); number8= true"
                  :class="{'number-active': number8}"
                  @animationend="number8 = false"
                >8</div>
                <div
                  class="number"
                  @click="pinClick(9); number9= true"
                  :class="{'number-active': number9}"
                  @animationend="number9 = false"
                >9</div>
              </div>
              <div class="numbers-child">
                <div class="number hide" @click="pinClick(0)"></div>
                <div
                  class="number"
                  @click="pinClick(0); number0= true"
                  :class="{'number-active': number0}"
                  @animationend="number0 = false"
                >0</div>
                <div
                  class="number no-border-number"
                  @click="pinBack(); numberBack= true"
                  :class="{'number-active': numberBack}"
                  @animationend="numberBack = false"
                >
                  <i class="fas fa-backspace"></i>
                </div>
              </div>
            </div>
            <div v-if="isUpdate">
              <q-btn
                label="cancelar"
                color="dark"
                size="md"
                class="mar-rigth-10"
                @click="cancelUpdate"
              ></q-btn>
              <q-btn
                label="siguiente"
                color="dark"
                size="md"
                class="mar-left-10"
                v-if="pinNumbers.length == 4"
                @click="nextPIN"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import * as notifyMessage from "../../script/notify";
export default {
  name: "pin",
  props: {
    isUpdate: Boolean,
    isValidating: Boolean,
    isForceUpdate: Boolean
  },
  created() {
    if (this.isUpdate) {
      this.messagePIN = "Registre su PIN";
    } else {
      this.messagePIN = "Ingrese su PIN";
    }
  },
  mounted() {
    this.$root.$on("OPEN_MODAL_PIN", (isOauth, id_user, isValidating) => {
     
      this.openedPIN = !this.openedPIN;
    
      // this.openedPIN = !this.openedPIN

      this.id_user = id_user;
      this.isOauth = isOauth;
      this.resetDotPin();

      this.messagePIN = "Ingrese su PIN";
      this.$root.$emit("DARK_STATUS_BAR");
    });

  },
  data() {
    return {
      openedPIN: false,
      porcentProgress: 0,
      pinActive: false,
      counterDots: -1,

      dotPin1: false,
      dotPin2: false,
      dotPin3: false,
      dotPin4: false,

      dotsPins: [false, false, false, false],
      isOauth: false,
      id_user: 0,

      numberPin: [
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false
      ],
      successPin: false,
      pinNumbers: "",
      number1: false,
      number2: false,
      number3: false,
      number4: false,
      number5: false,
      number6: false,
      number6: false,
      number7: false,
      number8: false,
      number9: false,
      number0: false,
      numberBack: false,
      tempPIN: "",
      messagePIN: ""
    };
  },
  methods: {
    pinClick(index) {
      this.counterDots++;
      if (this.counterDots > 3) {
        notifyMessage.showNotifyInfo(this.$q, "Presione en siguiente");
        return;
      }

      // for (let i = 0; i < this.numberPin.length; i++) {
      //     this.numberPin[i] = false
      // }
      // this.numberPin[index - 1] = true
      // this.animation = true
      // let auxIndex = index
      this.pinNumbers += index;

      if (this.pinNumbers.length == 4) {
        if (this.isValidating) {
          this.validPin(this.pinNumbers);
        } else {
          // this.dialogPinQuestion();
        }
      }
      if (this.counterDots == 3) {
        if (this.isUpdate) {
          if (this.tempPIN.length == 0) {
            this.tempPIN = this.pinNumbers;
          } else {
            if (this.tempPIN == this.pinNumbers) {
              this.updateUser(this.id_user, this.pinNumbers);
            } else {
              notifyMessage.showNotify(
                this.$q,
                0,
                "El pin no coincide, intente de nuevo"
              );
              this.resetDotPin();
            }
          }
        }
        // this.resetDotPin();
      }
      switch (this.counterDots) {
        case 0:
          this.dotPin1 = true;
          break;
        case 1:
          this.dotPin2 = true;
          break;
        case 2:
          this.dotPin3 = true;
          break;
        case 3:
          this.dotPin4 = true;
          break;
      }
    },
    pinBack() {
      if (this.counterDots >= 3) {
        notifyMessage.showNotifyInfo(this.$q, "Presione en siguiente");
        return;
      }
      if (this.pinNumbers.length > 0) {
        this.pinNumbers = this.pinNumbers.slice(0, -1);
        switch (this.counterDots) {
          case 0:
            this.dotPin1 = false;
            break;
          case 1:
            this.dotPin2 = false;
            break;
          case 2:
            this.dotPin3 = false;
            break;
          case 3:
            this.dotPin4 = false;
            break;
        }
        this.counterDots--;
      }
    },
    validPin(pin) {
      console.log(pin);
      let model = {
        pin: pin,
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_validPIN",
        model: model
      };

      if (window.localStorage.getItem("PIN_USER")) {
        if (window.localStorage.getItem("PIN_USER") == pin) {
          this.openedPIN = false;
          this.$root.$emit("LIGHT_STATUS_BAR");
        }else{
            this.resetDotPin();
           notifyMessage.showNotify(
                this.$q,
                0,
                "PIN incorrecto, intente de nuevo"
              );

        }
      }else {
        console.log("NULL PIN.. USER")
        this.$q.loading.show();

        this.$root
          .sendData(requestBody)
          .then(result => {
            let response = result.data.data;
            if (response[0].Message == "CORECT_PIN") {
              this.openedPIN = false;
              this.$root.$emit("LIGHT_STATUS_BAR");
            } else {
              this.resetDotPin();
              notifyMessage.showNotify(
                this.$q,
                0,
                "PIN incorrecto, intente de nuevo"
              );
            }
            this.$q.loading.hide();
          })
          .catch(error => {
            notifyMessage.showNotifyErrorSrv(this.$q);
            this.$q.loading.hide();
          });
      }
    },

    dialogPinQuestion() {
      let currentPin = this.pinNumbers;
      this.$q
        .dialog({
          title: "PIN",
          message: "¿Es correcto el PIN?",
          ok: "Aceptar",
          preventClose: true,
          cancel: "Calcelar"
        })
        .then(() => {
          if (this.isOauth || this.isUpdate) {
            this.updateUser(this.id_user, currentPin);
          } else {
            this.$root.$emit("USER_PIN_NUMBERS", currentPin);
            this.openedPIN = false;
          }
        })
        .catch(() => {
          this.successPin = true;
          this.resetDotPin();
        });
    },
    updateUser(id_user, pin) {
      this.$q.loading.show();
      let model = {
        pin: pin,
        id_user: id_user
      };
      let requestBody = {
        sp: "sp_insUpdUser",
        model: model
      };

      this.$root
        .sendData(requestBody)
        .then(result => {
          let statusResponse = result.data.data[0].Result;

          if (statusResponse == "Success") {
            this.openedPIN = false;
            this.$q.loading.hide();
            if (!this.isUpdate) {
              this.$router.push("Home");
            } else {
              let message
              if(!window.localStorage.getItem("PIN_USER")){
                message = "PIN registrado correctamente"
              }else{
                 message = "PIN modificado correctamente"
              }
              notifyMessage.showNotify(
                this.$q,
                200,
                message
              );
              this.resetDotPin();
              window.localStorage.setItem("PIN_USER", pin)
            }
          } else {
            this.$q.loading.hide();
            notifyMessage.showNotify(
              this.$q,
              0,
              "Error al registar su PIN, intente de nuevo "
            );
            this.resetDotPin();
          }
        })
        .catch(error => {
          console.log("ERROR UPDATE");
          this.$q.loading.hide();
          notifyMessage.showNotify(this.$q, 0, "Error en el servidor");
          this.resetDotPin();
        });
    },
    closeModal() {
      if (this.isForceUpdate) {
        notifyMessage.showNotifyInfo(this.$q, "Debe registrar su PIN");
        return;
      }
      if (this.isUpdate) {
        this.$root.$emit("LIGHT_STATUS_BAR");
        this.openedPIN = false;
        return;
      }
      // if (this.pinNumbers.length == 4) {
      //     this.openedPIN = false
      // } else {
      //     notifyMessage.showNotifyInfo(this.$q, "Debe ingresar su PIN")
      // }

      if (this.isValidating) {
        this.$root.$emit("LIGHT_STATUS_BAR");
        this.$router.go(-1);
      }
    },
    nextPIN() {
      this.messagePIN = "Confirmar PIN";
      this.dotPin1 = false;
      this.dotPin2 = false;
      this.dotPin3 = false;
      this.dotPin4 = false;
      this.counterDots = -1;
      this.pinNumbers = "";
    },
    resetDotPin() {
      this.dotPin1 = false;
      this.dotPin2 = false;
      this.dotPin3 = false;
      this.dotPin4 = false;
      this.counterDots = -1;
      this.pinNumbers = "";
      this.tempPIN = "";
      if (this.isUpdate) {
        this.messagePIN = "Registre su PIN";
      } else {
        this.messagePIN = "Ingrese su PIN";
      }
    },
    cancelUpdate() {
      this.resetDotPin();
      this.closeModal();
    }
  }
};
</script>
