<template>
  <transition name="slide-fade">
    <q-layout>
      <q-layout class="container-login">
        <div id="back">
          <canvas id="canvas" class="canvas-back"></canvas>

          <div class="backLeft"></div>
          <div class="backRight"></div>
        </div>
        <div id="slideBox" v-bind:class="{marginRigth: right}">
          <div class="topLayer" v-bind:class="{ marginRigth2: right }">
            <div class="container-left">
              <div class="left">
                <div class="content">
                  <h2 class="txt-green">Registrarse</h2>
                  <form id="form-signup" method="post" onsubmit="return false;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <q-field>
                        <q-input
                          v-model="register.username"
                          color="black"
                          @blur="$v.register.username.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.username.$error"
                          float-label="Usuario"
                        />
                      </q-field>
                      <q-field :label-width="3">
                        <q-input
                          v-model="register.password"
                          color="black"
                          float-label="Contraseña"
                          @blur="$v.register.password.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.password.$error"
                          type="password"
                        />
                      </q-field>
                      <q-field>
                        <q-input
                          v-model="register.first_name"
                          color="black"
                          @blur="$v.register.first_name.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.first_name.$error"
                          float-label="Nombres"
                        />
                      </q-field>
                      <q-field>
                        <q-input
                          v-model="register.last_name"
                          color="black"
                          float-label="Apellidos"
                          @blur="$v.register.last_name.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.last_name.$error"
                        />
                      </q-field>
                      <q-field>
                        <q-input
                          v-model="register.mail"
                          type="email"
                          color="black"
                          float-label="Correo"
                          @blur="$v.register.mail.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.mail.$error"
                        />
                      </q-field>
                      <q-field>
                        <q-input
                          v-mask="'#### ##### ####'"
                          color="black"
                          v-model="register.dpi"
                          float-label="DPI"
                          @blur="$v.register.dpi.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.dpi.$error"
                        />
                      </q-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <q-field>
                        <q-datetime
                          v-model="register.birth_day"
                          color="black"
                          type="date"
                          float-label="Fecha nacimiento"
                          @blur="$v.register.birth_day.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.birth_day.$error"
                        />
                      </q-field>
                      <q-field>
                        <q-input
                          v-mask="'#### ####'"
                          v-model="register.phone"
                          color="black"
                          float-label="Numero telefono"
                          placeholder="0"
                          @blur="$v.register.phone.$touch"
                          @keyup.enter="submitRegister"
                          :error="$v.register.phone.$error"
                        />
                      </q-field>

                      <q-select
                        v-model="register.id_school"
                        float-label="Seleccione Colegio"
                        :options="selectOptionsSchool"
                      />

                      <div>
                        <q-checkbox
                          v-model="chkConditions"
                          color="green"
                          label="Acepto los terminos y condiciones     "
                          @click.native="DialogConditions"
                        />
                      </div>
                      <q-field label="Genero">
                        <q-option-group
                          type="radio"
                          color="green"
                          v-model="register.gender"
                          @blur="$v.register.gender.$touch"
                          @keyup.enter="submitRegister"
                          inline
                          :error="$v.register.gender.$error"
                          :options="[
                                    { label: 'Masculino', value: 'M' },
                                    { label: 'Femenino', value: 'F' }

                                    ]"
                        />
                      </q-field>
                      <div class="form-element form-submit center">
                        <div>
                          <!-- <a  class="icon-button key shadow-2">
                                                <i class="fas fa-key" @click="insertPIN"></i>
                                                <span></span>
                          </a>-->
                          <q-btn
                            color="white"
                            class="mar-top-10 color-black"
                            label="Ingresar PIN  de acceso"
                            @click="insertPIN(false, 0)"
                          ></q-btn>
                        </div>

                        <q-btn
                          color="brown"
                          label="Registrarse"
                          class="mar-bottom-10 mar-top-10"
                          :disabled="chkConditions == false"
                          @click="submitRegister"
                        ></q-btn>

                        <q-btn color="brown" flat @click="right = !right" label="Inciar sesion"></q-btn>
                      </div>
                      <!-- <q-btn label="Ingresar PIN" color="primary"  icon="dialpad" class="button-pin" /> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="container-right">
              <div class="right shadow-24">
                <div class="content center">
                  <img src="statics/img/Logo_min.png" alt="Logo" class="img-login">
                  <form class="form-login" method="post" onsubmit="return false;">
                    <div class="container-input">
                      <q-input
                        class="input-light"
                        color="black"
                        v-model="login.username"
                        @blur="$v.login.username.$touch"
                        @keyup.enter="submitLogin"
                        :error="$v.login.username.$error"
                        float-label="Usuario"
                      />
                    </div>
                    <div class="container-input">
                      <q-input
                        class="input-light"
                        color="black"
                        v-model="login.password"
                        @blur="$v.login.password.$touch"
                        @keyup.enter="submitLogin"
                        :error="$v.login.password.$error"
                        float-label="Constraseña"
                        type="password"
                      />
                    </div>
                    <div class="mar-top-btn-login">
                      <!-- <button id="logIn" class="login" type="submit" name="login" @click="submitLogin">Iniciar sesion</button> -->
                      <q-btn
                        color="brown"
                        label="Iniciar Sesion"
                        class="mar-bottom-10"
                        @click="submitLogin"
                      ></q-btn>
                      <!-- <button id="goRight" class="login off" name="signup" @click="right = !right">Registrarse</button> -->
                      <q-btn
                        color="brown"
                        flat
                        label="Registrarse"
                        class="mar-bottom-10"
                        @click="right = !right"
                      ></q-btn>
                      <div class="container-btn-social">
                        <a class="icon-button google shadow-2" @click="oauthGoogle">
                          <i class="fab fa-google"></i>
                          <span></span>
                        </a>
                        <a class="icon-button facebook shadow-2">
                          <i class="fab fa-facebook-f" @click="oauthFacebook"></i>
                          <span></span>
                        </a>
                      </div>

                      <!-- <div class="container-btn-social">
                                         <q-btn label="Iniciar sesion con Facebook"  icon="fab fa-facebook-f" class="mar-top-10 " color="indigo"   @click="oauthFacebook"></q-btn>
                                           <q-btn label="Iniciar sesion con Google" icon="fab fa-google" class="color-black mar-top-10  btn-google"  color="white"   @click="oauthGoogle"></q-btn>

                      </div>-->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal PIN -->
        <div>
          <pin :is-oauth="isOauth"></pin>
        </div>
      </q-layout>
      <q-layout></q-layout>

      <template>
        <q-modal
          v-model="dialogSchool"
          no-backdrop-dismiss
          no-esc-dismiss
          content-css="padding: 40px"
          minimized
        >
          <div class="layout-padding">
            <h3>Colegio</h3>
            <q-select
              v-model="selectSchool"
              float-label="Seleccione Colegio"
              :options="selectOptionsSchool"
            />
            <div class="mar-top-15 right">
              <q-btn label="Guardar" color="primary" @click="saveSchool"></q-btn>
              <q-btn label="Cancelar" color="primary" flat></q-btn>
            </div>
          </div>
        </q-modal>
      </template>
    </q-layout>
  </transition>
</template>

<script>
import {
  required,
  email,
  maxLength,
  minLength
} from "vuelidate/lib/validators";
import Pin from "./Pin";
import * as notifyMessage from "../../script/notify";

export default {
  components: {
    Pin
  },
  data() {
    return {
      selectSchool: null,
      selectOptionsSchool: [],

      //Login
      login: {
        username: "",
        password: ""
      },
      right: false,

      //Register
      register: {
        id_user: null,
        cod_user: null,
        username: null,
        password: null,
        first_name: "",
        last_name: "",
        mail: "",
        dpi: null,
        birth_day: null,
        phone: null,
        gender: null,
        pin: "",
        url_picture: null,
        provider: null,
        id_school: null
      },

      openedRegister: false,
      optionGenero: "",
      chkConditions: false,
      isOauth: false,
      dialogSchool: false,
      isGoogle: false
    };
  },
  validations: {
    login: {
      username: {
        required
      },
      password: {
        required
      }
    },
    register: {
      username: {
        required
      },
      password: {
        required
      },
      first_name: {
        required
      },
      last_name: {
        required
      },
      mail: {
        required,
        email
      },
      dpi: {
        required,
        maxLength: maxLength(15),
        minLength: minLength(15)
      },
      birth_day: {
        required
      },
      phone: {
        required,
        maxLength: maxLength(9),
        minLength: minLength(9)
      },
      gender: {
        required
      },
      id_school: {
        required
      }
    }
  },
  methods: {
    getSchools() {
      var requestBody = {
        sp: "sp_getSchools",
        model: "[]"
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          this.selectOptionsSchool = result.data.data;
          this.$q.loading.hide();
          console.log(result);
          // this.getPictures(this.dataObjects)
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    userPins: function(numbers) {
      this.register.pin = numbers;
      console.log(numbers);
    },
    submitLogin() {
      //  this.$router.push('Home')

      this.$v.login.$touch();
      if (this.$v.login.$error) {
        notifyMessage.showNotifyError(
          this.$q,
          0,
          "Por favor revise los campos de nuevo"
        );
        return;
      } else {
        this.validUser(this.login);
      }
    },
    validUser(model) {
      this.$q.loading.show();
      var requestBody = {
        sp: "sp_selAuthentication",
        model: model
      };

      this.$root
        .sendData(requestBody)
        .then(result => {
          let infoUser = result.data.data;
          let code = result.data.code;
          console.log(result);
          if (code == 200) {
            if (infoUser.length == 0) {
              notifyMessage.showNotify(
                this.$q,
                0,
                "Usuario / contraseña incorrecta"
              );
            } else {
              let obj = result.data.data[0];
              window.localStorage.setItem("USER_ID", obj.id_user);
              window.localStorage.setItem("USER_DISPLAY_NAME", obj.username);
              window.localStorage.setItem("USER_FAMILY_NAME", obj.last_name);
              window.localStorage.setItem("USER_GIVEN_NAME", obj.first_name);
              window.localStorage.setItem("USER_IMAGE_URL", "");
              window.localStorage.setItem("USER_EMAIL", obj.mail);
              window.localStorage.setItem("ID_SCHOOL", obj.id_school);

              this.$router.push("Home");
            }
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          window.plugins.googleplus.logout(function(msg) {});

          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },
    oauthFacebook() {
      this.isGoogle = false;
      var context = this.$root;
      var cnxt = this;
      OAuth.initialize("Fcdn9FAU7dhM0TzQ7umztVA28NM");
      OAuth.popup("facebook")
        .done(res => {
          window.localStorage.setItem("ACCESS_TOKEN", res.access_token),
            context
              .getData(
                "https://graph.facebook.com/me?fields=name,first_name,last_name,email,picture,id&access_token=" +
                  res.access_token
              )
              .then(result => {
                console.log(result);

                window.localStorage.setItem("USER_ID", result.data.id);
                window.localStorage.setItem(
                  "USER_DISPLAY_NAME",
                  result.data.name
                );
                window.localStorage.setItem(
                  "USER_LAST_NAME",
                  result.data.last_name
                );
                window.localStorage.setItem(
                  "USER_FIRST_NAME",
                  result.data.first_name
                );
                window.localStorage.setItem(
                  "USER_IMAGE_URL",
                  result.data.picture.data.url
                );
                window.localStorage.setItem("USER_EMAIL", result.data.email);

                (this.register.id_user = null),
                  (this.register.cod_user = result.data.id),
                  (this.register.username = result.data.name),
                  (this.register.password = null),
                  (this.register.first_name = result.data.first_name),
                  (this.register.last_name = result.data.last_name),
                  (this.register.mail = result.data.email),
                  (this.register.dpi = null),
                  (this.register.birth_day = null),
                  (this.register.phone = null),
                  (this.register.gender = null),
                  (this.register.pin = null),
                  (this.register.url_picture = result.data.picture.data.url),
                  (this.register.provider = "FACEBOOK");

                if (result.data.email == null) {
                  this.register.mail = result.data.id;
                }

                console.log(this.register);
                this.saveData(this.register, true);
              })
              .catch(error => {
                console.log(error);
              });
        })
        .fail(err => {
          console.log(err);
          console.log(err.message);
        });
    },
    oauthGoogle() {
      this.isGoogle = true;
      window.plugins.googleplus.logout(function(msg) {
        window.localStorage.clear();
      });
      console.log("google");

      window.plugins.googleplus.login(
        {
          scopes: "email profile"
        },
        result => {
          window.localStorage.setItem("USER_ACCESS_TOKEN", result.accessToken);
          window.localStorage.setItem("USER_ID", result.userId);
          window.localStorage.setItem("USER_DISPLAY_NAME", result.displayName);
          window.localStorage.setItem("USER_LAST_NAME", result.familyName);
          window.localStorage.setItem("USER_FIRST_NAME", result.givenName);
          window.localStorage.setItem("USER_IMAGE_URL", result.imageUrl);
          window.localStorage.setItem("USER_EMAIL", result.email);

          (this.register.id_user = null),
            (this.register.cod_user = result.userId),
            (this.register.username = result.displayName),
            (this.register.password = null),
            (this.register.first_name = result.givenName),
            (this.register.last_name = result.familyName),
            (this.register.mail = result.email),
            (this.register.dpi = null),
            (this.register.birth_day = null),
            (this.register.phone = null),
            (this.register.gender = null),
            (this.register.pin = null),
            (this.register.url_picture = result.imageUrl),
            (this.register.provider = "GOOGLE");

          if (result.email == null) {
            this.register.email = result.userId;
          }

          this.saveData(this.register, true);
          console.log(result);
        },
        msg => {
          console.log(msg);
        }
      );
    },

    submitRegister() {
      this.$v.register.$touch();
      if (this.$v.register.$error || this.register.pin.length != 4) {
        console.log(this.pinNumbers);

        if (this.$v.register.$error) {
          if (this.register.gender == null) {
            notifyMessage.showNotify(this.$q, 0, "Seleccione genero");
            return;
          }
          notifyMessage.showNotify(
            this.$q,
            0,
            "Por favor revise los campos de nuevo"
          );
          return;
        }
        if (this.register.pin.length != 4) {
          notifyMessage.showNotify(this.$q, 0, "Ingrese su PIN");
          return;
        }
      } else {
        this.saveData(this.register, false);
      }
      //this.$router.push('Home')
    },
    saveData(model, isOauth) {
      this.$q.loading.show();
      var requestBody = {
        sp: "sp_insUpdUser",
        model: model
      };
      this.$q.loading.show();
      this.$root
        .sendData(requestBody)
        .then(result => {
          let message = result.data.data[0].Message;
          let statusResponse = result.data.data[0].Result;
          let id_user = result.data.data[0].Identity;
          let id_school = result.data.data[0].id_school;
          let code = result.data.code;

          if (code == 200) {
            if (statusResponse == "Success") {
              window.localStorage.setItem("USER_ID", id_user);
              if (isOauth) {
                if (id_school == null) {
                  this.dialogSchool = true;

                  // this.setUserSchool(id_user)
                } else {
                  window.localStorage.setItem("ID_SCHOOL", id_school);
                  this.$router.push("Home");
                }
                // this.insertPIN(isOauth, id_user)
              } else {
                notifyMessage.showNotify(this.$q, code, message);
                let model = {
                  username: this.register.username,
                  password: this.register.password
                };

                this.validUser(model);
              }
              this.$q.loading.hide();
            } else {
              this.$q.loading.hide();
              notifyMessage.showNotify(this.$q, 0, message);
              if (isOauth) {
                window.localStorage.clear();
              }
            }
          }
          console.log("Save data");
          console.log(result);
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },

    saveSchool() {
      if (this.selectSchool != null) {
        let model = {
          id_user: window.localStorage.getItem("USER_ID"),
          id_school: this.selectSchool,
          is_oauth: 1 // representa verdadero
        };
        let requestBody = {
          model: model,
          sp: "sp_insUpdUser"
        };
        this.$q.loading.show();
        this.$root
          .sendData(requestBody)
          .then(result => {
            let obj = result.data.data[0];
            console.log(result);
            if (obj.Result == "Success") {
              window.localStorage.setItem("ID_SCHOOL", this.selectSchool);
              this.$router.push("Home");
              //  notifyMessage.showNotifySuccess(this.$q, obj.Message);
            } else {
              notifyMessage.showNotify(this.$q, 0, obj.message);
            }
            this.$q.loading.hide();
            this.dialogSchool = false;
          })
          .catch(error => {
            notifyMessage.showNotifyErrorSrv(this.$q);
            this.$q.loading.hide();
          });
      } else {
        notifyMessage.showNotify(this.$q, 0, "Seleccione Colegio");
      }
    },

    DialogConditions() {
      this.$q
        .dialog({
          title: "Terminos  y condiciones",
          message: "Texto de prueba de teminos y concidcioens de la  app",
          ok: "Aceptar",
          cancel: "Calcelar",
          preventClose: true
        })
        .then(() => {
          this.chkConditions = true;
        })
        .catch(() => {
          this.chkConditions = false;
        });
    },
    insertPIN(isOauth, id_user) {
      // this.$router.push('PIN')
      this.$root.$emit("OPEN_MODAL_PIN", isOauth, id_user);
    },

    registerModal() {
      // this.$router.push('Register')

      this.openedRegister = true;
    },

    oauthRegister() {
      if (this.isGoogle) {
        this.oauthGoogle();
      } else {
        this.oauthFacebook();
      }
    }
  },
  mounted() {
    this.$root.$on("USER_PIN_NUMBERS", numbers => {
      this.register.pin = numbers;
    });
  },
  created() {
    // AndroidFullScreen.showUnderStatusBar(()=>{

    // }, (error)=>{
    //     alert(error)
    // });
    this.getSchools();
    // if (cordova.platformId == 'android') {
    //     StatusBar.backgroundColorByHexString("#1a2226");
    // }
  },
  watch: {}
};
</script>

<style>
@import url("../../css/Login.css");
</style>
