<template>
  <q-modal v-model="openedPIN" maximized class="dark-bg">
    <div>
      <q-toolbar class="dark-toolbar">
        <q-btn flat round dense size="xl" @click="closeModal" icon="keyboard_arrow_left"/>
        <q-toolbar-title>P I N</q-toolbar-title>
      </q-toolbar>

      <div class="container-pins correct">
        <div>
          <div id="pin">
            <div class="dots">
              <div class="dot" v-bind:class="{ active : dotPin1  }"></div>
              <div class="dot" v-bind:class="{ active : dotPin2 }"></div>
              <div class="dot" v-bind:class="{ active : dotPin3 }"></div>
              <div class="dot" v-bind:class="{ active : dotPin4 }"></div>
            </div>
            <p>Introdusca su PIN</p>
            <div class="numbers">
              <div class="number" @click="pinClick(1)">1</div>
              <div class="number" @click="pinClick(2)">2</div>
              <div class="number" @click="pinClick(3)">3</div>
              <div class="number" @click="pinClick(4)">4</div>
              <div class="number" @click="pinClick(5)">5</div>
              <div class="number" @click="pinClick(6)">6</div>
              <div class="number" @click="pinClick(7)">7</div>
              <div class="number" @click="pinClick(8)">8</div>
              <div class="number" @click="pinClick(9)">9</div>
              <div class="number hide" @click="pinClick(0)"></div>
              <div class="number" @click="pinClick(0)">0</div>
              <div class="number no-border-number" @click="pinBack()">
                <i class="fas fa-backspace"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import * as notifyMessage from "../../script/notify";
export default {
  name: "pin",
  props: {
    isUpdate: Boolean,
    isValidating: Boolean
  },

  mounted() {
    this.$root.$on("OPEN_MODAL_PIN", (isOauth, id_user, isValidating) => {
      if (isValidating) {
        this.openedPIN = !this.openedPIN;
      } else {
        this.openedPIN = !this.openedPIN;
      }
      // this.openedPIN = !this.openedPIN

      this.id_user = id_user;
      this.isOauth = isOauth;
    });
  },
  data() {
    return {
      openedPIN: false,
      porcentProgress: 0,
      pinActive: false,
      counterDots: -1,

      dotPin1: false,
      dotPin2: false,
      dotPin3: false,
      dotPin4: false,

      dotsPins: [false, false, false, false],
      isOauth: false,
      id_user: 0,

      numberPin: [
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false
      ],
      successPin: false,
      pinNumbers: ""
    };
  },
  methods: {
    pinClick(index) {
      this.counterDots++;

      // for (let i = 0; i < this.numberPin.length; i++) {
      //     this.numberPin[i] = false
      // }
      // this.numberPin[index] = true
      // let auxIndex = index
      this.pinNumbers += index;

      if (this.pinNumbers.length == 4) {
        if (this.isValidating) {
          this.validPin(this.pinNumbers);
        } else {
          this.dialogPinQuestion();
        }
      }
      if (this.counterDots == 3) {
        this.resetDotPin();
      }
      switch (this.counterDots) {
        case 0:
          this.dotPin1 = true;
          break;
        case 1:
          this.dotPin2 = true;
          break;
        case 2:
          this.dotPin3 = true;
          break;
        case 3:
          this.dotPin4 = true;
          break;
      }
    },
    pinBack() {
      if (this.pinNumbers.length > 0) {
        this.pinNumbers = this.pinNumbers.slice(0, -1);
        switch (this.counterDots) {
          case 0:
            this.dotPin1 = false;
            break;
          case 1:
            this.dotPin2 = false;
            break;
          case 2:
            this.dotPin3 = false;
            break;
          case 3:
            this.dotPin4 = false;
            break;
        }
        this.counterDots--;
      }
    },
    validPin(pin) {
      console.log(pin);
      let model = {
        pin: pin,
        id_user: window.localStorage.getItem("USER_ID")
      };
      var requestBody = {
        sp: "sp_validPIN",
        model: model
      };

      this.$q.loading.show();

      this.$root
        .sendData(requestBody)
        .then(result => {
          let response = result.data.data;
          if (response[0].Message == "CORECT_PIN") {
            this.openedPIN = false;
          } else {
            notifyMessage.showNotify(
              this.$q,
              0,
              "PIN incorrecto, intente de nuevo"
            );
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          notifyMessage.showNotifyErrorSrv(this.$q);
          this.$q.loading.hide();
        });
    },

    dialogPinQuestion() {
      let currentPin = this.pinNumbers;
      this.$q
        .dialog({
          title: "PIN",
          message: "¿Es correcto el PIN?",
          ok: "Aceptar",
          preventClose: true,
          cancel: "Calcelar"
        })
        .then(() => {
          if (this.isOauth || this.isUpdate) {
            this.updateUser(this.id_user, currentPin);
          } else {
            this.$root.$emit("USER_PIN_NUMBERS", currentPin);
            this.openedPIN = false;
          }
        })
        .catch(() => {
          this.successPin = true;
          this.resetDotPin();
        });
    },
    updateUser(id_user, pin) {
      this.$q.loading.show();
      let model = {
        pin: pin,
        id_user: id_user
      };
      let requestBody = {
        sp: "sp_insUpdUser",
        model: model
      };

      this.$root
        .sendData(requestBody)
        .then(result => {
          let statusResponse = result.data.data[0].Result;

          if (statusResponse == "Success") {
            this.openedPIN = false;
            this.$q.loading.hide();
            if (!this.isUpdate) {
              this.$router.push("Home");
            } else {
              notifyMessage.showNotify(
                this.$q,
                200,
                "PIN modificado correctamente "
              );
            }
          } else {
            console.log("user UDPATE");
            this.$q.loading.hide();
            notifyMessage.showNotify(
              this.$q,
              0,
              "Error al registar su PIN, intente de nuevo "
            );
            this.resetDotPin();
          }
        })
        .catch(error => {
          console.log("ERROR UPDATE");
          this.$q.loading.hide();
          notifyMessage.showNotify(this.$q, 0, "Error en el servidor");
          this.resetDotPin();
        });
    },
    closeModal() {
      if (this.isUpdate) {
        this.openedPIN = false;
        return;
      }
      // if (this.pinNumbers.length == 4) {
      //     this.openedPIN = false
      // } else {
      //     notifyMessage.showNotifyInfo(this.$q, "Debe ingresar su PIN")
      // }
      if (this.isValidating) {
        this.$router.go(-1);
      }
    },
    resetDotPin() {
      this.dotPin1 = false;
      this.dotPin2 = false;
      this.dotPin3 = false;
      this.dotPin4 = false;
      this.counterDots = -1;
      this.pinNumbers = "";
    }
  }
};
</script>
