<template>
<div id="q-app">
    <template v-if="$route.meta.public">
        <router-view></router-view>
    </template>
    <template v-else>

        <q-layout class="container-main">
            <app-drawer></app-drawer>
            <div class="bar-bottom"></div>
        </q-layout>
    </template>
    <template>
        <div class="container-message">
            <div v-if="!internetStatus" class="message-internet shadow-4">No estás conectado a Internet.</div>

        </div>
    </template>
    <pin :is-oauth="isOauth" :is-update="isUpdate" :is-validating="isValidating" :is-force-update="isForceUpdate"></pin>

</div>
</template>

<script>
import AppDrawer from './components/NavigationDrawer/AppDrawer'
import pullToRefresh from 'mobile-pull-to-refresh'
import Pin from './components/LoginUser/Pin'

// Import the style you want

// Mater
export default {
    name: 'App',
    components: {
        AppDrawer,
        Pin

    },
    data() {
        return {
            drawer: false,
            internetStatus: true,
            isOauth: false,
            isUpdate: false,
            isValidating: true,
            openedModal: false,
            isForceUpdate: false
        }
    },
    created() {
        StatusBar.overlaysWebView(false);

        // if(window.localStorage.getItem("USER_ID") != '-1'){
        //         this.$router.push('Home')
        //         alert(window.localStorage.getItem("USER_ID"))

        // }
        //  if (cordova.platformId == 'android') {
        //         StatusBar.backgroundColorByHexString("#0D47A1");
        // }
        // this.cordova.on('deviceready', () => {
        //     window.addEventListener('focusin', (e) => {
        //         if (e.target.tagName === 'INPUT' || e.target.tagName === 'TEXTAREA') {
        //             var input = e.target
        //             window.addEventListener('native.showkeyboard', (e) => {
        //                 input.scrollIntoView(false)
        //             }, {
        //                 once: true
        //             })
        //         }
        //     })
        // })
        // window.addEventListener('native.keyboardshow', function (e) {
        //     setTimeout(function () {
        //         document.activeElement.scrollIntoViewIfNeeded();
        //     }, 100);
        // });
     

        if (window.localStorage.getItem("USER_ID")) {
            this.$router.push("Home")
        }else{
             this.$router.push("Login")
        }
        // document.addEventListener('deviceready', function () {
        //    cordova.plugins.statusbarOverlay.hide();
        // }, false);

        document.addEventListener("offline", () => {
            this.internetStatus = false
        }, false);
        document.addEventListener("online", () => {
            // alert("ACCESS NETWORK")
            this.internetStatus = true
        }, false);

    },
    computed: {

    },
    methods: {
        showPin(id_user, isUpdate, isValidating, isForceUpdate) {
            // this.$router.push('PIN') 
            this.isUpdate = isUpdate
            this.isValidating = isValidating
            this.isForceUpdate = isForceUpdate
            this.$root.$emit('OPEN_MODAL_PIN', false, id_user, true)

        },

    },
    mounted() {
        
        if (window.localStorage.getItem("USER_ID")) {

            this.showPin(window.localStorage.getItem("USER_ID"), false, true)

        }
        this.$root.$on("OPEN_MODAL_PIN_UPDATE", (isForceUpdate) => {
            this.showPin(window.localStorage.getItem("USER_ID"), true, false, isForceUpdate)
        })
        this.$root.$on("SHOW_STATUS_BAR", () => {
           
            // if (cordova.platformId == 'android') {
            StatusBar.backgroundColorByHexString("#0E072D");
            // }

        })
        this.$root.$on("HIDE_STATUS_BAR", () => {
            // StatusBar.hide()
        })
        this.$root.$on("LIGHT_STATUS_BAR", () => {
         
            StatusBar.backgroundColorByHexString("#0E072D");
         

        })
          this.$root.$on("DARK_STATUS_BAR", () => {
      
            // if (cordova.platformId == 'android') {
            StatusBar.backgroundColorByHexString("#111");
            // }

        })
        this.$root.$on("ERROR_LOAD", () => {
            this.$router.push('ErrorLoad')
        })

    },
    watch: {
        $route(to, from) {
            if (!window.localStorage.getItem("USER_ID") ) {
                this.$router.push('Login')
            }

            if (to.meta.pin) {
                // if (cordova.platformId == 'android') {
                //     StatusBar.backgroundColorByHexString("#263238");
                // }
                this.showPin(window.localStorage.getItem("USER_ID"), false, true)
            }

        },

    }
}
</script>

<style>
@import url('./css/Login.css');

.message-internet {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);

    position: fixed;
    width: 80%;
    color: #fff;
    bottom: 30px;
    z-index: 100000;
    padding: 13px 17px;
    border-radius: 20px;
    text-align: center;
    max-width: 420px;

}

.container-message {
    display: flex;
    justify-content: center;
}

.container-main {
    padding-top: 70px;
    padding-bottom: 30px;
}

.bar-bottom {
    position: fixed;
    height: 30px;
    background: #202055;
    width: 100%;
    z-index: 1000;
    bottom: 0px;
}

@media (min-width : 760px) {
    .container-main {
        padding-top: 80px;

    }
}
</style>
