<template>
  <a @click="Auth();" :class="class2">
    <span :class="class1"></span> Sign in with facebook
  </a>
</template>
<script>
export default {
  data() {
    return {
      class1: "fa fa-facebook" ,
      class2: "btn btn-block btn-social btn-facebook",
      access_token: ""
    };
  },
  created() {
    OAuth.initialize("Fcdn9FAU7dhM0TzQ7umztVA28NM");
  },
  methods: {
    Auth() {
      OAuth.initialize("Fcdn9FAU7dhM0TzQ7umztVA28NM")
      OAuth.popup("facebook")
        .done(res => {
          console.log(res);
          console.log(res.access_token);
        })
        .fail(err => {
          //todo when the OAuth flow failed
        });
    }
  }
};
</script>
<style>
  @import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.css";
  @import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css";
  @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
</style>