<template>
  <transition name="slide-fade">
    <div>
      <h3 class="title-main text-center">
        <span class="mar-left-10">mi código</span>
      </h3>
      <q-layout class="layout-padding">
        <div class="row center-qr mar-bottom-10">
          <qr-code class="q-display-3 qr-code center" :text="type + ':'+ id"></qr-code>
        </div>
      </q-layout>
      <div class="line"></div>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      id: window.localStorage.getItem("USER_ID"),
      //id : 7,
      type: "USER"
    };
  }
};
</script>

<style>
.centerQR {
  display: inline-block;
}

.numbersQR {
  font-size: 40px;
  /* font-family: 'Major Mono Display', monospace; */
}
.qr-code {
  color: #aaa;
  padding-top: 45px;
}
.line {
  background: #c8f20c;
  height: 1.5px;
  width: 90%;
  margin: auto;
  position: relative;
  top: 40px;
}
</style>
